﻿@{
    ViewBag.Title = "Xem chi tiết liên hệ";
    ViewBag.menuid = "contact";

}
@model MainProject.Core.Contacts
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Chi tiết thông tin liên hệ</h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Thông tin liên hệ</a></li>
        <li class="active">Chi tiết</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                  <td><label>Họ tên</label></td>
                                  <td>@Html.Raw(Model.Name)</td>
                                </tr>
                                <tr>
                                  <td><label>Điện thoại</label></td>
                                  <td>@Html.Raw(Model.Phone)</td>
                                </tr>
                                <tr>
                                  <td><label>Email</label></td>
                                  <td>@Html.Raw(Model.Email)</td>
                                </tr>
                                <tr>
                                  <td><label>Nội dung</label></td>
                                  <td>@Html.Raw(Model.Content)</td>
                                </tr>
                                <tr>
                                  <td><label>Thời gian</label></td>
                                  <td>@Html.Raw(Model.CreatedDate)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->