﻿@{
    ViewBag.Title = "Quản lý liên hệ";
    ViewBag.menuid = "contact";
    int index = 1;
}
@using MainProject.Framework.Models
@model MainProject.Web.Areas.Admin.Models.Contact.ContactViewModel

<!-- CSS files of Setting Index page -->
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.css")">


<!-- JS files of setting index page -->
<!-- DataTables -->
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.min.js")"></script>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Thông tin liên hệ</h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Thông tin liên hệ</a></li>
        <li class="active">Danh sách liên hệ</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-body">
                <p>
                    @Html.Raw(TempData["message"])
                </p>
                <div class="col-xs-4">
                        <label>Nội dung</label>
                        <input type="text" class="form-control" value="@(Model.Name??"")" id="filter-name" name="filter-name" onchange="FilterName()"/>
                </div>
                <div class="col-xs-1 nopadding">
                    <div class="form-group" style="padding-top:25px;">
                        <button type="button" class="btn btn-block btn-primary btn-flat" onclick="Filter();">Lọc</button>
                    </div>
                </div>
                <div class="clearfix" ></div>
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Điên thoại</th>
                        <th>Ngày gửi</th>
                        <th class="text-center">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.ListContactContent)
                    {
                        string bgclass = "";
                        if (index % 2 == 0)
                        {
                            bgclass = "even";
                        }
                        else
                        {
                            bgclass = "odd";
                        }
                        <tr class="@bgclass">
                            <td>@(index++)</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.CreatedDate</td>
                            <td class="containIcon text-center">
                            @if (ViewBag.IsDetail != null)
                            {
                                <a href="/Admin/ContactAdmin/Detail/@item.Id" class="btn btn-default" title="Xem chi tiết">
                                    <i class="fa fa-search"></i>
                                </a>
                            }
                            @if (ViewBag.IsDelete != null)
                            {
                                <span id="category-delete" class="btn bg-red delete-btn" data-toggle="modal" data-target="#categorymodel-delete-confirmation" data-id="@item.Id">
                                    <i class="fa fa-trash-o"></i>
                                </span>
                            }
                            </td>
                        </tr>
                    }
                </tbody>
                </table>
                <div class="dataTables_paginate">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
                </div>
            </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<div id="categorymodel-delete-confirmation" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="categorymodel-delete-confirmation-title" style="display: none; padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="categorymodel-delete-confirmation-title">Are you sure?</h4>
            </div>
            <form action="" method="post" novalidate="novalidate" id="popup-delete">
                <div class="form-horizontal">
                    <div class="modal-body">
                        Are you sure you want to delete this item?
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-default" data-dismiss="modal">No, cancel</span>
                        <button type="submit" class="btn btn-danger pull-right">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function FilterName() {
        var name = $("#filter-name")[0].value;
        document.location = "?name=" + name;
        }  

    $(document).ready(function () {
        $('#category-delete').attr("data-toggle", "modal").attr("data-target", "#categorymodel-delete-confirmation")
    });

    $(".delete-btn").on("click", function () {
        $("#popup-delete").attr("action", "/Admin/ContactAdmin/Delete/" + $(this).attr("data-id"));
    })
</script>