﻿@using MainProject.Framework.Models
@using MainProject.Framework.Helper
@model MainProject.Service.Models.ViewModel.Faq.IndexViewModel
<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        @{Html.RenderAction("_ShowMenuMobie", "Home");}
    </div>
    <div class="col-full">


        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">

                <div class="content document-page faq-page">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <nav class="breadcrumb">
                                    @Html.Raw(MvcHtmlHelper.GenerateBreadcum(Model.SEOModel.Url, "/"))
                                </nav><!-- .breadcrumb -->
                                <div class="document-box">
                                    <div class="row">

                                        <!-- sidebar -->
                                        <div class="col-md-4 col-xl-3">
                                            <div class="side-nav hidden-md-down">
                                                <h5 class="box-title"> <i class="ty ty-fw ty-question"> </i>Hỗ trợ</h5>
                                                @{Html.RenderAction("_ShowMenuSupport", "Home", new { order = 2 });}
                                            </div>
                                        </div>

                                        <!-- content -->
                                        <div class="col-lg-8 col-xl-9">
                                            <div class="detail-content">
                                                <h2 class="content-box-title"><i class="ty ty-icon"> </i>FAQs</h2>
                                                <div class="post-content">
                                                    <div class="alert alert-info">
                                                        @Html.Raw(Model.Title)
                                                    </div>
                                                    <div id="contentAccordion" role="tablist" aria-multiselectable="true" class="accordion">
                                                        @foreach (var item in Model.Faqs)
                                                        {
                                                            <div class="card">
                                                                <div id="contentHeadingOne" role="tab" class="card-header">
                                                                    <h5 class="mb-0"><a data-toggle="collapse" data-parent="#accordion" href="#faq-53942" aria-expanded="true" aria-controls="collapseOne" class="collapsed"><span><i class="ty ty-question"></i>@item.Question</span><i class="ty ty-plus"></i><i class="ty ty-circle-minus"> </i></a></h5>
                                                                </div>
                                                                <div id="faq-53942" role="tabpanel" aria-labelledby="contentHeadingOne" class="collapse">
                                                                    <div class="card-block">
                                                                        <p style="text-align: justify;">
                                                                            <span>
                                                                                @item.Answer
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main><!-- #main -->
        </div><!-- #primary -->


    </div><!-- .col-full -->
</div>