﻿@{
    ViewBag.Title = "Chỉnh sửa tài nguyên";
    ViewBag.menuid = "resource";
}
@model MainProject.Core.StringResourceValue

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Tài nguyên
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Tài nguyên</a></li>
        <li class="active">Chỉnh sửa</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <!-- left column -->
            <!-- general form elements -->
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Chỉnh sửa</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            @using(Html.BeginForm())
            {
                <strong style="color: red">@Html.ValidationSummary(true)</strong>
                @Html.HiddenFor(d=>d.Id)
                <div class="box-body">
                <div class="form-group">
                    <label>Từ khóa</label>
                    @Html.TextBoxFor(d => d.Key.Name, new { @class="form-control", @readonly="readonly"  })
                    @Html.ValidationMessageFor(d=>d.Key.Name)
                </div>
                <div class="form-group">
                    <label>Giá trị</label>
                    @Html.TextAreaFor(d => d.Value, new { @style = "min-height:200px; ", @class = "form-control" })
                    @Html.ValidationMessageFor(d=>d.Value)
                </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            }
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->