@font-face {
  font-family: 'icomoon';
  src:  url('font-icon/icomoon.eot?tscdir');
  src:  url('font-icon/icomoon.eot?tscdir#iefix') format('embedded-opentype'),
    url('font-icon/icomoon.ttf?tscdir') format('truetype'),
    url('font-icon/icomoon.woff?tscdir') format('woff'),
    url('font-icon/icomoon.svg?tscdir#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-Calendar-icon:before {
  content: "\e90f";
  color: #b7b7b7;
}
.ic-Arrow-detail-icon:before {
  content: "\e900";
  color: #f6b26d;
}
.ic-Arrow-left:before {
  content: "\e901";
}
.ic-Arrow-right:before {
  content: "\e902";
}
.ic-Card-icon-style-2:before {
  content: "\e903";
}
.ic-Card-icon:before {
  content: "\e904";
}
.ic-Facebook-icon:before {
  content: "\e905";
}
.ic-Home-icon:before {
  content: "\e906";
}
.ic-Mail-icon:before {
  content: "\e907";
}
.ic-Phone-icon:before {
  content: "\e908";
}
.ic-Play-button-icon:before {
  content: "\e909";
  color: #f6b26d;
}
.ic-Plus:before {
  content: "\e90a";
}
.ic-Purcha-icon:before {
  content: "\e90b";
}
.ic-Search-icon:before {
  content: "\e90c";
}
.ic-Youtube-icon:before {
  content: "\e90e";
}
