@font-face {
font-family: 'UTM-AVO';
src: url('font/UTMAVO.TTF'); /* IE9 Compat Modes */
src: url('font/UTMAVO.TTF')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
font-family: 'UTM-AVOBOLD';
src: url('font/UTMAVOBOLD.TTF'); /* IE9 Compat Modes */
src: url('font/UTMAVOBOLD.TTF')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
font-family: 'OpenSans-Regular';
src: url('font/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
src: url('font/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
font-family: 'SWISSBLACKCONDENSED';
src: url('font/UTM SWISS 721 BLACK CONDENSED.TTF'); /* IE9 Compat Modes */
src: url('font/UTM SWISS 721 BLACK CONDENSED.TTF')  format('truetype'), /* Safari, Android, iOS */
}

.phone-call {
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    right: 0;
    max-width: 95%;
    display: none;
}
.phone-call .phone{
    position:absolute;
    font-family:UTMAVOBOLD;
    color:#fff;
    background:#000;
    background:url('../../resources/images/phone.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    opacity:0;
    transition:all 400ms;
}
.phone-call:hover .phone{
            opacity: 1;
        }
.phone-call .icon-phone {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: 50;
    background: #337ab7 url("../../resources/images/phone.png") no-repeat center center;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}
.phone-call .icon-phone:hover {
    background-color: #17479e
}

.phone-call .tooltip {
    font-size: 16px;
    padding: 5px 5px
}

.phone-call .fill-animation-1 {
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    position: absolute;
    background-color: #17479e;
    border-radius: 100% !important;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.phone-call .fill-animation-2 {
    width: 140px;
    height: 140px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
    position: absolute;
    background-color: transparent;
    border-radius: 100% !important;
    border: 2px solid rgba(23, 71, 158, 0.76);
    border: 2px solid #bfebfc 9;
    opacity: .1;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.phone-call .fill-animation-3 {
    width: 140px;
    height: 140px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
    position: absolute;
    background-color: transparent;
    border-radius: 100% !important;
    background-color: #fff;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}
@keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.5) skew(1deg);
        -webkit-opacity: 0.1
    }
    30% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        -webkit-opacity: 0.5
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: 0.1
    }
}

@keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2
    }
    100% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2
    }
}

@keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    60% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    80% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}