﻿@model MainProject.Web.Areas.Admin.Models.Districts.DistrictViewModel
@{
    ViewBag.Title = "Chỉnh sửa quận/huyện";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Quận/Huyện
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Chi nhánh liên hệ</a></li>
            <li class="active">Quận/Huyện</li>
            <li class="active">Chỉnh sửa</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">chỉnh sửa</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                @using(Html.BeginForm())
                {
                    <div class="box-body">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.OriginalValue)

                        <div class="form-group col-xs-4 nopadding">
                            <label>Thành phố</label>
                            @Html.DropDownListFor(d => d.ParentSelectedValue, Model.Parents, new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.ParentSelectedValue)
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label>Tên quận/huyện</label>
                            @Html.TextBoxFor(d => d.Name, new { @class="form-control"})
                            @Html.ValidationMessageFor(d=>d.Name)
                        </div>
                        <div class="form-group col-xs-2 nopadding">
                            <label>Thứ tự</label>
                            @Html.EditorFor(d => d.Order)
                            @Html.ValidationMessageFor(d=>d.Order)
                        </div>
                        <div class="clearfix" ></div>
                        <div class="form-group col-xs-2 nopadding">
                            <label>Lng:</label>
                            @Html.EditorFor(d => d.Lng)
                            @Html.ValidationMessageFor(d=>d.Lng)
                        </div>
                        <div class="clearfix" ></div>
                        <div class="form-group col-xs-2 nopadding">
                            <label>Lat:</label>
                            @Html.EditorFor(d => d.Lat)
                            @Html.ValidationMessageFor(d=>d.Lat)
                        </div>
                        <div class="clearfix" ></div>
                        <div class="form-group">
                            @Html.CheckBoxFor(d => d.IsPublished)
                            <label>Hiển thị</label>
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                }
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $("#Order").addClass("form-control")
    $("#Lng").addClass("form-control")
    $("#Lat").addClass("form-control")
</script>
