﻿@using MainProject.Framework.Models
@using MainProject.Framework.Helper
@model MainProject.Service.Models.ViewModel.News.DetailViewModel

<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="https://thuongyen.com/to-yen/" target="_blank"><i class="ty ty-fw ty-nest color-nest text-primary"></i><span>Yến Sào</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/yen-chung-tuoi/" target="_blank"><i class="ty ty-fw ty-dairy color-dairy text-primary"></i><span>Yến Chưng Tươi</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/qua-tang/" target="_blank"><i class="ty ty-fw ty-gift color-gift text-primary"></i><span>Quà Doanh Nghiệp</span></a></li>
            <!-- <li class="nav-item"><a data-toggle="modal" data-target="#aloModal"><i class="ty ty-fw ty-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li> -->
            <li class="nav-item"><a href="https://thuongyen.com/bang-phan-loai-yen-sao-va-cam-ket-mua-hang-thuong-yen/" target="_blank"><i class="ty ty-fw ty-handshake color-dairy text-primary"></i><span>Cam kết mua hàng</span></a></li>
            <li class="nav-item"><a href="tel:02839123678"><i class="ty ty-fw ty-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li>
        </ul>
    </div>
    <div class="col-full">


        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">

                <div class="content post-detail">

                    <div id="carousel-154" data-ride="carousel" class="carousel main-slider slide">
                        <ol class="carousel-indicators"><li data-target="#carousel-154" data-slide-to="0" class=""></li><li data-target="#carousel-154" data-slide-to="1" class="active"></li><li data-target="#carousel-154" data-slide-to="2"></li></ol><div role="listbox" class="carousel-inner"><div class="carousel-item"><a href="https://thuongyen.com/loi-ich-khi-mua-yen-sao-online/" class="random-154 "><img width="1600" height="250" src="https://thuongyen.com/wp-content/uploads/2018/04/thuongyen-vietnam-toyen-yennuoc-datyensaogiaohanglientay.jpg" class="img-fluid" alt=""></a></div><div class="carousel-item active"><a href="https://thuongyen.com/yen-chung-tuoi/" class="random-154 "><img width="1100" height="376" src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-web-banner-1600.jpg" class="img-fluid" alt=""></a></div><div class="carousel-item "><a href="https://thuongyen.com/qua-tang/" class="random-154 "><img width="1100" height="235" src="https://thuongyen.com/wp-content/uploads/2018/02/1170x250.jpg" class="img-fluid" alt=""></a></div></div><a href="#carousel-154" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="ty ty-angle-left"></span></a>
                        <a href="#carousel-154" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="ty ty-angle-right"></span></a>
                    </div>
                    <div class="container">
                        <nav class="breadcrumb">
                            @Html.Raw(MvcHtmlHelper.GenerateBreadcum(Model.SEOModel.Url, "/"))
                        </nav><!-- .breadcrumb -->
                        <div class="row">
                            <div class="main-content col-md-8">
                                <div class="detail-content">
                                    <article id="post-61438" class="post-61438 post type-post status-publish format-standard has-post-thumbnail hentry category-cam-nang-tai-lieu category-uncategorized">

                                        <h1 class="entry-title post-title">@Model.BodyModel.Title</h1>
                                        <div class="meta">
                                            <ul class="list-unstyled">
                                                <li></li>
                                            </ul>
                                            <span class="date"><i class="ty ty-calendar"></i>@Model.BodyModel.CreatedDate</span>
                                        </div>

                                        <div class="post-content-wrap">
                                            @Html.Raw(Model.BodyModel.Body)
                                            <a href="@Model.SEOModel.Url" class="random-156 "><img width="1100" height="235" src="https://thuongyen.com/wp-content/uploads/2018/02/banner-1170x250-02.jpg" class="img-fluid img-rounded" alt=""></a>            <div class="related-articles">
                                                <h5 class="box-title">Có thể bạn quan tâm:</h5>
                                                <ul>
                                                    @foreach (var otherNewsArticle in Model.BottomModel.OtherNewsArticles)
                                                    {
                                                        <li><a href="@otherNewsArticle.Url" class="btn-link">@otherNewsArticle.Title</a></li>

                                                    }
                                                </ul>

                                            </div>
                                        </div>

                                    </article><!-- #post-## -->
                                </div>
                            </div>
                            <div class="sidebar col-md-4">
                                <a href="@Model.BodyModel.Url1" class="random-158 "><img width="1600" height="700" src="@Model.BodyModel.Image1" class="img-fluid" alt=""></a>
                                <div class="sidebar-box">
                                    <h3 class="box-title"><span>Bài viết mới nhất</span></h3>
                                    <div class="row">
                                        @if (Model.BodyModel.NewsArticles != null)
                                        {
                                            foreach (var item in Model.BodyModel.NewsArticles)
                                            {
                                                <div class="post-item col-sm-6 col-md-12">
                                                    <a href="@item.Url" class="post-img">
                                                        <img width="113" height="63" src="@item.Image" data-src="@item.Image" class="img-fluid img-rounded wp-post-image lazy-loaded" alt="@item.Title">
                                                        <noscript><img width="113" height="63" src="@item.Image" class="img-fluid img-rounded wp-post-image" alt="@item.Title" /></noscript>
                                                    </a>
                                                    <p class="meta"><a href="@item.Url" class="text">@item.Title</a></p>
                                                </div>
                                            }
                                        }
                                    </div>

                                    <a href="@Model.BodyModel.Url2" class="random-160 promo-banner"><img width="350" height="450" src="@Model.BodyModel.Image2" class="img-fluid" alt=""></a>
                                    <div class="sidebar-box">
                                        <h3 class="box-title"><span>Bài viết nổi bật</span></h3>
                                        <div class="row">
                                            @if (Model.BodyModel.HotArticles != null)
                                            {
                                                foreach (var item in Model.BodyModel.HotArticles)
                                                {
                                                    <div class="post-item col-sm-6 col-md-12">
                                                        <a href="@item.Url" class="post-img">
                                                            <img width="113" height="63" src="@item.Image" data-src="@item.Image" class="img-fluid img-rounded wp-post-image lazy-loaded" alt="@item.Title">
                                                            <noscript><img width="113" height="63" src="@item.Image" class="img-fluid img-rounded wp-post-image" alt="@item.Title" /></noscript>
                                                        </a>
                                                        <p class="meta"><a href="@item.Url" class="text">@item.Title</a></p>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>

                                    <a href="@Model.BodyModel.Url3" target="_blank" class="random-161 "><img width="856" height="1100" src="@Model.BodyModel.Image3" class="img-fluid" alt=""></a>
                                    @*<div class="sidebar-box">
                                            <h3 class="box-title"><span>Bài viết theo chủ đề</span></h3>
                                            <ul class="list-unstyled"><li><a href="https://thuongyen.com/tag/mon-an-dinh-duong-danh-cho-nguoi-moi-phau-thuat/"><i class="ty ty-tags ty-primary-color"></i>Món ăn dinh dưỡng dành cho người mới phẩu thuật</a></li><li><a href="https://thuongyen.com/tag/thanh-phan-yen-sao/"><i class="ty ty-tags ty-primary-color"></i>thành phần yến sào</a></li><li><a href="https://thuongyen.com/tag/gia-to-yen-rut-long/"><i class="ty ty-tags ty-primary-color"></i>giả tổ yến rút lông</a></li><li><a href="https://thuongyen.com/tag/bao-quan-yen-sao/"><i class="ty ty-tags ty-primary-color"></i>bảo quản yến sào</a></li><li><a href="https://thuongyen.com/tag/phu-nu-sau-sinh-an-gi/"><i class="ty ty-tags ty-primary-color"></i>phụ nữ sau sinh ăn gì</a></li><li><a href="https://thuongyen.com/tag/voucher-uu-dai/"><i class="ty ty-tags ty-primary-color"></i>voucher ưu đãi</a></li><li><a href="https://thuongyen.com/tag/che-to-yen/"><i class="ty ty-tags ty-primary-color"></i>chè tổ yến</a></li></ul>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .col-full -->
</div>
