﻿@{
    ViewBag.Title = "Thêm nội dung tác vụ";
}
@model MainProject.Web.Areas.Admin.Models.ContentBehaviors.ContentBehaviorManageModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Nội dung - tác vụ
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Phân quyền nội dung</a></li>
            <li class="active">Nội dung - tác vụ</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm mới</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <div class="tab-content">
                            @using (Html.BeginForm())
                            {
                                <div class="box-body">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.Id)
                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        @Html.DropDownListFor(d => d.ContentSelectedValue, Model.Contents, new { @class="form-control" })
                                        @Html.ValidationMessageFor(d => d.ContentSelectedValue)
                                    </div>
                                    <div class="form-group">
                                        <label>Tác vụ</label>
                                        @Html.DropDownListFor(d => d.BehaviorSelectedValue, Model.Behaviors, new { @class="form-control" })
                                        @Html.ValidationMessageFor(d => d.BehaviorSelectedValue)
                                    </div>

                                    <div class="clearfix" ></div>
                                </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                                </div>
                            }
                        </div><!-- /.tab-content -->
                      </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->