﻿@{
    ViewBag.Title = "Quản lý đối tác";
    var index = 1;
}
@using MainProject.Framework.Models
@using MainProject.Web.Areas.Admin.Models
@model IndexViewModel<MainProject.Core.Partner>

<!-- CSS files of Setting Index page -->
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.css")">


<!-- JS files of setting index page -->
<!-- DataTables -->
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.min.js")"></script>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Đối tác
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Đối tác</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <p>
                            @Html.Raw(TempData["message"])
                        </p>
                        @if (Model.FilterViewModel.HasFatherSelect && Model.FilterViewModel.FatherSelectModel != null)
                        {
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Loại</label>
                                @Html.DropDownListFor(d => d.FilterViewModel.FatherSelectModel.FatherSelectedStringValue, Model.FilterViewModel.FatherSelectModel.Fathers, new { @class = "form-control" })
                            </div>
                        </div>
                        }
                        <div class="col-xs-1 nopadding">
                            <div class="form-group" style="padding-top:25px;">
                                <button type="button" class="btn btn-block btn-primary btn-flat" onclick="Filter();">Lọc</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        @if (ViewBag.IsCreate != null)
                        {
                            <div class="form-group col-xs-2 nopadding">
                                @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-block btn-primary btn-lg" })
                            </div>
                        }
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên</th>
                                    <th>Hình ảnh</th>
                                    <th>Loại</th>
                                    <th>Thứ tự</th>
                                    <th>Hiển thị</th>
                                    <th>Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.ListItems != null)
                                    {
                                        foreach (var item in Model.ListItems)
                                        {
                                            string bgclass = index % 2 == 0 ? "even" : "odd";
                                            <tr class="@bgclass">
                                                <td>
                                                    @(index++)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    <img src="@item.ImageDefault" alt="@item.Name" title="@item.Name" style="width: 80px;height: 100px;" />
                                                </td>
                                                <td>
                                                    @MainProject.Framework.Helper.EnumHelper.GetDescription(item.Type)
                                                </td>
                                                <td>
                                                    @item.Order
                                                </td>
                                                <td class="text-center">
                                                    @if (item.IsPublished)
                                                    {
                                                        <i class="fa fa-check" style="color: #007FCC; font-size: 20px;"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-close" style="color: #D22D2D;font-size: 20px;"></i>
                                                    }
                                                </td>
                                                <td class="containIcon">
                                                    @if (ViewBag.IsEdit != null)
                                                    {
                                                        <a href="/Admin/PartnerAdmin/Edit/@item.Id" class="btn btn-info" title="Chỉnh sửa">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    }
                                                    @if (ViewBag.IsDelete != null)
                                                    {
                                                        <span id="category-delete" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#categorymodel-delete-confirmation" data-id="@item.Id">
                                                            <i class="fa fa-trash-o"></i>
                                                        </span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="dataTables_paginate">
                            @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<div id="categorymodel-delete-confirmation" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="categorymodel-delete-confirmation-title" style="display: none; padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title text-center text-danger text-bold" id="categorymodel-delete-confirmation-title">Thông báo</h3>
            </div>
            <form action="" method="post" novalidate="novalidate" id="popup-delete">
                <div class="form-horizontal">
                    <div class="modal-body text-center">
                        <h4 class="text-warning">Bạn có chắc muốn xóa đối tác này?</h4>
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-default" data-dismiss="modal">Cancel</span>
                        <button type="submit" class="btn btn-danger pull-right">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#category-delete').attr("data-toggle", "modal").attr("data-target", "#categorymodel-delete-confirmation")
    });

    $(".delete-btn").on("click", function () {
        $("#popup-delete").attr("action", "/Admin/PartnerAdmin/Delete/" + $(this).attr("data-id"));
    })

   function Filter() {
       var type = $("#FilterViewModel_FatherSelectModel_FatherSelectedStringValue")[0].value;
       document.location = "@Model.FilterViewModel.BaseUrl" + "type=" + type;
    }

</script>