﻿<div class="modal-dialog " id="submit_contact_success">
    <h3>Bạn đã liên hệ thành công!</h3>
    <button class="btn-close-dialog">Đóng</button>
</div>

<div class="modal-dialog " id="submit_contact_error">
    <h3>Xảy ra lỗi khi liên hệ!</h3>
    <button class="btn-close-dialog">Đóng</button>
</div>
