﻿@model MainProject.Service.Models.ViewModel.Project.DetailViewModel
<div class="content">
    <div class="news_main">
        <div class="title_section container">
            <h2>@Model.BodyModel.Title</h2>
            <span class="icon"><i class="icon-smartphone"></i></span>
        </div>
        <div class="container detail_news">
            <h3 class="name_news">@Model.BodyModel.ArticleTitle</h3>
            <div class="date"><i class="ic-Calendar-icon"></i>@Model.BodyModel.CreatedDate</div>
            @Html.Raw(Model.BodyModel.Body)
        </div>
        <div class="container">
            <div class="title_section">
                <h2>@Model.BottomModel.Title</h2>
                <span class="icon"><i class="icon-smartphone"></i></span>
            </div>
            <div class="news_relation " id="newslist">
                @foreach (var otherProjectArticle in Model.BottomModel.OtherProjectArticles)
                {
                    <div class="item_news">
                        <div class="ctent_news">
                            <div class="img_news">
                                <img src="@otherProjectArticle.Image" alt="@otherProjectArticle.Alt">
                            </div>
                            <div class="txt_news">
                                <a href="@otherProjectArticle.Url">
                                    <h3>@otherProjectArticle.Title</h3>
                                    <div class="day"><i class="ic-Calendar-icon"></i>@otherProjectArticle.CreatedDate</div>
                                    <p>@otherProjectArticle.Description</p>
                                </a>
                                <div class="see_more_general ">
                                    <a href="@otherProjectArticle.Url">Xem chi tiết <i class="ic-Arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>