﻿@{
    ViewBag.Title = "Chỉnh sửa thiết lập";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_layout.cshtml";
}
@model MainProject.Web.Areas.Admin.Models.Setting.SettingManagerViewModel
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Thiết lập
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <!-- left column -->
            <!-- general form elements -->
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Chỉnh sữa</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            @using(Html.BeginForm())
            {
                <strong style="color: red">@Html.ValidationSummary(true)</strong>
                @Html.HiddenFor(d=>d.Id)
                <div class="box-body">
                <div class="form-group">
                    <label>Từ khóa</label>
                    @Html.TextBoxFor(d => d.Key, new { @class="form-control", @readonly = "readonly"  })
                    @Html.ValidationMessageFor(d=>d.Key)
                </div>
                @if (Model.Key == "OrderMailBody")
                {
                    <div class="form-group">
                        <label>Giá trị</label>
                        @Html.TextAreaFor(d => d.Value, new { @class = "form-control ckeditor" })
                        @Html.ValidationMessageFor(d => d.Value)
                    </div>
                    <p style="color:red">*{UserName} là tên người mua</p>
                    <p style="color:red">*{OrderCode} là mã hóa đơn</p>
                    <p style="color:red">*{UserPhone} là sdt người mua</p>
                    <p style="color:red">*{UserEmail} là email người mua</p>
                    <p style="color:red">*{UserAddress} là địa chỉ người mua</p>
                    <p style="color:red">*{OrderTotal} là tổng đơn hàng</p>
                    <p style="color:red">*{Order} là bảng chi tiết đơn hàng</p>
                }
                else
                {
                    <div class="form-group">
                        <label>Giá trị</label>
                        @Html.TextBoxFor(d => d.Value, new { @class = "form-control " })
                        @Html.ValidationMessageFor(d => d.Value)
                    </div>
                }
                </div><!-- /.box-body -->

                <div class="box-footer">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            }
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->