﻿@model MainProject.Web.Areas.Admin.Models.MenuItem.MenuItemViewModel
@{
    ViewBag.Title = "chỉnh sửa menu";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh sách menu
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Danh sách menu</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm menu</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            @using (Html.BeginForm())
                            {
                                <div class="box-body">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.HiddenFor(x => x.OriginalValue)

                                    @Html.Partial("_LoadParentBaseLanguageAndMenu", Model)
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <label>Tiêu đề</label>
                                        @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.Title)
                                    </div>
                                    <div class="form-group">
                                        <label>Icon Class</label>
                                        @Html.TextBoxFor(d => d.IconClass, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.IconClass)
                                    </div>
                                    <div class="form-group">
                                        <label>Url</label>
                                        @Html.TextBoxFor(d => d.Url, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.Url)
                                    </div>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(d => d.IsPublished)
                                        <label>Hiển thị</label>
                                    </div>
                                    <div class="form-group col-xs-2 nopadding">
                                        <label>Thứ tự</label>
                                        @Html.EditorFor(d => d.Order)
                                        @Html.ValidationMessageFor(d => d.Order)
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="form-group col-xs-4 nopadding">
                                        <label>Loại liên kết</label>
                                        @Html.DropDownListFor(d => d.LinkTargetTypeSelected, Model.LinkTargetTypes, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.LinkTargetTypeSelected)
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Thêm menu</button>
                                </div>
                            }
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {

        $('#IsPublished').attr('checked', true);

        $("#Order").addClass("form-control");

    });
</script>
