﻿
<script type="text/javascript" src="@Url.Content("~/Content/style_admin/custom/js/CK/ckfinder/ckfinder.js")"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Bài viết
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Bài viết</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm bài viết</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                        <div id="ckfinder">
                        </div>
                        <script type="text/javascript">
                            (function () {
                                var config = {
                                };
                                var get = CKFinder.tools.getUrlParam;
                                var getBool = function (v) {
                                    var t = get(v);

                                    if (t === null)
                                        return null;

                                    return t == '0' ? false : true;
                                };

                                var tmp;
                                if (tmp = get('basePath'))
                                    CKFINDER.basePath = tmp;

                                if (tmp = get('startupPath') || get('start'))
                                    config.startupPath = decodeURIComponent(tmp);

                                config.id = get('id') || '';

                                if ((tmp = getBool('rlf')) !== null)
                                    config.rememberLastFolder = tmp;

                                if ((tmp = getBool('dts')) !== null)
                                    config.disableThumbnailSelection = tmp;

                                if (tmp = get('data'))
                                    config.selectActionData = tmp;

                                if (tmp = get('tdata'))
                                    config.selectThumbnailActionData = tmp;

                                if (tmp = get('type'))
                                    config.resourceType = tmp;

                                if (tmp = get('skin'))
                                    config.skin = tmp;

                                if (tmp = get('langCode'))
                                    config.language = tmp;

                                // Try to get desired "File Select" action from the URL.
                                var action;
                                if (tmp = get('CKEditor')) {
                                    if (tmp.length)
                                        action = 'ckeditor';
                                }
                                if (!action)
                                    action = get('action');

                                var parentWindow = (window.parent == window)
			                    ? window.opener : window.parent;

                                switch (action) {
                                    case 'js':
                                        var actionFunction = get('func');
                                        if (actionFunction && actionFunction.length > 0)
                                            config.selectActionFunction = parentWindow[actionFunction];

                                        actionFunction = get('thumbFunc');
                                        if (actionFunction && actionFunction.length > 0)
                                            config.selectThumbnailActionFunction = parentWindow[actionFunction];
                                        break;

                                    case 'ckeditor':
                                        var funcNum = get('CKEditorFuncNum');
                                        if (parentWindow['CKEDITOR']) {
                                            config.selectActionFunction = function (fileUrl, data) {
                                                parentWindow['CKEDITOR'].tools.callFunction(funcNum, fileUrl, data);
                                            };

                                            config.selectThumbnailActionFunction = config.selectActionFunction;
                                        }
                                        break;

                                    default:
                                        if (parentWindow && parentWindow['FCK'] && parentWindow['SetUrl']) {
                                            action = 'fckeditor';
                                            config.selectActionFunction = parentWindow['SetUrl'];

                                            if (!config.disableThumbnailSelection)
                                                config.selectThumbnailActionFunction = parentWindow['SetUrl'];
                                        }
                                        else
                                            action = null;
                                }

                                config.action = action;

                                // Always use 100% width and height when nested using this middle page.
                                config.width = '100%';
                                config.height = '500px';

                                var ckfinder = new CKFinder(config);
                                ckfinder.replace('ckfinder', config);
                            })();
                        </script>
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
