﻿<!-- JS of home page -->
<script src="@Url.Content("~/Content/style_admin/plugins/morris/morris.min.js")"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="@Url.Content("~/Content/style_admin/dist/js/pages/dashboard.js")"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js" type="text/javascript"></script>

<!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Trang chủ
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        </ol>

    </section>

    <!-- Main content -->
</div><!-- /.content-wrapper -->

