﻿@{
    Layout = null;
}
@model MainProject.Web.Areas.Admin.Models.Upload.ImagesModel
@if ( Model!=null && Model.Images.Count > 0)
{
    <div class="imageContainer">
        <table style="width: 100%;">
            <tr>
                <td>Hình ảnh</td>
                <td>Tên hình</td>
                <td>Link liên kết</td>
                <td>&nbsp;</td>
            </tr>
            @foreach (var img in Model.Images)
            {
                <tr>
                    <td class="imageBox">
                        <a href="@Url.Content(img.Link)" target="_blank">
                            <img src="@Url.Content(img.Link)" alt="Image" class="imagePreview" /></a>
                    </td>
                    <td>@img.Name</td>
                    <td>@img.Link</td>
                    <td><a class="delImage" href="/admin/upload/DeleteImage?p=@img.Link">Xóa</a></td>
                </tr>
            }
        </table>

    </div>
}