﻿@using MainProject.Framework.Helper
<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="https://thuongyen.com/to-yen/" target="_blank"><i class="ty ty-fw ty-nest color-nest text-primary"></i><span>Yến Sào</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/yen-chung-tuoi/" target="_blank"><i class="ty ty-fw ty-dairy color-dairy text-primary"></i><span>Yến Chưng Tươi</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/qua-tang/" target="_blank"><i class="ty ty-fw ty-gift color-gift text-primary"></i><span>Quà Doanh Nghiệp</span></a></li>
            <!-- <li class="nav-item"><a data-toggle="modal" data-target="#aloModal"><i class="ty ty-fw ty-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li> -->
            <li class="nav-item"><a href="https://thuongyen.com/bang-phan-loai-yen-sao-va-cam-ket-mua-hang-thuong-yen/" target="_blank"><i class="ty ty-fw ty-handshake color-dairy text-primary"></i><span>Cam kết mua hàng</span></a></li>
            <li class="nav-item"><a href="tel:02839123678"><i class="ty ty-fw ty-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li>
        </ul>
    </div>
    <div class="col-full">


        <div id="primary" class="content-area container">
            <main id="main" class="site-main" role="main">


                <div class="content document-page payment-page">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <nav class="breadcrumb">
                                    @Html.Raw(MvcHtmlHelper.GenerateBreadcum(Model.SEOModel.Url, "/"))
                                </nav><!-- .breadcrumb -->
                                <div class="document-box">
                                    <div class="row">
                                        <!-- sidebar -->
                                        <div class="col-md-4 col-xl-3">
                                            <div class="side-nav hidden-md-down">
                                                <h5 class="box-title"> <i class="ty ty-fw ty-question"> </i>Hỗ trợ</h5>
                                                @{Html.RenderAction("_ShowMenuSupport", "Home", new { order = 5 });}
                                            </div>
                                        </div>

                                        <!-- content -->
                                        <div class="col-lg-8 col-xl-9">
                                            <div class="detail-content">
                                                <h1 class="content-box-title"> <i class="ty ty-icon"> </i>@Model.Title</h1>
                                                @Html.Raw(Model.Description)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main><!-- #main -->


        </div><!-- #primary -->


    </div><!-- .col-full -->
</div>