﻿@{
    Layout = null;
}
@using MainProject.Core.Enums
@model MainProject.Web.Areas.Admin.Models.FilterViewModel

@if (Model != null)
{
        if (Model.HasFatherSelect && Model.FatherSelectModel != null)
        {
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Nhóm nội dung</label>
                    @Html.DropDownList("filterFather", Model.FatherSelectModel.Fathers, new { @class="form-control" })
                </div>
            </div>
        }
    <div class="col-xs-1 nopadding">
        <div class="form-group" style="padding-top:25px;">
            <button type="button" class="btn btn-block btn-primary btn-flat" onclick="Filter();">Lọc</button>
        </div>
    </div>
    <div class="clearfix" ></div>
        
    <script type="text/javascript">
        function Filter() {
            var contentGroupId = $("#filterFather")[0].value;
            if (isNaN(contentGroupId)) contentGroupId = 0;
            document.location = "@Model.BaseUrl" + "contentGroupId=" + contentGroupId;
        }
    </script>
}
