﻿@{
    ViewBag.Title = "Thêm FAQs";
}
@model MainProject.Web.Areas.Admin.Models.Faq.FaqViewModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Giải pháp
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">FAQs trang chủ</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm FAQs</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            @using (Html.BeginForm())
                            {
                            <div class="box-body">
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(x => x.Id)
                                @Html.HiddenFor(x => x.OriginalValue)
                                <div class="form-group col-xs-4 nopadding">
                                    <label>Lọc theo ngôn ngữ</label>
                                    @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label>Câu hỏi</label>
                                    @Html.TextAreaFor(d => d.Question, new { @style = "min-height:100px; ", @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Question)
                                </div>
                                <div class="form-group">
                                    <label>Trả lời</label>
                                    @Html.TextAreaFor(d => d.Answer, new { @style = "min-height:100px; ", @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Answer)
                                </div>
                                <div class="form-group">
                                    @Html.CheckBoxFor(d => d.IsPublished)
                                    <label>Hiển thị</label>
                                </div>
                                <div class="form-group">
                                    <label>Thứ tự</label>
                                    @Html.EditorFor(d => d.Order, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Order)
                                </div>
                                <div class="clearfix"></div>
                                <!-- Update fields-->

                            </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                                </div>
                            }
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#IsPublished').attr('checked', true);

        $("#Order").addClass("form-control");
    }
    });
</script>