﻿@{
    ViewBag.Title = "Quản lý bài viết";
    ViewBag.menuid = "article";
    int index = 1;
}
@using MainProject.Framework.Models
@using MainProject.Web.Areas.Admin.Models
@using MainProject.Core.Enums
@model IndexViewModel<EntityWithLanguageVersionsModel<MainProject.Core.Article>>
<!-- CSS files of Setting Index page -->
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.css")">


<!-- JS files of setting index page -->
<!-- DataTables -->
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.min.js")"></script>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Bài viết
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Nội dung</a></li>
        <li class="active">Bài viết</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-body">
                <p>
                    @Html.Raw(TempData["message"])
                </p>
                @Html.Partial("_Filtering", Model.FilterViewModel)
                @if (ViewBag.IsCreate != null)
                {
                    <div class="form-group col-xs-2 nopadding">
                        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-block btn-primary btn-lg" })
                    </div>
                }
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tiêu đề</th>
                        <th class="text-center">Hình ảnh</th>
                        <th>Danh mục</th>
                        <th>Ngôn ngữ</th>
                        <th class="text-center">Hiển thị</th>
                        <th class="text-center">Thứ tự</th>
                        <th class="text-center">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        if (Model.ListItems != null)
                        {
                            foreach (var item in Model.ListItems)
                            {
                                var article = item.Entity;
                                var langVers = item.LanguageVersions;
                                string bgclass = index % 2 == 0 ? "even" : "odd";
                                <tr class="@bgclass">
                                    <td>
                                        @(index++)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => article.Title)
                                    </td>
                                    <td class="text-center"><img src="@(@article.ImageDefault??"")" style="width: 100px;height: 80px;" /></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => article.Category.Title)
                                    </td>
                                    @if (ViewBag.IsCreate != null)
                                    {
                                        <td>
                                            <img src="@article.Language.Image" alt="@article.Language.LanguageName" title="@article.Language.LanguageName" />
                                            @foreach (var art in langVers)
                                            {
                                                <a href="/Admin/ArticleAdmin/Edit?id=@art.Id" class="version" title="Phiên bản">
                                                    <img src="@art.Language.Image" alt="@art.Language.LanguageName" title="@art.Language.LanguageName" />
                                                </a>
                                            }
                                            <a href="/Admin/ArticleAdmin/Create?id=@article.Id" class=".btn.btn-app" title="Thêm ngôn ngữ"><i class='fa fa-plus'></i></a>
                                        </td>
                                    }
                                    <td class="text-center">
                                        @if (article.IsPublished)
                                        {
                                            <i class="fa fa-check" style="color: #007FCC; font-size: 20px;"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-close" style="color: #D22D2D;font-size: 20px;"></i>
                                        }
                                    </td>
                                    <td class="text-center">@Html.DisplayFor(model=>article.Order)</td>
                                    <td class="containIcon text-center">
                                        @if (ViewBag.IsEdit != null)
                                        {
                                            <a href="/Admin/ArticleAdmin/Edit/@article.Id" class="btn btn-info" title="Chỉnh sửa">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        }
                                        @if (ViewBag.IsDelete != null)
                                        {
                                            if (article.Category.DisplayTemplate == DisplayTemplateCollection.PurchaseTemplate
                                                || article.Category.DisplayTemplate == DisplayTemplateCollection.PayTemplate
                                                || article.Category.DisplayTemplate == DisplayTemplateCollection.ExchangeTemplate
                                                || article.Category.DisplayTemplate == DisplayTemplateCollection.SecurityTemplate)
                                            {

                                            }
                                            else
                                            {
                                                <span id="category-delete" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#categorymodel-delete-confirmation" data-id="@article.Id">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }

                        if (ViewData["Errors"] != null)
                        {
                        <tr>
                            <td>@Html.Raw(ViewData["Errors"])</td>
                        </tr>
                        }
                    }
                </tbody>
                </table>
                <div class="dataTables_paginate">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
                </div>
            </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<div id="categorymodel-delete-confirmation" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="categorymodel-delete-confirmation-title" style="display: none; padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title text-center text-danger text-bold" id="categorymodel-delete-confirmation-title">Thông báo</h3>
            </div>
            <form action="" method="post" novalidate="novalidate" id="popup-delete">
                <div class="form-horizontal">
                    <div class="modal-body text-center">
                        <h4 class="text-warning">Bạn có chắc muốn xóa Bài viết này?</h4>
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-default" data-dismiss="modal">Cancel</span>
                        <button type="submit" class="btn btn-danger pull-right">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#category-delete').attr("data-toggle", "modal").attr("data-target", "#categorymodel-delete-confirmation")
    });

    $(".delete-btn").on("click", function () {
        $("#popup-delete").attr("action", "/Admin/ArticleAdmin/Delete/" + $(this).attr("data-id"));
    })
</script>