﻿@model MainProject.Web.Areas.Admin.Models.OrderTypes.OrderTypeManageModel
@{
    ViewBag.Title = "Tạo mới Hình thức đặt hàng";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Hình thức đặt hàng
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Đơn hàng</a></li>
            <li class="active">Hình thức đặt hàng</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm hình thức</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <div class="tab-content">
                            @using (Html.BeginForm("Create", "OrderTypeAdmin", FormMethod.Post, new { id = "CreateArticleFr" }))
                            {
                                <div class="box-body">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.HiddenFor(x => x.OriginalValue)
                                    <div class="form-group col-xs-4 nopadding">
                                        <label>Ngôn ngữ</label>
                                        @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @onchange = "changeParentData(this.value);", @class="form-control" })
                                        @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
                                    </div>
                                    <div class="clearfix" ></div>
                                    <div class="form-group">
                                        <label>Tiêu đề</label>
                                        @Html.TextBoxFor(d => d.Title, new { @class="form-control"})
                                        @Html.ValidationMessageFor(d=>d.Title)
                                    </div>
                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        @Html.TextAreaFor(d => d.Content, new { @style = "min-height:200px; ",@class="ckeditor form-control" })
                                        @Html.ValidationMessageFor(d=>d.Content)
                                    </div>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(d => d.IsPublished)
                                        <label>Hiển thị</label>
                                    </div>
                                    <div class="form-group col-xs-2 nopadding">
                                        <label>Thứ tự</label>
                                        @Html.EditorFor(d => d.Order)
                                        @Html.ValidationMessageFor(d=>d.Order)
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Thêm hình thức</button>
                                </div>
                            }
                        </div><!-- /.tab-content -->
                      </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#CreateArticleFr").click(function () {
            //CKEDITOR.instances.Description.updateElement();
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
        })
        if ($('#Content').length > 0) {
            CKEDITOR.replace('Content', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "STXAdmin", area = "admin" })'
            });
        }

        $('#IsPublished').attr('checked', true);
        $("#Order").addClass("form-control");
    });
</script>
