﻿@model MainProject.Web.Areas.Admin.Models.Menu.MenuViewModel
@{
    ViewBag.Title = "Chỉnh sửa menu";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Menu
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Menu</li>
            <li class="active">Chỉnh sửa</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Chỉnh sửa menu</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <div class="tab-content">
                            @using (Html.BeginForm())
                            {
                                <div class="box-body">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.Id)
                                    <div class="form-group">
                                        <label>Tên menu</label>
                                        @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.Title)
                                    </div>
                                    <div class="form-group">
                                        <label>Thứ tự</label>
                                        @Html.EditorFor(d => d.Order, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.Order)
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <label>Loại menu</label>
                                        @Html.DropDownListFor(d => d.MenuTypeSelected, Model.MenuTypes, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.MenuTypeSelected)
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Cập nhât</button>
                                </div>
                            }
                        </div><!-- /.tab-content -->
                      </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {

        $("#Order").addClass("form-control");
    });
</script>

