﻿@model MainProject.Web.Areas.Admin.Models.UserManage.UserManageCreateViewModel
@{
    ViewBag.Title = "Tạo tài khoản người dùng";
    ViewBag.menuid = "user-manager";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Người dùng
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
        <li><a href="#">Tài khoản</a></li>
        <li class="active">Người dùng</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <!-- left column -->
        @*<div class="col-md-6">*@
            <!-- general form elements -->
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Tạo tài khoản</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            @using(Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <strong style="color: red">@Html.ValidationSummary(true)</strong>
                <div class="box-body">
                    <div class="form-group">
                        <label>Tên tài khoản</label>
                        @Html.TextBoxFor(d => d.UserName, new { @class="form-control"})
                        @Html.ValidationMessageFor(d=>d.UserName)
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        @Html.PasswordFor(d => d.Password, new { @class="form-control" })
                        @Html.ValidationMessageFor(d=>d.Password)
                    </div>
                    <div class="form-group">
                        <label>Nhập lại mật khẩu</label>
                        @Html.PasswordFor(d => d.RePassword, new { @class="form-control" })
                        @Html.ValidationMessageFor(d=>d.RePassword)
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(d => d.Email, new { @class="form-control"})
                        @Html.ValidationMessageFor(d=>d.Email)
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(d => d.IsActive)
                        <label>Kích hoạt?</label>
                    </div>
                    <div class="form-group">
                        @foreach (var item in Model.ListRoles)
                        {
                            var hasContain = Model.ListRolesCheck.Contains(item);
                            <input id="ListRolesCheck" name="ListRolesCheck" type="checkbox" value="@item" @(hasContain ? "checked=\"checked\"" : string.Empty)/>
                            <label>&nbsp;@item</label>
                        }
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo tài khoản</button>
                </div><!-- /.box-body -->

                @*<div class="box-footer">
                    <button type="submit" class="btn btn-primary">Tạo tài khoản</button>
                </div>*@
            }
            </div><!-- /.box -->
            @*</div>*@
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
