﻿@model MainProject.Web.Areas.Admin.Models.UserManage.UserManageEditViewModel
@{
    ViewBag.Title = "Chỉnh sửa thông tin tài khoản";
    ViewBag.menuid = "user-manager";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Người dùng
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
        <li><a href="#">Tài khoản</a></li>
        <li class="active">Người dùng</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <!-- left column -->
        @*<div class="col-md-6">*@
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="col-xs-12" style="padding-bottom:10px;">
                        <h3 class="box-title">Chỉnh sửa thông tin tài khoản</h3>
                    </div>
                    <div class="col-xs-8">
                        <a class="btn btn-primary btn-flat" href="@Url.Action("EditPassword", "UserAdmin", new { username= Model.UserName })">Chỉnh sửa mật khẩu</a>
                        <a class="btn btn-primary btn-flat" href="@Url.Action("EditEmail", "UserAdmin", new { username= Model.UserName })">Chỉnh sửa email</a>
                        <a class="btn btn-primary btn-flat" href="@Url.Action("EditRole", "UserAdmin", new { username= Model.UserName })">Chỉnh sửa quyền truy cập</a>
                    </div>
                </div><!-- /.box-header -->
            </div><!-- /.box -->
            @*</div>*@
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->