﻿@using MainProject.Framework.Models
@using MainProject.Framework.Helper
@model MainProject.Service.Models.ViewModel.News.IndexViewModel
@{

    var index1 = 0;
    var index2 = 0;
}
<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        @{Html.RenderAction("_ShowMenuMobie", "Home");}
    </div>
    <div class="col-full">
        <section id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="content post-category-page">
                    <div id="carousel-183" data-ride="carousel" class="carousel main-slider slide">
                        <ol class="carousel-indicators">
                            @foreach (var item in Model.SlideShowModel.SlideShowImages)
                            {
                                <li data-target="#carousel-183" data-slide-to="@index1" class="@(index1 == 0 ? "active" : "")"></li>
                                index1++;

                            }
                            @*<li data-target="#carousel-183" data-slide-to="1" class="active"></li>*@
                        </ol>
                        <div role="listbox" class="carousel-inner ">
                            @foreach (var item in Model.SlideShowModel.SlideShowImages)
                            {
                                if (item.IsVideo)
                                {
                                    <div class="carousel-item embed-responsive embed-responsive-16by9 @(index2 == 0 ? "active" : "")">
                                        <iframe src="https://www.youtube.com/embed/@item.VideoId" allowfullscreen="" class="embed-responsive-item"></iframe>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item @(index2 == 0 ? "active" : "")">

                                        @*<iframe src="https://www.youtube.com/embed/92rXmGsi0yw" allowfullscreen="" class="embed-responsive-item"></iframe>*@
                                        <a href="@item.Url" class="random-183 ">
                                            <img width="1100" height="394" src="@item.Image" class="img-fluid" alt="@item.Alt">
                                        </a>
                                    </div>
                                }
                                index2++;
                            }
                            @*<div class="carousel-item">
                                    <a href="/to-yen/" class="random-183 ">
                                        <img width="1100" height="394" src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-banner.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="carousel-item active">
                                    <a href="/yen-chung-tuoi/" class="random-183 ">
                                        <img width="1100" height="376" src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-web-ads-banner-1900x650.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>*@
                        </div>
                        <a href="#carousel-183" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="fa fa-angle-left"></span></a>
                        <a href="#carousel-183" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="fa fa-angle-right"></span></a>
                    </div>
                    <div class="container">
                        <nav class="breadcrumb">
                            @Html.Raw(MvcHtmlHelper.GenerateBreadcum(Model.SEOModel.Url, "/"))
                        </nav><!-- .breadcrumb -->
                        <div class="row">
                            <div class="main-content col-md-8">
                                <div class="row">
                                    <div class="col-xs-12">
                                        @if (Model.BodyModel.MainNewsArticles != null)
                                        {
                                            foreach (var item in Model.BodyModel.MainNewsArticles)
                                            {
                                                <div class="post-item">
                                                    <h3>
                                                        <a href="@item.Url" class="text">
                                                            @item.Title
                                                        </a>
                                                    </h3>
                                                    <div class="meta">
                                                        <ul class="list-unstyled">
                                                            <li></li>
                                                        </ul>
                                                        <span class="date"><i class="ty ty-calendar"></i>@item.CreatedDate</span>
                                                    </div>
                                                    <a href="@item.Url" class="post-img"><img width="730" height="410" src="@item.Image" data-lazy-type="image" data-src="@item.Image" class="img-fluid img-rounded wp-post-image lazy-loaded" alt=""><noscript><img width="730" height="410" src="@item.Image" class="img-fluid img-rounded wp-post-image" alt="" /></noscript></a>
                                                    <p>
                                                        @Html.Raw(item.Description)
                                                        <a href="@item.Url" class="read-more">
                                                            Xem thêm
                                                            <i class="ty ty-angle-right"></i>
                                                        </a>
                                                    </p>
                                                </div>
                                            }

                                        }
                                    </div>
                                </div>

                                @*<nav class="text-xs-center"><ul class="pagination"><li class="page-item"><span aria-active="page" class="page-link active">1</span></li><li class="page-item"><a class="page-link" href="https://thuongyen.com/tin-tuc/cam-nang-tai-lieu/page/2/">2</a></li><li class="page-item"><a class="page-link" href="https://thuongyen.com/tin-tuc/cam-nang-tai-lieu/page/3/">3</a></li><li class="page-item"><span class="page-link dots">…</span></li><li class="page-item"><a class="page-link" href="https://thuongyen.com/tin-tuc/cam-nang-tai-lieu/page/7/">7</a></li><li class="page-item"><a class="next page-link" href="https://thuongyen.com/tin-tuc/cam-nang-tai-lieu/page/2/">»</a></li></ul></nav>*@

                                <div class="pagination">
                                    @Html.RenderPagingNew(Model.BodyModel.PagingModel, new PagingStyleModel() { CurrentItemStyle = "", DivContainerStyle = "row", ItemStyle = "" })
                                </div>
                            </div>
                            <div class="sidebar col-md-4">
                                <a href="@Model.BodyModel.Url1" class="random-158 "><img width="1600" height="700" src="@Model.BodyModel.Image1" class="img-fluid" alt=""></a>
                                <div class="sidebar-box">
                                    <h3 class="box-title"><span>Bài viết mới nhất</span></h3>
                                    <div class="row">
                                        @if (Model.BodyModel.NewsArticles != null)
                                        {
                                            foreach (var item in Model.BodyModel.NewsArticles)
                                            {
                                                <div class="post-item col-sm-6 col-md-12">
                                                    <a href="@item.Url" class="post-img">
                                                        <img width="113" height="63" src="@item.Image" data-src="@item.Image" class="img-fluid img-rounded wp-post-image lazy-loaded" alt="@item.Title">
                                                        <noscript><img width="113" height="63" src="@item.Image" class="img-fluid img-rounded wp-post-image" alt="@item.Title" /></noscript>
                                                    </a>
                                                    <p class="meta"><a href="@item.Url" class="text">@item.Title</a></p>
                                                </div>
                                            }
                                        }
                                    </div>

                                    <a href="@Model.BodyModel.Url2" class="random-160 promo-banner" onclick="ga('send', 'event', 'bài viết', 'click banner', 'Bài viết – sidebar – middle');"><img width="350" height="450" src="@Model.BodyModel.Image2" class="img-fluid" alt=""></a>
                                    <div class="sidebar-box">
                                        <h3 class="box-title"><span>Bài viết nổi bật</span></h3>
                                        <div class="row">
                                            @if (Model.BodyModel.HotArticles != null)
                                            {
                                                foreach (var item in Model.BodyModel.HotArticles)
                                                {
                                                    <div class="post-item col-sm-6 col-md-12">
                                                        <a href="@item.Url" class="post-img">
                                                            <img width="113" height="63" src="@item.Image" data-src="@item.Image" class="img-fluid img-rounded wp-post-image lazy-loaded" alt="@item.Title">
                                                            <noscript><img width="113" height="63" src="@item.Image" class="img-fluid img-rounded wp-post-image" alt="@item.Title" /></noscript>
                                                        </a>
                                                        <p class="meta"><a href="@item.Url" class="text">@item.Title</a></p>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>

                                    <a href="@Model.BodyModel.Url3" target="_blank" class="random-161 "><img width="856" height="1100" src="@Model.BodyModel.Image3" class="img-fluid" alt=""></a>
                                    @*<div class="sidebar-box">
                                            <h3 class="box-title"><span>Bài viết theo chủ đề</span></h3>
                                            <ul class="list-unstyled"><li><a href="https://thuongyen.com/tag/mon-an-dinh-duong-danh-cho-nguoi-moi-phau-thuat/"><i class="ty ty-tags ty-primary-color"></i>Món ăn dinh dưỡng dành cho người mới phẩu thuật</a></li><li><a href="https://thuongyen.com/tag/thanh-phan-yen-sao/"><i class="ty ty-tags ty-primary-color"></i>thành phần yến sào</a></li><li><a href="https://thuongyen.com/tag/gia-to-yen-rut-long/"><i class="ty ty-tags ty-primary-color"></i>giả tổ yến rút lông</a></li><li><a href="https://thuongyen.com/tag/bao-quan-yen-sao/"><i class="ty ty-tags ty-primary-color"></i>bảo quản yến sào</a></li><li><a href="https://thuongyen.com/tag/phu-nu-sau-sinh-an-gi/"><i class="ty ty-tags ty-primary-color"></i>phụ nữ sau sinh ăn gì</a></li><li><a href="https://thuongyen.com/tag/voucher-uu-dai/"><i class="ty ty-tags ty-primary-color"></i>voucher ưu đãi</a></li><li><a href="https://thuongyen.com/tag/che-to-yen/"><i class="ty ty-tags ty-primary-color"></i>chè tổ yến</a></li></ul>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
            </main><!-- #main -->
        </section><!-- #primary -->
    </div><!-- .col-full -->
</div>
