﻿@{
    ViewBag.Title = "Thêm banner";
    ViewBag.menuid = "slide-show";
}
@model MainProject.Web.Areas.Admin.Models.SlideShows.SlideShowManageModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Hỉnh banner</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Hình banner</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm banner</h3>
                </div>
                <!-- /.box-header -->
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">Nội dung</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Hình ảnh</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                @using (Html.BeginForm())
                                {
                                    <div class="box-body">
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(x => x.Id)
                                        @Html.HiddenFor(d => d.ImageFolder)
                                        @Html.HiddenFor(d => d.OriginalValue)

                                        @Html.Partial("_LoadSlideShowCategoryBaseLanguage", Model)
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <label>Tên</label>
                                            @Html.TextBoxFor(d => d.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Name)
                                        </div>
                                        <div class="form-group">
                                            <label>Mô tả</label>
                                            @Html.TextAreaFor(d => d.Description, new { @style = "min-height:200px; ", @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Description)
                                        </div>
                                        <div class="form-group">
                                            <label>Hình nền</label>
                                            @Html.TextBoxFor(d => d.Image, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Image)
                                        </div>
                                        <div class="form-group">
                                            <label>Link liên kết<span style="color:red">(*)</span></label>
                                            @Html.TextBoxFor(d => d.Link, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Link)
                                        </div>
                                        <div class="form-group">
                                            @Html.CheckBoxFor(d => d.IsPublished)
                                            <label>Hiển thị</label>
                                        </div>
                                        <div class="form-group">
                                            @Html.CheckBoxFor(d => d.IsVideo)
                                            <label>Hiển thị Video?</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Link Video Youtube(ví dụ: O-NBzwxauZE)</label>
                                            @Html.TextBoxFor(d => d.VideoId, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.VideoId)
                                        </div>
                                        <div class="form-group col-xs-2 nopadding">
                                            <label>Thứ tự</label>
                                            @Html.EditorFor(d => d.Order)
                                            @Html.ValidationMessageFor(d => d.Order)
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </div>
                                }
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <iframe name="picturemanager" src="/admin/upload/images?p=@Model.ImageFolder" style="width: 100%; height: 500px; border:none;"></iframe>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#IsPublished').attr('checked', true);
    });
    $("#Order").addClass("form-control")
</script>