﻿@{
    ViewBag.Title = "Quản lý hình ảnh";
    ViewBag.menuid = "poll-categories";
    int index = 1;
}
@using MainProject.Framework.Models
@using MainProject.Web.Areas.Admin.Models
@model IndexViewModel<EntityWithLanguageVersionsModel<MainProject.Core.SlideShow>>


<!-- CSS files of Setting Index page -->
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.css")">


<!-- JS files of setting index page -->
<!-- DataTables -->
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.min.js")"></script>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Hình banner
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Nội dung</a></li>
        <li class="active">Hình banner</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-body">
                <p>
                    @Html.Raw(TempData["message"])
                </p>
                @Html.Partial("_Filtering", Model.FilterViewModel)
                @if (ViewBag.IsCreate != null)
                {
                    <div class="form-group col-xs-2 nopadding">
                        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-block btn-primary btn-lg" })
                    </div>
                }
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tiêu đề</th>
                        <th class="text-center">Hình ảnh</th>
                        <th>Ngôn ngữ</th>
                        <th>Danh mục</th>
                        <th class="text-center">Thứ tự</th>
                        <th class="text-center">Hiển thị</th>
                        <th class="text-center">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListItems)
                    {
                        var entity = item.Entity;
                        var langVers = item.LanguageVersions;
                        string bgclass = "";
                        if (index % 2 == 0)
                        {
                            bgclass = "even";
                        }
                        else
                        {
                            bgclass = "odd";
                        }
                        <tr class="@bgclass">
                            <td>@(index++)</td>
                            <td>@entity.Name</td>
                            <td class="text-center"><img src="@(@entity.Image??"")" style="width: 100px;height: 80px;"/></td>

                            @if (ViewBag.IsCreate != null)
                            {
                                <td>
                                    <img alt="@entity.Language.LanguageName" src="@entity.Language.Image" title="@entity.Language.LanguageName" />
                                    @foreach (var poll in langVers)
                                    {
                                        <a href="/Admin/SlideShowAdmin/Edit?id=@poll.Id" class="version" title="Phiên bản"><img alt="@poll.Language.LanguageName" src="@poll.Language.Image" title="@poll.Language.LanguageName" /></a>
                                    }
                                    <a href="/Admin/SlideShowAdmin/AddVersion?id=@entity.Id" class=".btn.btn-app" title="Thêm ngôn ngữ"><i class='fa fa-plus'></i></a>
                                </td>
                            }
                            <td>@entity.Category.Title</td>
                            <td class="text-center">@entity.Order</td>
                            <td class="text-center">
                                @if (entity.IsPublished)
                                {
                                    <i class="fa fa-check" style="color: #007FCC; font-size: 20px;"></i>
                                }
                                else
                                {
                                    <i class="fa fa-close" style="color: #D22D2D;font-size: 20px;"></i>
                                }
                            </td>
                            <td class="containIcon text-center">
                                @if (ViewBag.IsEdit != null)
                                {
                                    <a href="/Admin/SlideShowAdmin/Edit/@entity.Id" class="btn btn-info" title="Chỉnh sửa">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                }
                                @if (ViewBag.IsDelete != null)
                                {
                                    <span id="category-delete" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#categorymodel-delete-confirmation" data-id="@entity.Id">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                </table>
                <div class="dataTables_paginate">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
                </div>
            </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<div id="categorymodel-delete-confirmation" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="categorymodel-delete-confirmation-title" style="display: none; padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title text-center text-danger text-bold" id="categorymodel-delete-confirmation-title">Thông báo</h3>
            </div>
            <form action="" method="post" novalidate="novalidate" id="popup-delete">
                <div class="form-horizontal">
                    <div class="modal-body text-center">
                        <h4 class="text-warning">Bạn có chắc muốn xóa Banner này?</h4>
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-default" data-dismiss="modal">Cancel</span>
                        <button type="submit" class="btn btn-danger pull-right">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#category-delete').attr("data-toggle", "modal").attr("data-target", "#categorymodel-delete-confirmation");

    });

    $('.delete-btn').on('click',function () {
        $("#popup-delete").attr("action", "/Admin/SlideShowAdmin/Delete/" + $(this).attr("data-id"));
    })
</script>
