﻿@{
    ViewBag.Title = "Thông tin và thời gian";
}
@model MainProject.Web.Areas.Admin.Models.CustomInfo.CustomInfoManageModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Thông tin và thời gian
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Thông tin và thời gian</li>
            <li class="active">Chỉnh sửa</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Chỉnh sửa</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">Nội dung</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                @using (Html.BeginForm())
                                {
                                <div class="box-body">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.Id)
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Decription 1</label>
                                            @Html.TextAreaFor(d => d.Decription1, new { @style = "min-height:500px", @class = "form-control ckeditor" })
                                            @Html.ValidationMessageFor(d => d.Decription1)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Decription 2</label>
                                            @Html.TextAreaFor(d => d.Decription2, new { @style = "min-height:500px", @class = "form-control ckeditor" })
                                            @Html.ValidationMessageFor(d => d.Decription2)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Decription 3</label>
                                            @Html.TextAreaFor(d => d.Decription3, new { @style = "min-height:500px", @class = "form-control ckeditor" })
                                            @Html.ValidationMessageFor(d => d.Decription3)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Link</label>
                                        @Html.TextBoxFor(d => d.Seconds, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.Seconds)
                                    </div>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(d => d.Published)
                                        <label>Hiển thị</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!-- Update fields-->
                                </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                }
                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#Order").addClass("form-control");
    });
</script>