﻿@*@model MainProject.Service.Models.ViewModel.Introduction.IndexViewModel*@
<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="https://thuongyen.com/to-yen/" target="_blank"><i class="fa fa-fw fa-nest color-nest text-primary"></i><span>Yến Sào</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/yen-chung-tuoi/" target="_blank"><i class="fa fa-fw fa-dairy color-dairy text-primary"></i><span>Yến Chưng Tươi</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/qua-tang/" target="_blank"><i class="fa fa-fw fa-gift color-gift text-primary"></i><span>Quà Doanh Nghiệp</span></a></li>
            <!-- <li class="nav-item"><a data-toggle="modal" data-target="#aloModal"><i class="fa fa-fw fa-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li> -->
            <li class="nav-item"><a href="https://thuongyen.com/bang-phan-loai-yen-sao-va-cam-ket-mua-hang-thuong-yen/" target="_blank"><i class="fa fa-fw fa-handshake color-dairy text-primary"></i><span>Cam kết mua hàng</span></a></li>
            <li class="nav-item"><a href="tel:02839123678"><i class="fa fa-fw fa-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li>
        </ul>
    </div>
    <div class="col-full">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="content about-page">
                    <div class="content-box content-style-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-10 offset-md-1">
                                                    <div class="content-body">
                                                        <div class="content-box-heading">
                                                            <h1 class="content-box-title"> <i class="fa fa-icon"> </i>YẾN SÀO - YẾN SÀO CAO CẤP - THƯỢNG YẾN</h1>
                                                        </div>
                                                        <p><em>Khởi nghiệp hơn 12 năm trước, chúng tôi là công ty nghiên cứu, nuôi yến bằng công nghệ cao đạt chuẩn tự nhiên gần như duy nhất tại Việt Nam.</em></p>
                                                        <p><em>Từ khi thay đổi thành thương hiệu Thượng Yến, ngày 09/08/2013, công ty không ngừng phấn đấu xây dựng những tiêu chuẩn mới chưa từng có trong lĩnh vực quà tặng Yến sào, bởi chúng tôi nhận thức rõ rằng “Phẩm vật quý giá phải được nâng niu và nâng tầm xứng đáng”</em></p>
                                                        <p><em>Ưu tiên tuyệt đối của chúng tôi là sự đẳng cấp, sự tinh tế trong từng sản phẩm quà tặng mang thương hiệu Thượng Yến. Chúng tôi không chỉ là công ty chuyên nghiệp về Yến sào, chúng tôi còn là công ty cung cấp dịch vụ tặng quà, chúng tôi xem tặng quà là một nghệ thuật đỉnh cao.</em></p>
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <!-- <iframe src="https://www.youtube.com/embed/FHq9hPzt2bE" allowfullscreen="" class="embed-responsive-item"></iframe> -->
                                                            <a href="https://www.youtube.com/watch?v=92rXmGsi0yw" target="_blank"><img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/thuongyen-youtube-thumbnail.jpg" alt="Thượng Yến - Đẳng Cấp Yến Sào Việt" class="img-rounded w-100"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box branding-box">
                        <div class="container">
                            <h3 class="content-box-title text-center"><i class="fa fa-question"> </i>Tại sao chọn Thượng Yến</h3>
                            <div class="row">
                                <div class="col-xs-12 col-lg-5"><img src="https://thuongyen.com/wp-content/uploads/2018/04/thuongyen-vietnam-toyen-yennuoc-thuong-yen.jpg" alt="Thượng Yến" class="img-fluid img-rounded w-100 mb-10"></div>
                                <div class="col-xs-12 col-lg-7">
                                    <p>

                                        Những dòng sản phẩm chính mà công ty đưa ra thị trường khẳng định chất lượng bằng những kiểm tra khắc khe nhất. Bên cạnh đó với nỗ lực không ngừng nghỉ, từ những sản phẩm tuyệt vời chúng tôi tạo ra những tặng phẩm <b>(High Class Gifts) </b>giúp khách hàng hoàn toàn tự tin khi tặng cho người thân, bạn bè, đối tác hoặc VIP.
                                    </p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-star fa-primary-color"></i><span>Chọn nguyên liệu yến theo tỉ lệ kim cương.</span></li>
                                        <li><i class="fa fa-star fa-primary-color"></i><span>Chế biến bởi bàn tay chuyên nghiệp của nghệ nhân Yến sào.</span></li>
                                        <li><i class="fa fa-star fa-primary-color"></i><span>Bảo quản theo tiêu chuẩn cao.</span></li>
                                        <li><i class="fa fa-star fa-primary-color"></i><span>Thiết kế bởi công ty thiết kế hàng đầu Việt Nam.</span></li>
                                        <li><i class="fa fa-star fa-primary-color"></i><span>Dịch vụ tặng quà từ công ty đạt chuẩn Quốc tế.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box story-box">
                        <div class="container">
                            <div class="card">
                                <div id="carousel-123" data-ride="carousel" class="carousel main-slider slide">
                                    <ol class="carousel-indicators"><li data-target="#carousel-123" data-slide-to="0" class="active"></li><li data-target="#carousel-123" data-slide-to="1"></li><li data-target="#carousel-123" data-slide-to="2"></li><li data-target="#carousel-123" data-slide-to="3"></li><li data-target="#carousel-123" data-slide-to="4"></li><li data-target="#carousel-123" data-slide-to="5"></li><li data-target="#carousel-123" data-slide-to="6"></li><li data-target="#carousel-123" data-slide-to="7"></li></ol><div role="listbox" class="carousel-inner"><div class="carousel-item active"><img width="1024" height="768" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-cau-chuyen-thuong-hieu-1.jpg" class="img-fluid" alt=""></div><div class="carousel-item "><img width="1024" height="768" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-cau-chuyen-thuong-hieu-2.jpg" class="img-fluid" alt=""></div><div class="carousel-item "><img width="1024" height="768" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-cau-chuyen-thuong-hieu-3.jpg" class="img-fluid" alt=""></div><div class="carousel-item "><img width="1024" height="768" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-cau-chuyen-thuong-hieu-4.jpg" class="img-fluid" alt=""></div><div class="carousel-item "><img width="1024" height="768" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-cau-chuyen-thuong-hieu-5.jpg" class="img-fluid" alt=""></div><div class="carousel-item "><img width="1024" height="768" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-cau-chuyen-thuong-hieu-6.jpg" class="img-fluid" alt=""></div><div class="carousel-item "><img width="1024" height="768" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-cau-chuyen-thuong-hieu-7.jpg" class="img-fluid" alt=""></div><div class="carousel-item "><img width="1024" height="768" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-cau-chuyen-thuong-hieu-8.jpg" class="img-fluid" alt=""></div></div><a href="#carousel-123" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="fa fa-angle-left"></span></a>
                                    <a href="#carousel-123" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box branding-box">
                        <div class="container">
                            <h3 class="content-box-title text-center"><i class="fa fa-icon"> </i>Ý nghĩa thương hiệu</h3>
                            <div class="row no-gutters">
                                <div class="col-xs-12 col-md-10 offset-md-1 logo">
                                    <h3><a href="">Thượng Yến</a></h3>
                                </div>
                                <div class="col-xs-12 col-md-10 offset-md-1">
                                    <img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/branding-img.jpg" alt="Thượng Yến Story" class="img-fluid w-100">
                                    <div class="alert alert-warning">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-star fa-primary-color"></i><span>Từ hình ảnh đàn chim yến tượng trưng cho sự đầy đủ, sinh động, hướng về thiên nhiên.</span></li>
                                            <li><i class="fa fa-star fa-primary-color"></i><span>Hình ảnh tổ yến là tặng phẩm trân bảo từ chim yến cho loài người.</span></li>
                                            <li><i class="fa fa-star fa-primary-color"></i><span>Hình ảnh giỏ quà là thành phẩm với tâm huyết của doanh nghiệp.</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box content-style-18">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-3 item">
                                    <i class="fa fa-fw fa-3x fa-thumbs-up fa-primary-color"></i>
                                    <h6 class="service-heading">Đam mê</h6>
                                    <p class="text-muted"><small>Chúng tôi yêu thích việc tạo ra những sản phẩm tuyệt vời cho khách hàng, không ngừng nỗ lực trong hăng say để nâng tầm sản phẩm và dịch vụ.</small></p>
                                </div>
                                <div class="col-md-3 item">
                                    <i class="fa fa-fw fa-3x fa-heart fa-primary-color"></i>
                                    <h6 class="service-heading">Nhiệt huyết</h6>
                                    <p class="text-muted"><small>Để tạo ra giá trị thực sự, chúng tôi qui tụ những con người có tinh thần cao, tin vào những việc mình làm, say mê công việc để cống hiến cho khách hàng &amp; xã hội.</small></p>
                                </div>
                                <div class="col-md-3 item">
                                    <i class="fa fa-fw fa-3x fa-award-1 fa-primary-color"></i>
                                    <h6 class="service-heading">Tôn Nghiêm</h6>
                                    <p class="text-muted"><small>Là những doanh nhân đòi hỏi cao, hướng đến sự hoàn hảo, đội ngũ Thượng Yến không chấp nhận những tiêu chuẩn bình thường trong kinh doanh.</small></p>
                                </div>
                                <div class="col-md-3 item">
                                    <i class="fa fa-fw fa-3x fa-eye fa-primary-color"></i>
                                    <h6 class="service-heading">Tầm nhìn</h6>
                                    <p class="text-muted"><small>Chúng tôi tin tưởng khách hàng không chỉ yêu cầu về chất lượng sản phẩm mà còn đòi hỏi trãi nghiệm dịch vụ đỉnh cao. Vì vậy Thượng Yến ở đây để xây dựng điều đó.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-box blog-box">
                        <div class="container">
                            <div class="post-box">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="content-box-title"><i class="fa fa-star"> </i>Viết về Thượng Yến<a href="https://thuongyen.com/viet-ve-thuong-yen/" class="read-all">Xem tất cả <i class="fa fa-angle-right"></i></a></h3>
                                    </div><div class="col-xs-12 col-md-4">
                                        <div class="post-item">
                                            <a href="https://thuongyen.com/yen-sao-thuong-yen/" class="post-img"><img width="300" height="168" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2018/04/thuongyen-vietnam-toyen-yennuoc-yen-sao-thuong-yen-03-300x168.jpg" class="lazy-hidden img-rounded img-fluid img-responsive wp-post-image" alt="Yến sào Thượng Yến"><noscript><img width="300" height="168" src="https://thuongyen.com/wp-content/uploads/2018/04/thuongyen-vietnam-toyen-yennuoc-yen-sao-thuong-yen-03-300x168.jpg" class="img-rounded img-fluid img-responsive wp-post-image" alt="Yến sào Thượng Yến" /></noscript></a>
                                            <p class="meta"><a href="https://thuongyen.com/tag/yen-sao-thuong-yen/" class="cate-link btn-link"><small><i class="fa fa-tags"></i>yến sào Thượng Yến</small></a><a href="https://thuongyen.com/yen-sao-thuong-yen/" class="text">Yến sào Thượng Yến – Món quà vô giá dành cho sức khỏe</a><small class="hidden-sm-down text-muted">Từ xưa đến nay, đã có biết bao món quà vô giá mà thiên nhiên đem đến cho con người. Đặc biệt là những phẩm...</small></p>
                                        </div>
                                    </div><div class="col-xs-12 col-md-4">
                                        <div class="post-item">
                                            <a href="https://thuongyen.com/thuong-yen-cam-ket-dieu-gi/" class="post-img"><img width="300" height="168" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2018/04/thuongyen-vietnam-toyen-yennuoc-cam-ket-tu-thuong-yen-4-300x168.jpg" class="lazy-hidden img-rounded img-fluid img-responsive wp-post-image" alt="yen-sao-thuong-yen"><noscript><img width="300" height="168" src="https://thuongyen.com/wp-content/uploads/2018/04/thuongyen-vietnam-toyen-yennuoc-cam-ket-tu-thuong-yen-4-300x168.jpg" class="img-rounded img-fluid img-responsive wp-post-image" alt="yen-sao-thuong-yen" /></noscript></a>
                                            <p class="meta"><a href="https://thuongyen.com/tag/yen-sao-thuong-yen/" class="cate-link btn-link"><small><i class="fa fa-tags"></i>yến sào Thượng Yến</small></a><a href="https://thuongyen.com/thuong-yen-cam-ket-dieu-gi/" class="text">Thượng Yến cam kết điều gì cho sức khỏe của bạn?</a><small class="hidden-sm-down text-muted">Với hàm lượng giá trị dinh dưỡng cao, yến sào hiện đang được nhiều người lựa chọn làm thực phẩm bồi bổ sức khỏe. Yến...</small></p>
                                        </div>
                                    </div><div class="col-xs-12 col-md-4">
                                        <div class="post-item">
                                            <a href="https://thuongyen.com/quy-tac-3-khong-cua-thuong-yen/" class="post-img"><img width="300" height="168" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYen-YenNuoc-VietNam-to-yen-thuong-hang-11-1-300x168.jpg" class="lazy-hidden img-rounded img-fluid img-responsive wp-post-image" alt="Tại sao chỉ nên mua yến sào từ các thương hiệu uy tín"><noscript><img width="300" height="168" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYen-YenNuoc-VietNam-to-yen-thuong-hang-11-1-300x168.jpg" class="img-rounded img-fluid img-responsive wp-post-image" alt="Tại sao chỉ nên mua yến sào từ các thương hiệu uy tín" /></noscript></a>
                                            <p class="meta"><a href="https://thuongyen.com/tag/quy-trinh-che-bien-yen/" class="cate-link btn-link"><small><i class="fa fa-tags"></i>quy trình chế biến yến</small></a>, <a href="https://thuongyen.com/tag/yen-sao-thuong-yen/" class="cate-link btn-link"><small>yến sào Thượng Yến</small></a><a href="https://thuongyen.com/quy-tac-3-khong-cua-thuong-yen/" class="text">Quy tắc 3 KHÔNG của Thượng Yến là gì?</a><small class="hidden-sm-down text-muted">Ngoài cam kết mang đến cho người tiêu dùng những sản phẩm yến thật 100%, Thượng Yến còn có quy tắc 3 KHÔNG: Không độn...</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main><!-- #main -->
        </div><!-- #primary -->


    </div><!-- .col-full -->
</div>