@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jeqbho');
  src:  url('fonts/icomoon.eot?jeqbho#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jeqbho') format('truetype'),
    url('fonts/icomoon.woff?jeqbho') format('woff'),
    url('fonts/icomoon.svg?jeqbho#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-smartwatch:before {
  content: "\e905";
}
.icon-socket:before {
  content: "\e91e";
}
.icon-gears:before {
  content: "\e91f";
}
.icon-remote:before {
  content: "\e920";
}
.icon-cctv:before {
  content: "\e921";
}
.icon-calendar:before {
  content: "\e922";
}
.icon-alarm-1:before {
  content: "\e900";
}
.icon-alarm:before {
  content: "\e901";
}

.icon-briefing:before {
  content: "\e904";
}
.icon-contact:before {
  content: "\e908";
}
.icon-delivery:before {
  content: "\e909";
}
.icon-diskette:before {
  content: "\e90a";
}
.icon-dollar:before {
  content: "\e90b";
}
.icon-exam:before {
  content: "\e90d";
}
.icon-fire-alarm:before {
  content: "\e90f";
}
.icon-hdmi:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e912";
}
.icon-picture:before {
  content: "\e914";
}
.icon-printer:before {
  content: "\e915";
}
.icon-projector:before {
  content: "\e916";
}
.icon-puzzle:before {
  content: "\e917";
}
.icon-radio:before {
  content: "\e918";
}
.icon-radio-antenna:before {
  content: "\e919";
}
.icon-receipt:before {
  content: "\e91a";
}
.icon-smartphone:before {
  content: "\e91c";
}
.icon-telephone-1:before {
  content: "\e91d";
}
.icon-telephone:before {
  content: "\e924";
}
.icon-tools:before {
  content: "\e925";
}
.icon-usb-1:before {
  content: "\e929";
}
.icon-wifi:before {
  content: "\e928";
}
.icon-Youtube:before {
  content: "\e927";
  color: #707070;
}
