﻿@model MainProject.Web.Areas.Admin.Models.Category.CategoryManageViewModel
@{
    Layout = null;
}
<div class="form-group col-xs-4 nopadding">
    <label>Lọc theo ngôn ngữ</label>
    @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @onchange = "changeParentData(this.value);", @class="form-control" })
    @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
</div>
<div class="clearfix" ></div>
<div class="form-group col-xs-4 nopadding">
    <label>Danh mục cha</label>
    @Html.DropDownListFor(d => d.ParentSelectedValue, Model.Parents, new { @class="form-control" })
    @Html.ValidationMessageFor(d => d.ParentSelectedValue)
</div>
<div class="clearfix" ></div>

<script type="text/javascript">
    function changeParentData(selectedValue) {
        var request = $.ajax({
            url: "/Admin/CategoryAdmin/GetCategoryByLanague?id=" + selectedValue + '&cateId=' + '@(Model.Id)',
            type: "GET",
        });
        request.done(function (result) {
            $('#ParentSelectedValue').children().remove();
            $.each(result.Data, function (i, item) {
                $("#ParentSelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
            });
        });
        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }

    changeParentData(@(Model.LanguageSelectedValue));
</script>
