@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2g17wd');
  src:  url('fonts/icomoon.eot?2g17wd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2g17wd') format('truetype'),
    url('fonts/icomoon.woff?2g17wd') format('woff'),
    url('fonts/icomoon.svg?2g17wd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm-1:before {
  content: "\e900";
}
.icon-alarm:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
  color: #707070;
}
.icon-arrow-right:before {
  content: "\e903";
  color: #707070;
}
.icon-briefing:before {
  content: "\e904";
}
.icon-buy---Copy:before {
  content: "\e905";
}
.icon-buy:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e907";
  color: #707070;
}
.icon-contact:before {
  content: "\e908";
}
.icon-delivery:before {
  content: "\e909";
}
.icon-diskette:before {
  content: "\e90a";
}
.icon-dollar:before {
  content: "\e90b";
}
.icon-email:before {
  content: "\e90c";
}
.icon-exam:before {
  content: "\e90d";
}
.icon-Facebook:before {
  content: "\e90e";
}
.icon-fire-alarm:before {
  content: "\e90f";
}
.icon-hdmi:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-location:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e913";
}
.icon-picture:before {
  content: "\e914";
}
.icon-printer:before {
  content: "\e915";
}
.icon-projector:before {
  content: "\e916";
}
.icon-puzzle:before {
  content: "\e917";
}
.icon-radio:before {
  content: "\e918";
}
.icon-radio-antenna:before {
  content: "\e919";
}
.icon-receipt:before {
  content: "\e91a";
}
.icon-search:before {
  content: "\e91b";
}
.icon-smartphone:before {
  content: "\e91c";
}
.icon-telephone-1:before {
  content: "\e91d";
}
.icon-telephone:before {
  content: "\e91e";
}
.icon-tools:before {
  content: "\e91f";
}
.icon-totop:before {
  content: "\e920";
}
.icon-usb-1:before {
  content: "\e921";
}
.icon-usb:before {
  content: "\e922";
}
.icon-video-production:before {
  content: "\e923";
}
.icon-wifi:before {
  content: "\e924";
}
.icon-Youtube:before {
  content: "\e925";
  color: #707070;
}
