﻿@{
    ViewBag.Title = "Thêm tác vụ";
    ViewBag.menuid = "behavior";
}
@model MainProject.Web.Areas.Admin.Models.Behaviors.BehaviorManageModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Tác vụ
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Phân quyền nội dung</a></li>
            <li class="active">Tác vụ</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm tác vụ</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <div class="tab-content">
                            @using (Html.BeginForm())
                            {
                                <div class="box-body">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.Id)
                                    <div class="form-group">
                                        <label>Tên tác vụ</label>
                                        @Html.TextBoxFor(d => d.Name, new { @class="form-control" })
                                        @Html.ValidationMessageFor(d=>d.Name)
                                    </div>
                                    <div class="form-group">
                                        <label>Type</label>
                                        @Html.DropDownListFor(d => d.BehaviorTypeSelected, Model.BehaviorTypes, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.BehaviorTypeSelected)
                                    </div>
                                    <div class="clearfix" ></div>
                                </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Thêm tác vụ</button>
                                </div>
                            }
                        </div><!-- /.tab-content -->
                      </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $("#Order").addClass("form-control");
</script>