﻿@{
    ViewBag.Title = "Quản lý tác vụ";
    ViewBag.menuid = "behavior";
    var index = 1;
}
@using MainProject.Framework.Models
@using MainProject.Web.Areas.Admin.Models
@model IndexViewModel<MainProject.Core.UserInfos.Behavior>

<!-- CSS files of Setting Index page -->
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.css")">


<!-- JS files of setting index page -->
<!-- DataTables -->
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.min.js")"></script>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Tác vụ
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Phân quyền nội dung</a></li>
        <li class="active">Tác vụ</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-body">
                <p>
                    @Html.Raw(TempData["message"])
                </p>
                <div class="form-group col-xs-2 nopadding">
                    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-block btn-primary btn-lg" })
                </div>
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        if (Model.ListItems != null)
                        {
                            foreach (var item in Model.ListItems)
                            {
                                string bgclass = index%2 == 0 ? "even" : "odd";
                                <tr class="@bgclass">
                                    <td>
                                        @(index++)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="containIcon">
                                        <a href="/Admin/BehaviorAdmin/Edit/@item.Id" class=".btn.btn-app" title="Chỉnh sửa">
                                           <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="/Admin/BehaviorAdmin/Delete/@item.Id" class=".btn.btn-app" title="Xóa" onclick = "return confirm('Bạn muốn xóa đối tượng này?')">
                                           <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
                </table>
                <div class="dataTables_paginate">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
                </div>
            </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->