﻿@using MainProject.Framework.Models
@using MainProject.Framework.Helper
@model MainProject.Service.Models.ViewModel.Download.IndexViewModel
<div class="content">
    <div class="search_result download container">
        <div class="title_section">
            <h2>@Model.BodyModel.Title</h2>
            <span class="icon"><i class="icon-printer"></i></span>
        </div>
        @foreach (var mainDownloadItem in Model.BodyModel.MainDownloadItems)
        {
            <div class="row item_search">
                <div class="item_search_text">
                    <h3><a href="#">@(mainDownloadItem.Order).  @mainDownloadItem.Title</a></h3>
                    <p>@mainDownloadItem.Description</p>
                    <div class="see_more">
                        <a href="\DownloadFile\@mainDownloadItem.Id" download>Tải về +</a>
                    </div>
                </div>
            </div>
        }
        <div class="pagination">
            @Html.RenderPagingNew(Model.BodyModel.PagingModel, new PagingStyleModel() { CurrentItemStyle = "", DivContainerStyle = "row", ItemStyle = "" })
        </div>
    </div>

</div>