﻿@model MainProject.Service.Models.ViewModel.Product.Child1ViewModel
<div class="content">
    <section class="list_cate">
        <div class="title_section container">
            <h2>@Model.BodyModel.Title</h2>
            
            <span class="icon"><i class="icon-cctv"></i></span>
        </div>
        <div class="container content_list_cate">
            <div class="row">
                @for (var i = 0; i < Model.BodyModel.Child1ProductArticles.Count; i += 6)
                {
                    <div class="item_cate item_cate_big">
                        <div class="ctent_item_cate">
                            <a href="@Model.BodyModel.Child1ProductArticles[i].Url"><img src="@Model.BodyModel.Child1ProductArticles[i].Image" alt="@Model.BodyModel.Child1ProductArticles[i].Alt"></a>
                            <div class="txt_cate">
                                <a href="@Model.BodyModel.Child1ProductArticles[i].Url">@Model.BodyModel.Child1ProductArticles[i].Title</a>
                                <div class="see_more_general">
                                    <a href="@Model.BodyModel.Child1ProductArticles[i].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    if (i + 1 < Model.BodyModel.Child1ProductArticles.Count)
                    {
                        <div class="item_cate">
                            <div class="ctent_item_cate">
                                <a href="@Model.BodyModel.Child1ProductArticles[i+1].Url"><img src="@Model.BodyModel.Child1ProductArticles[i+1].Image" alt="@Model.BodyModel.Child1ProductArticles[i+1].Alt"></a>
                                <div class="txt_cate">
                                    <a href="@Model.BodyModel.Child1ProductArticles[i+1].Url">@Model.BodyModel.Child1ProductArticles[i + 1].Title</a>
                                    <div class="see_more_general">
                                        <a href="@Model.BodyModel.Child1ProductArticles[i+1].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    if (i + 2 < Model.BodyModel.Child1ProductArticles.Count)
                    {
                        <div class="item_cate">
                            <div class="ctent_item_cate">
                                <a href="@Model.BodyModel.Child1ProductArticles[i+2].Url"><img src="@Model.BodyModel.Child1ProductArticles[i+2].Image" alt="@Model.BodyModel.Child1ProductArticles[i+2].Alt"></a>
                                <div class="txt_cate">
                                    <a href="@Model.BodyModel.Child1ProductArticles[i+2].Url">@Model.BodyModel.Child1ProductArticles[i + 2].Title</a>
                                    <div class="see_more_general">
                                        <a href="@Model.BodyModel.Child1ProductArticles[i+2].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    if (i + 3 < Model.BodyModel.Child1ProductArticles.Count)
                    {
                        <div class="item_cate">
                            <div class="ctent_item_cate">
                                <a href="@Model.BodyModel.Child1ProductArticles[i+3].Url"><img src="@Model.BodyModel.Child1ProductArticles[i+3].Image" alt="@Model.BodyModel.Child1ProductArticles[i+3].Alt"></a>
                                <div class="txt_cate">
                                    <a href="@Model.BodyModel.Child1ProductArticles[i+3].Url">@Model.BodyModel.Child1ProductArticles[i + 3].Title</a>
                                    <div class="see_more_general">
                                        <a href="@Model.BodyModel.Child1ProductArticles[i+3].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    if (i + 4 < Model.BodyModel.Child1ProductArticles.Count)
                    {
                        <div class="item_cate">
                            <div class="ctent_item_cate">
                                <a href="@Model.BodyModel.Child1ProductArticles[i+4].Url"><img src="@Model.BodyModel.Child1ProductArticles[i+4].Image" alt="@Model.BodyModel.Child1ProductArticles[i+4].Alt"></a>
                                <div class="txt_cate">
                                    <a href="@Model.BodyModel.Child1ProductArticles[i+4].Url">@Model.BodyModel.Child1ProductArticles[i + 4].Title</a>
                                    <div class="see_more_general">
                                        <a href="@Model.BodyModel.Child1ProductArticles[i+4].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    if (i + 5 < Model.BodyModel.Child1ProductArticles.Count)
                    {
                        <div class="item_cate item_cate_big">
                            <div class="ctent_item_cate">
                                <a href="@Model.BodyModel.Child1ProductArticles[i+5].Url"><img src="@Model.BodyModel.Child1ProductArticles[i+5].Image" alt="@Model.BodyModel.Child1ProductArticles[i+5].Alt"></a>
                                <div class="txt_cate">
                                    <a href="@Model.BodyModel.Child1ProductArticles[i+5].Url">@Model.BodyModel.Child1ProductArticles[i + 5].Title</a>
                                    <div class="see_more_general">
                                        <a href="@Model.BodyModel.Child1ProductArticles[i+5].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</div>