﻿@model MainProject.Service.Models.ViewModel.Product.Child1ViewModel
@using MainProject.Service.Helper;
<div class="col-full">
    <div class="content product-category-page">
        <div id="carousel-183" data-ride="carousel" class="carousel main-slider slide">
            <ol class="carousel-indicators">
                <li data-target="#carousel-183" data-slide-to="0" class=""></li>
                <li data-target="#carousel-183" data-slide-to="1" class="active">
                </li>
            </ol>
            <div role="listbox" class="carousel-inner">
                <div class="carousel-item">
                    <a href="https://thuongyen.com/to-yen/" class="random-183 ">
                        <img width="1100" height="394" src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-banner.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="carousel-item active">
                    <a href="https://thuongyen.com/yen-chung-tuoi/" class="random-183 ">
                        <img width="1100" height="376" src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-web-ads-banner-1900x650.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div><a href="#carousel-183" role="button" data-slide="prev" class="left carousel-control">
                <span aria-hidden="true" class="fa fa-angle-left"></span>
            </a>
            <a href="#carousel-183" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="fa fa-angle-right"></span></a>
        </div>
        <div class="container">

            <nav class="breadcrumb"><a class="breadcrumb-item" href="@Model.SEOModel.Url"><i class="fa fa-home"></i></a><span class="breadcrumb-item">@Model.BodyModel.Title</span></nav><!-- .breadcrumb -->

            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="term-description">
                        <p><raw></raw></p>
                        <div class="category-description">
                            <div class="tab-box">
                                <div class="tab">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item"><a class="nav-link active" role="tab" href="#tab1" data-toggle="tab">LỢI ÍCH</a></li>
                                        <li class="nav-item"><a class="nav-link" role="tab" href="#tab2" data-toggle="tab">TẠI SAO CHỌN THƯỢNG YẾN</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div id="tab1" class="tab-pane active" role="tabpanel">
                                        <p>Tổ yến làm sạch thành phẩm, từ 100% nguyên liệu nguyên chất sau khi thu hoạch. Tiết kiệm thời gian sơ chế, có thể sử dụng ngay, chế biến thành nhiều món ăn đảm bảo giá trị dinh dưỡng &amp; độ ngon của tổ yến.</p>
                                        <div class="item row">
                                            <div class="col-md-6">
                                                <h6><b>Ưu điểm:</b></h6>
                                                <p><i class="fa fa-ok-circled text-success"></i>Tổ yến <b>nguyên chất 100%</b>, Thượng Yến có tem bảo hành trên từng tổ.</p>
                                                <p><i class="fa fa-ok-circled text-success"></i>Tổ yến đã được xử lý sạch lông từ các chuyên viên lành nghề, giúp tiết kiệm thời gian &amp; tiện lợi cho người dùng.</p>
                                                <p><i class="fa fa-ok-circled text-success"></i>Thành phẩm bắt mắt, giá thành hợp lý, phù hợp nhiều đối tượng khách hàng sử dụng hoặc tặng/biếu.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h6><b>Nhược điểm:</b></h6>
                                                <p><i class="fa fa-attention-circled"></i>Tổ yến khó giữ nguyên vẹn trong quá trình làm sạch, sợi yến mềm hơn.</p>
                                                <p><i class="fa fa-attention-circled"></i>Nếu không thận trọng có nguy cơ mua phải hàng kém chất lượng, bị tẩm đường, bột… để tăng trọng ngoài thị trường.</p>
                                                <p><i class="fa fa-attention-circled"></i>Hình dáng tổ không đều, thẩm mỹ chưa phải cao nhất nên so với <a class="btn-link" href="https://thuongyen.com/to-yen-thuong-hang/">Tổ yến thượng hạng</a>.</p>
                                            </div>
                                        </div>
                                        <div class="why-box">
                                            <h5><i class="fa fa-star ty-animate text-primary"> </i>Trước khi xem sản phẩm phía dưới, bạn nên đọc những KIẾN THỨC hữu ích sau:</h5>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-3">
                                                    <a href="https://thuongyen.com/phan-biet-yen-sao-that-gia/"><span class="ty-stack ty-3x text-primary"><i class="fa fa-circle ty-stack-2x"></i><i class="fa fa-barcode-identification ty-stack-1x ty-color"></i></span></a><p></p>
                                                    <h6><a href="https://thuongyen.com/phan-biet-yen-sao-that-gia/" class="btn-link">Phân biệt thật-giả</a></h6>
                                                    <p></p>
                                                </div>
                                                <div class="col-xs-6 col-md-3">
                                                    <a href="https://thuongyen.com/cach-su-dung-yen-sao/"><span class="ty-stack ty-3x text-primary"><i class="fa fa-circle ty-stack-2x"></i><i class="fa fa-cover ty-stack-1x ty-color"></i></span></a><p></p>
                                                    <h6><a href="https://thuongyen.com/cach-su-dung-yen-sao/" class="btn-link">Sử dụng Yến Sào</a></h6>
                                                    <p></p>
                                                </div>
                                                <div class="col-xs-6 col-md-3">
                                                    <a href="https://thuongyen.com/cach-che-bien-yen-sao/"><span class="ty-stack ty-3x text-primary"><i class="fa fa-circle ty-stack-2x"></i><i class="fa fa-bowl ty-stack-1x ty-color"></i></span></a><p></p>
                                                    <h6><a href="https://thuongyen.com/cach-che-bien-yen-sao/" class="btn-link">Chế biến Yến Sào</a></h6>
                                                    <p></p>
                                                </div>
                                                <div class="col-xs-6 col-md-3">
                                                    <a href="https://thuongyen.com/phan-loai-yen-sao-thuong-yen/"><span class="ty-stack ty-3x text-primary"><i class="fa fa-circle ty-stack-2x"></i><i class="fa fa-nest ty-stack-1x ty-color"></i></span></a><p></p>
                                                    <h6><a href="https://thuongyen.com/phan-loai-yen-sao-thuong-yen/" class="btn-link">Phân loại yến sào</a></h6>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="alert alert-warning" role="alert">
                                            <h5 class="alert-heading">Ưu đãi chỉ dành cho 10 khách đầu tiên đến <span class="promo-date">22/10/2022</span></h5>
                                            <p><i class="fa fa-gift"> </i><b>Tặng kèm: </b>01 hộp đường phèn + 01 hộp sen Huế đặc sản + 01 Thẻ ưu đãi Thượng Yến VIP CARD.</p>
                                        </div>
                                    </div>
                                    <div id="tab2" class="tab-pane" role="tabpanel">
                                        <div class="why-box">
                                            <h5 class="hidden">Tại sao nên chọn TỔ YẾN THƯỢNG HẠNG của chúng tôi:</h5>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-4">
                                                    <span class="ty-stack ty-3x text-primary"><i class="fa fa-circle ty-stack-2x"></i><i class="fa fa-barcode-identification ty-stack-1x ty-color"></i></span><p></p>
                                                    <h6>Tem truy xuất của bộ Công An</h6>
                                                    <p class="hidden-xs">Dán trên từng tổ đảm bảo hàng thật, đúng chất lượng.</p>
                                                    <p></p>
                                                </div>
                                                <div class="col-xs-6 col-md-4">
                                                    <span class="ty-stack ty-3x text-primary"><i class="fa fa-circle ty-stack-2x"></i><i class="fa fa-reload ty-stack-1x ty-color"></i></span><p></p>
                                                    <h6>Bảo hành &amp; đổi trả nhanh chóng</h6>
                                                    <p class="hidden-xs">Trong vòng 7 ngày với mọi yêu cầu nếu khách hàng không hài lòng.</p>
                                                    <p></p>
                                                </div>
                                                <div class="col-xs-6 col-md-4">
                                                    <span class="ty-stack ty-3x text-primary"><i class="fa fa-circle ty-stack-2x"></i><i class="fa fa-good ty-stack-1x ty-color"></i></span><p></p>
                                                    <h6>Cam kết tận cùng chất lượng</h6>
                                                    <p class="hidden-xs">Bồi thường x10 lần nếu khách hàng phát hiện hàng giả, kém chất lượng.</p>
                                                    <p></p>
                                                </div>
                                                <div class="col-xs-6 col-md-4 offset-md-2">
                                                    <span class="ty-stack ty-3x text-primary"><i class="fa fa-circle ty-stack-2x"></i><i class="fa fa-diamond ty-stack-1x ty-color"></i></span><p></p>
                                                    <h6>Chọn lọc theo tỉ lệ Kim Cương</h6>
                                                    <p class="hidden-xs">Nghệ nhân yến sào chọn lọc khắc khe theo tỷ lệ kim cương 100:1</p>
                                                    <p></p>
                                                </div>
                                                <div class="col-xs-6 col-md-4 offset-xs-3 offset-md-0">
                                                    <span class="ty-stack ty-3x text-primary"><i class="fa fa-circle ty-stack-2x"></i><i class="fa fa-real-estate ty-stack-1x ty-color"></i></span><p></p>
                                                    <h6>Nguồn Yến từ Thượng Yến Farm</h6>
                                                    <p class="hidden-xs">Thượng Yến Farm dẫn dụ – khai thác với hơn 10 nhà yến đạt chuẩn.</p>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><raw></raw></p>
                    </div>
                    <h1 class="content-box-title">
                        <i class="fa fa-icon"> </i><span>@Model.BodyModel.Title</span>
                        <p class="woocommerce-result-count">
                            Hiển thị tất cả 6 kết quả
                        </p>
                        <form class="woocommerce-ordering form-inline pull-lg-right form-filter" method="get">
                            <div class="form-group">
                                <label class="col-form-label-sm hidden-sm-down"><b>Sắp xếp theo:</b></label>
                                <select name="orderby" class="orderby form-control form-control-sm hidden-xs-down">
                                    <option value="price" onclick="ga('send', 'event', 'danh mục', 'click sort sản phẩm', 'Theo giá: thấp đến cao', {'nonInteraction': 1});">Theo giá: thấp đến cao</option>
                                    <option value="price-desc" onclick="ga('send', 'event', 'danh mục', 'click sort sản phẩm', 'Theo giá: cao xuống thấp', {'nonInteraction': 1});">Theo giá: cao xuống thấp</option>
                                    <option value="date" onclick="ga('send', 'event', 'danh mục', 'click sort sản phẩm', 'Theo sản phẩm mới', {'nonInteraction': 1});">Theo sản phẩm mới</option>
                                    <option value="random" onclick="ga('send', 'event', 'danh mục', 'click sort sản phẩm', 'Thứ tự ngẫu nhiên', {'nonInteraction': 1});">Thứ tự ngẫu nhiên</option>
                                </select>

                            </div>
                        </form>
                    </h1>

                    <div class="dropdown hidden-sm-up">
                        <button id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle">Chọn loại sản phẩm</button>
                        <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                            <div>
                                <h6 class="dropdown-header">Ngự Thiện Phòng</h6>
                            </div><div>
                                <h6 class="dropdown-header">Tổ yến</h6><div class="dropdown-divider"></div><a href="https://thuongyen.com/./to-yen-lam-sach/" class="dropdown-item">Tổ yến làm sạch</a>
                                <a href="https://thuongyen.com/./to-yen-tho/" class="dropdown-item">Tổ yến thô</a><a href="https://thuongyen.com/./to-yen-thuong-hang/" class="dropdown-item">Tổ yến thượng hạng</a>
                            </div><div class="dropdown-divider"></div><div>
                                <h6 class="dropdown-header">Tổ yến chưng sẵn tiện lợi</h6><div class="dropdown-divider"></div>
                                k<a href="https://thuongyen.com/./combo-yen-chung/" class="dropdown-item">Combo Yến Chưng</a>
                                k<a href="https://thuongyen.com/./nuoc-yen/" class="dropdown-item">Nước Yến</a><a href="https://thuongyen.com/./yen-chung-tuoi/" class="dropdown-item">Yến chưng tươi</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @foreach (var itemsProduct in Model.ListProduct.Take(6).ToList())
                        {
                            <div class="col-xs-6 col-md-4 post-53846 product type-product status-publish has-post-thumbnail product_cat-to-yen product_cat-to-yen-tho product_tag-to-yen-tho-con-long sale shipping-taxable purchasable product-type-simple product-cat-to-yen product-cat-to-yen-tho product-tag-to-yen-tho-con-long instock">
                                <div class="product-item">
                                    <a href="@itemsProduct.GetUrl()" class="product-img" onclick="ga('send', 'event', 'trang chủ', 'click view sản phẩm', '@itemsProduct.Name', { 'nonInteraction': 1 });">
                                        <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenConLong-Thuong50gr-02-600x600.jpg" class="img-fluid wp-post-image" alt="@itemsProduct.Name" />
                                    </a>

                                    <ul class="product-indicators">
                                        @{
                                            foreach (var partImg in HomeHelper.GetImagesOfProduct(itemsProduct.ImageFolder))
                                            {
                                                <li href="@partImg" data-toggle="lightbox" data-title="@itemsProduct.Name" data-gallery="53846" class="light-box">
                                                    <img width="180" height="180" src="@partImg" class="img-fluid" alt="@itemsProduct.Name">
                                                </li>
                                            }
                                            if (!string.IsNullOrEmpty(itemsProduct.VideoId))
                                            {
                                                <li href="https://youtu.be/@itemsProduct.VideoId" data-toggle="lightbox" data-title="@itemsProduct.Name" data-gallery="@itemsProduct.Id" class="light-box">
                                                    <img src="/Content/style_admin/custom/images/Product-360.jpg" class="img-fluid">
                                                </li>

                                            }
                                        }

                                    </ul>
                                    <p class="meta">
                                        <a href="@itemsProduct.GetUrl()" class="text" onclick="ga('send', 'event', 'trang chủ', 'click view sản phẩm', '@itemsProduct.Name', {'nonInteraction': 1});">@itemsProduct.Name</a>
                                        <span class="price">
                                            <span class="market-price">Giá thị trường: @itemsProduct.Price</span><small>₫</small>
                                            <b>@itemsProduct.PromotionPrice ₫</b>
                                        </span>
                                    </p>
                                    <p class="hidden">1</p>
                                    <a class="btn btn-success" onclick="AddToCart('@itemsProduct.Id')" data-quantity="1">Đặt hàng <img src="~/Content/style_admin/custom/images/loading.gif" style="display: none"></a>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@section scripts{

    <!-- Shopping cart scripts-->
    <script src="~/Content/layout/custom/js/shopping-cart.js"></script>

    <!-- Show modal scripts-->
    <script src="~/Content/layout/custom/js/show-modal.js"></script>
}
@section alertMessage{
    @{Html.RenderPartial("~/Views/AlertMessage/General/_AddToCartSuccess.cshtml");}
}