﻿@using MainProject.Framework.Models
@using MainProject.Framework.Helper
@model MainProject.Service.Models.ViewModel.Product.Child2ViewModel
<div class="content">
    <section class="products">
        <div class="title_section container">
            <h2>@Model.BodyModel.Title</h2>
            <span class="icon"><i class="icon-cctv"></i></span>
        </div>
        <div class="container content_product_inner">
            <div class="filter_cate " id="filter_cate">
                @foreach (var child2ProductCategory in Model.BodyModel.Child2ProductCategories)
                {
                    <div class="item_cate">
                        <span onclick="window.location='@child2ProductCategory.Url'">@child2ProductCategory.Title</span>
                    </div>
                }
            </div>
            <div class="list_product_inner">
                <div class="row">
                    @foreach (var child2ProductArticle in Model.BodyModel.Child2ProductArticles)
                    {
                        <div class="item_product">
                            <div class="ctent_item_pduct">
                                @if (!child2ProductArticle.IsPriceContact)
                                {
                                    if (child2ProductArticle.IsPromotion)
                                    {
                                        <span class="sale">Khuyến mãi @child2ProductArticle.PromotionPercent%</span>
                                    }
                                }
                                <div class="img_item">
                                    <a href="@child2ProductArticle.Url"><img src="@child2ProductArticle.Image" alt="@child2ProductArticle.Alt"></a>
                                </div>
                                <div class="ctent_txt">
                                    <a href="@child2ProductArticle.Url">
                                        <h3>@child2ProductArticle.Title</h3>
                                        <p>@child2ProductArticle.ShortDescription</p>
                                    </a>
                                    <div class="box_price">
                                        @if (child2ProductArticle.IsPriceContact)
                                        {
                                            <span class="new_price">Giá liên hệ</span>
                                        }
                                        else
                                        {
                                            if (child2ProductArticle.IsPromotion)
                                            {
                                                <span class="new_price">@child2ProductArticle.PromotionPrice VNĐ</span>
                                                <span class="old_price"><del>@child2ProductArticle.Price VNĐ</del></span>
                                            }
                                            else
                                            {
                                                <span class="new_price">@child2ProductArticle.Price VNĐ</span>
                                            }
                                        }
                                    </div>
                                    <div class="btncart">
                                        @if (child2ProductArticle.IsPriceContact)
                                        {
                                            <button onclick="window.location.href='@child2ProductArticle.Url'">Xem chi tiết</button>
                                        }
                                        else
                                        {
                                            <button onclick="AddToCart('@child2ProductArticle.Id')"><i class="ic-Purcha-icon"> </i>Mua hàng</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="pagination">
                    @Html.RenderPagingNew(Model.BodyModel.PagingModel, new PagingStyleModel() { CurrentItemStyle = "", DivContainerStyle = "row", ItemStyle = "" })
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{

    <!-- Shopping cart scripts-->
    <script src="~/Content/layout/custom/js/shopping-cart.js"></script>

    <!-- Show modal scripts-->
    <script src="~/Content/layout/custom/js/show-modal.js"></script>
}
@section alertMessage{
    @{Html.RenderPartial("~/Views/AlertMessage/General/_AddToCartSuccess.cshtml");}
}