﻿@model MainProject.Service.Models.ViewModel.Product.DetailViewModel
<div class="content">
    <div class="breadcrumb container">
        <ul>
            @Html.Raw(Model.TopModel.BreadcrumbHtmlString)
        </ul>
    </div>
    <section class="products_detail">
        <div class="row container">
            <div class="slide_detail">
                <div class="row">
                        <div class="thum_img" id="thumnail-images-detail">
                        @if (Model.BodyModel.ThumbImages.Count > 1)
                        {
                            foreach (var thumImage in Model.BodyModel.ThumbImages)
                            {
                                <div class="item_thum_img">
                                    <img src="@thumImage.Image" alt="@thumImage.Alt">
                                </div>
                            }
                         }
                        </div>
                    <div class="main_img_product" id="main-images-detail" style="margin: 1px;">
                        @foreach (var mainImage in Model.BodyModel.MainImages)
                        {
                            <div class="item_main_image_pd">
                                <img src="@mainImage.Image" alt="@mainImage.Alt">
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="imforation_product">
                <div class="content_imfor">
                    <h3 class="name_product">@Model.BodyModel.ProductName</h3>
                    <p class="code">Mã sản phẩm: <i>@Model.BodyModel.ProductCode</i></p>
                    <div class="description">
                        @Html.Raw(Model.BodyModel.ProductDescription)
                    </div>
                    <div class="price">
                        @if (Model.BodyModel.IsPriceContact)
                        {
                            <span class="price_new">Giá liên hệ</span>
                        }
                        else
                        {
                            if (Model.BodyModel.IsPromotion)
                            {
                                <span class="price_new">Giá : @Model.BodyModel.PromotionPrice VNĐ</span>
                                <span class="price_old"><del> Giá cũ: @Model.BodyModel.Price VNĐ</del></span>
                            }
                            else
                            {
                                <span class="price_new">Giá : @Model.BodyModel.Price VNĐ</span>
                            }
                        }

                    </div>
                    @if (!Model.BodyModel.IsPriceContact)
                    {
                        <div class="btncart row">
                            <div class="amount">
                                <input type="text" value="1" id="item_count">
                                <span class="btn minus">-</span>
                                <span class="btn plus">+</span>
                            </div>
                            <button onclick="AddToCartDetail(@Model.BodyModel.Id)"><i class="ic-Purcha-icon"> </i>Mua hàng</button>
                            @if (Model.BodyModel.IsVideo)
                            {
                                <button class="view_youtube dataModal" data-idVideo="@Model.BodyModel.ProductVideoId" data-id="popup_video">
                                    Xem video
                                </button>
                            }
                        </div>
                    }
                </div>
		@if(!string.IsNullOrEmpty(Model.BodyModel.SalesCommitment))
		{
                <div class="commitment_product">
                    <h3 class="txt_commitment_product">Cam kết bán hàng</h3>
                    @Html.Raw(Model.BodyModel.SalesCommitment)
                </div>
		}
            </div>
            @if (!string.IsNullOrEmpty(Model.BodyModel.DetailInformation))
            {
                <div class="imfor_description_product">
                    <h3 class="txt_imfor_detail">Thông Tin Chi Tiết </h3>
                    <div class="txt_detail">
                        @Html.Raw(Model.BodyModel.DetailInformation)
                    </div>
                </div>
            }
        </div>
        <div style="clear: both;"></div>
        <div class="container">
            <div class="title_section ">
                <h2>@Model.BottomModel.Title</h2>
                <span class="icon"><i class="icon-cctv"></i></span>
            </div>
            <div class="product_relation_ship " id="product_relation_ship">
                @foreach (var detailProductArticle in Model.BottomModel.DetailProductArticles)
                {
                    <div class="item_product">
                        <div class="ctent_item_pduct">
                            @if (!detailProductArticle.IsPriceContact)
                            {
                                if (detailProductArticle.IsPromotion)
                                {
                                    <span class="sale">Khuyến mãi @detailProductArticle.PromotionPercent%</span>
                                }
                            }
                            <div class="img_item">
                                <a href="@detailProductArticle.Url"><img src="@detailProductArticle.Image" alt="@detailProductArticle.Alt"></a>
                            </div>
                            <div class="ctent_txt">
                                <a href="@detailProductArticle.Url">
                                    <h3>@detailProductArticle.Title</h3>
                                    <p>@detailProductArticle.ShortDescription</p>
                                </a>

                                <div class="box_price">
                                    @if (detailProductArticle.IsPriceContact)
                                    {
                                        <span class="new_price">Giá liên hệ</span>
                                    }
                                    else
                                    {
                                        if (detailProductArticle.IsPromotion)
                                        {
                                            <span class="new_price">@detailProductArticle.PromotionPrice VNĐ</span>
                                            <span class="old_price"><del>@detailProductArticle.Price VNĐ</del></span>
                                        }
                                        else
                                        {
                                            <span class="new_price">5.000.000 VNĐ</span>
                                        }
                                    }
                                </div>
                                <div class="btncart">
                                    @if (detailProductArticle.IsPriceContact)
                                    {
                                        <button onclick="window.location.href='@detailProductArticle.Url'">Xem chi tiết</button>
                                    }
                                    else
                                    {
                                        <button onclick="AddToCart('@detailProductArticle.Id')"><i class="ic-Purcha-icon"> </i>Mua hàng</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
@section scripts{
    <!--Youtube iframe scripts-->
    <script src="https://www.youtube.com/iframe_api"></script>

    <!-- Shopping cart scripts-->
    <script src="~/Content/layout/custom/js/shopping-cart.js"></script>

    <!-- Show modal scripts-->
    <script src="~/Content/layout/custom/js/show-modal.js"></script>
    }
@section alertMessage{
    @{Html.RenderPartial("~/Views/AlertMessage/General/_AddToCartSuccess.cshtml");}
}