﻿@model MainProject.Service.Models.ViewModel.Product.DetailViewModel
<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="https://thuongyen.com/to-yen/" target="_blank"><i class="ty ty-fw ty-nest color-nest text-primary"></i><span>Yến Sào</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/yen-chung-tuoi/" target="_blank"><i class="ty ty-fw ty-dairy color-dairy text-primary"></i><span>Yến Chưng Tươi</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/qua-tang/" target="_blank"><i class="ty ty-fw ty-gift color-gift text-primary"></i><span>Quà Doanh Nghiệp</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/bang-phan-loai-yen-sao-va-cam-ket-mua-hang-thuong-yen/" target="_blank"><i class="ty ty-fw ty-handshake color-dairy text-primary"></i><span>Cam kết mua hàng</span></a></li>
            <li class="nav-item"><a href="tel:02839123678"><i class="ty ty-fw ty-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li>
        </ul>
    </div>
    <div class="col-full">
        <div class="content product-detail-page">
            <div class="top-cta" style="display: none;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="cta-product-item">
                                <div class="product-img">
                                    <img width="180" height="180" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-02-180x180.jpg" class="lazy-hidden img-fluid img-rounded wp-post-image" alt=""><noscript><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-02-180x180.jpg" class="img-fluid img-rounded wp-post-image" alt="" /></noscript>
                                </div>
                                <div class="meta">
                                    <div class="text">@Model.BodyModel.ProductName</div>
                                    <span class="price"> <b>@Model.BodyModel.Price</b></span>
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary pull-right btn_add_to_cart" data-product_id="53861"><i class="ty ty-shopping-bag"></i>Đặt hàng <img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/loading.gif" style="display: none"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="breadcrumb">
                    @Html.Raw(Model.TopModel.BreadcrumbHtmlString)
                </nav><!-- .breadcrumb -->
                <div class="detail-box">
                    <div class="row">
                        <div class="col-md-12 col-lg-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="product-carousel" data-ride="carousel" data-interval="false" class="carousel slide">
                                        <!-- Wrapper for slides-->
                                        <div role="listbox" class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <iframe id="player" videoid="an_Q5i5Ul9s" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="Tổ Yến Làm Sạch Thường - Thượng Yến" width="640" height="390" src="https://www.youtube.com/embed/an_Q5i5Ul9s?enablejsapi=1&amp;origin=https%3A%2F%2Fthuongyen.com&amp;widgetid=1"></iframe>
                                                </div>
                                            </div><div class="carousel-item ">
                                                <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-02-600x600.jpg" class="img-fluid img-rounded w-100 img-zoom" alt="" data-zoom-image="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-02.jpg">
                                            </div><div class="carousel-item ">
                                                <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-03-600x600.jpg" class="img-fluid img-rounded w-100 img-zoom" alt="Tổ yến làm sạch 50gr - Tiêu chuẩn thường" data-zoom-image="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-03.jpg">
                                            </div><div class="carousel-item ">
                                                <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-01-600x600.jpg" class="img-fluid img-rounded w-100 img-zoom" alt="Tổ yến làm sạch 50gr - Tiêu chuẩn thường" data-zoom-image="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-01.jpg">
                                            </div><div class="carousel-item ">
                                                <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2019/09/bieu-qua-tet-cho-bo-me-nguoi-yeu-7-600x600.jpg" class="img-fluid img-rounded w-100 img-zoom" alt="" data-zoom-image="https://thuongyen.com/wp-content/uploads/2019/09/bieu-qua-tet-cho-bo-me-nguoi-yeu-7.jpg">
                                            </div><div class="carousel-item "><img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2019/10/qua-tet-tang-sep-cao-cap-3-600x600.jpg" class="img-fluid img-rounded w-100 img-zoom" alt="" data-zoom-image="https://thuongyen.com/wp-content/uploads/2019/10/qua-tet-tang-sep-cao-cap-3.jpg"></div>
                                        </div><!-- Indicators-->
                                        <ul class="carousel-indicators">
                                            <li data-slide-to="0" data-target="#product-carousel" class="active">
                                                <img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/Product-360.jpg" class="img-fluid">
                                            </li>
                                            <li data-slide-to="1" data-target="#product-carousel" class=""><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-02-180x180.jpg" class="img-fluid" alt=""></li>
                                            <li data-slide-to="2" data-target="#product-carousel" class=""><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-03-180x180.jpg" class="img-fluid" alt="Tổ yến làm sạch 50gr - Tiêu chuẩn thường"></li>
                                            <li data-slide-to="3" data-target="#product-carousel" class=""><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-01-180x180.jpg" class="img-fluid" alt="Tổ yến làm sạch 50gr - Tiêu chuẩn thường"></li>
                                            <li data-slide-to="4" data-target="#product-carousel" class=""><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2019/09/bieu-qua-tet-cho-bo-me-nguoi-yeu-7-180x180.jpg" class="img-fluid" alt=""></li>
                                            <li data-slide-to="5" data-target="#product-carousel" class=""><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2019/10/qua-tet-tang-sep-cao-cap-3-180x180.jpg" class="img-fluid" alt=""></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="product-info">
                                        <form class="cart" method="get" enctype="multipart/form-data">
                                            <h1 class="product-title">@Model.BodyModel.ProductName</h1>
                                            <p class="meta-info"></p><p>
                                                @Html.Raw(Model.BodyModel.ProductDescription)
                                            </p>
                                            <p></p>
                                            <div class="product-properties">
                                                <b>Phân loại:</b>
                                                <a class="btn-link" href="https://thuongyen.com/./to-yen/" rel="tag" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click phân loại', 'Tổ yến', {'nonInteraction': 1});">Tổ yến</a>, <a class="btn-link" href="https://thuongyen.com/./to-yen-lam-sach/" rel="tag" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click phân loại', 'Tổ yến làm sạch', {'nonInteraction': 1});">Tổ yến làm sạch</a>
                                            </div>
                                            <div class="row">
                                                <div class="product-properties col-xs-6">
                                                    <div class="form-group form-inline">
                                                        <label for="#product-quantity">Số lượng:</label>
                                                        <input type="number" id="#product-quantity" class="form-control form-control-sm input-text qty text input_qty_single" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric">
                                                        <input type="hidden" name="current_page" value="https://thuongyen.com/san-pham/to-yen-lam-sach-tieu-chuan-thuong-50gr">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cta">
                                                <span class="market-price">Giá thị trường: @Model.BodyModel.PromotionPrice ₫</span>
                                                <div class="price">
                                                    <b>@Model.BodyModel.Price ₫</b>
                                                </div>
                                                <button type="submit" name="add-to-cart" value="53861" class="btn btn-primary btn-lg single_add_to_cart_button" onclick="AddToCart('@Model.BodyModel.Id')">
                                                    <i class="ty ty-shopping-bag"> </i><span>Đặt hàng <img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/loading.gif" style="display: none"><small>Giao hàng trong 24H</small></span>
                                                </button>
                                            </div>
                                            <div class="phone-cta card">
                                                <div class="card-block">
                                                    <input id="inlineFormInput" type="text" placeholder="Nhập số điện thoại..." class="form-control form-control-sm input_phone_single">
                                                    <div class="clearfix"></div>
                                                    <p class="text-danger error-phone-notice-mua-nhanh" style="display:none"><i class="ty ty-info-circled"></i><span>Vui lòng nhập số điện thoại hợp lệ.</span></p>
                                                    <input type="text" placeholder="Nhập địa chỉ giao hàng..." class="form-control form-control-sm input_address_single">
                                                    <div class="clearfix"></div>
                                                    <p class="text-danger error-address-notice-mua-nhanh" style="display:none"><i class="ty ty-info-circled"></i><span>Vui lòng nhập địa chỉ.</span></p>
                                                    <button type="button" class="btn btn-danger btn-sm btn_mua_nhanh" data-product_id="53861"><i class="ty ty-flash"> </i>Mua nhanh</button>
                                                    <img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/loading-bar.gif" style="display:none" class="loading-bar">

                                                </div>
                                            </div>
                                            <p class="delivery alert alert-info hidden">
                                                <span><i class="ty ty-delivery-truck"> </i>Giao hàng miễn phí khu vực nội thành.</span><span><i class="ty ty-card"> </i>Số tiền <span class="text-primary">6.500đ </span>sẽ được tích vào thẻ khi giao dịch thành công.</span>
                                            </p>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 store-sidebar hidden-md-down">
                            <h4 class="sidebar-title">Cửa hàng gần nhất</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <p><i class="ty ty-home"> </i>Thượng Yến Hồ Chí Minh</p>
                                    <p><a href="tel:0929123678" class="btn-link" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click right sidebar', 'hotline', {'nonInteraction': 1});"><i class="ty ty-fw ty-phone"></i>0929 123 678</a></p>
                                    <p>
                                        <i class="ty ty-fw ty-location-1"></i>347/15/6 Huỳnh Văn Bánh, P.11, Q.Phú Nhuận,TP. HCM
                                    </p>
                                    <div class="text-center"><a href="https://goo.gl/maps/3vJvqDrJZRk" target="_blank" class="btn btn-outline-danger btn-sm" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click right sidebar', 'xem bản đồ', {'nonInteraction': 1});"> <i class="ty ty-direction"> </i>Xem bản đồ</a></div>
                                    <p></p>
                                </li>
                                <li class="hidden">
                                    <p><i class="ty ty-home"> </i>Thượng Yến Hà Nội</p>
                                    <p><a href="tel:0949800811" class="btn-link"> <i class="ty ty-fw ty-phone"></i>0949 800 811</a></p>
                                    <p>
                                        <i class="ty ty-location-1"></i>P2210, Building CT36B, P. Định Công, Q. Hoàng Mai, HN
                                    </p>
                                    <div class="text-center"><a href="https://goo.gl/maps/3vJvqDrJZRk" target="_blank" class="btn btn-outline-danger btn-sm"> <i class="ty ty-direction"> </i>Xem bản đồ</a></div>
                                    <p></p>
                                </li>
                                <li class="hidden">
                                    <p><i class="ty ty-home"> </i>Thượng Yến Đà Nẵng</p>
                                    <p><a href="tel:0949800811" class="btn-link"> <i class="ty ty-fw ty-phone"></i>0949 800 811</a></p>
                                    <p>
                                        <i class="ty ty-location-1"></i>P2210, Building CT36B, P. Định Công, Q. Hoàng Mai, HN
                                    </p>
                                    <div class="text-center"><a href="https://goo.gl/maps/3vJvqDrJZRk" target="_blank" class="btn btn-outline-danger btn-sm"> <i class="ty ty-direction"> </i>Xem bản đồ</a></div>
                                    <p></p>
                                </li>
                                <li><a href="https://thuongyen.com/lien-he/" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click right sidebar', 'tất cả cửa hàng', {'nonInteraction': 1});">Xem tất cả cửa hàng <i class="ty ty-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 product-info-detail">

                                    <ul role="tablist" class="nav tabs nav-inline">
                                        <li class="nav-item"><a data-toggle="tab" href="#tab1" role="tab" class="nav-link btn active" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click tab', 'thông tin sản phẩm', {'nonInteraction': 1});">Thông tin <span class="hidden-xs">sản phẩm</span></a></li>
                                        <li class="nav-item"><a data-toggle="tab" href="#tab2" role="tab" class="nav-link btn btn-tab-cbbq" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click tab', 'chế biến bảo quản', {'nonInteraction': 1});">Chế biến &amp; Bảo Quản</a></li>
                                    </ul>
                                    <div class="post-content-wrap">
                                        <div class="tab-content">
                                            <div id="tab1" role="tabpanel" class="tab-pane active">
                                                @Html.Raw(Model.BodyModel.DetailInformation)
                                            </div>
                                            <div id="tab2" role="tabpanel" class="tab-pane active">
                                                @Html.Raw(Model.BodyModel.SalesCommitment)
                                            </div>

                                        </div>
                                    </div>


                                    @*<div class="QA-box">
                                        <div class="direction-bottom text-xs-center">
                                            <h6>Thông tin trên có hữu ích với bạn, đừng quên tìm hiểu thêm:</h6>
                                            <p>
                                                <a data-toggle="tab" href="#" role="tab" class="social-sharing-buttons btn btn-info btn-tab-cbbq-trigger" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click button bottom', 'hướng dẫn chế biến sản phẩm', {'nonInteraction': 1});"><span>Hướng dẫn chế biến &amp; bảo quản</span></a>
                                                <a href="https://thuongyen.com/tin-tuc/cam-nang-tai-lieu/" class="social-sharing-buttons btn btn-danger" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click button bottom', 'cẩm nang &amp; tài liệu sử dụng yến', {'nonInteraction': 1});"><span>Cẩm nang &amp; tài liệu sử dụng Yến</span></a>
                                            </p>
                                        </div>
                                        <h4 class="content-box-title text-center"><i class="ty ty-commenting"></i>Hỏi, đáp về sản phẩm</h4>
                                        <ul class="list-unstyled QA-list">
                                            <li>
                                                <h6><b>Hỏi:</b><span>Tôi có được kiểm tra sản phẩm ngay khi nhận hàng không?</span></h6>
                                                <div class="meta">
                                                    <b>Đáp</b>
                                                    <div class="answer"><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Quý khách được kiểm tra hàng trước khi nhận hàng.&quot;}" data-sheets-userformat="{&quot;2&quot;:8403843,&quot;3&quot;:[null,0],&quot;4&quot;:[null,2,16777215],&quot;10&quot;:1,&quot;11&quot;:4,&quot;12&quot;:0,&quot;14&quot;:[null,2,1909033],&quot;15&quot;:&quot;system-ui, -apple-system, system-ui, \&quot;.SFNSText-Regular\&quot;, sans-serif&quot;,&quot;16&quot;:11,&quot;26&quot;:400}">Quý khách được kiểm tra hàng trước khi nhận hàng.</span></div>
                                                </div>
                                            </li>
                                            <li>
                                                <h6><b>Hỏi:</b><span>Đối tượng nào nên dùng yến làm sạch?</span></h6>
                                                <div class="meta">
                                                    <b>Đáp</b>
                                                    <div class="answer"><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Yến tinh chế rất tiện lợi cho người không có thời gian hoặc những trường hợp cần dùng yến gấp .&quot;}" data-sheets-userformat="{&quot;2&quot;:4993,&quot;3&quot;:[null,0],&quot;10&quot;:1,&quot;11&quot;:4,&quot;12&quot;:0,&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">Tổ yến làm sạch (yến tinh chế) rất tiện lợi cho người không có thời gian hoặc những trường hợp cần dùng yến gấp.</span></div>
                                                </div>
                                            </li>
                                            <li>
                                                <h6><b>Hỏi:</b><span>Ưu và nhược điểm của yến tinh chế (yến làm sạch)?</span></h6>
                                                <div class="meta">
                                                    <b>Đáp</b>
                                                    <div class="answer"><p style="text-align: left;"><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Về giá cả, yến tinh chế cao hơn yến thô do đã được các nghệ nhân lành nghề bỏ công làm sạch từng chiếc tổ và bù vào phần hao hụt để đút lại thành chiếc tổ yến, đây cũng là sản phẩm yến được nhiều người lựa chọn vì tiện dụng hơn.Tuy nhiên tổ yến tinh chế được xử lý qua nhiều lần nước và được đúc khuôn tạo dáng tổ nên sợi yến bị phồng lên và cũng mất phần nào độ tinh nguyên.&quot;}" data-sheets-userformat="{&quot;2&quot;:4993,&quot;3&quot;:[null,0],&quot;10&quot;:1,&quot;11&quot;:4,&quot;12&quot;:0,&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">Về giá cả, yến tinh chế cao hơn yến thô do đã được các nghệ nhân lành nghề bỏ công làm sạch từng chiếc tổ và bù vào phần hao hụt để đúc lại thành chiếc tổ yến, đây cũng là sản phẩm yến được nhiều người lựa chọn vì tiện dụng hơn. Tuy nhiên tổ yến tinh chế được xử lý qua nhiều lần nước và được đúc khuôn tạo dáng tổ nên sợi yến bị phồng lên và cũng mất phần nào độ tinh nguyên.</span></p></div>
                                                </div>
                                            </li>
                                            <li>
                                                <h6><b>Hỏi:</b><span>Sử dụng yến sào bao lâu thì có tác dụng?</span></h6>
                                                <div class="meta">
                                                    <b>Đáp</b>
                                                    <div class="answer"><p style="text-align: justify;"><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Nếu cơ địa hấp thụ tốt và dùng đúng khẩu phần liều lượng hiệu quả 30gr yến tươi/người lớn, 5gr yến tươi/trẻ em 1 ngày, thì sau 1 tuần có thể cảm nhận được sự hiệu quả. Các dấu hiệu cảm nhận: ăn ngon miệng hơn, thèm ăn, nhuận trường, dễ dàng trong đại tiện, cảm giác như được đào thải độc tố. &quot;}" data-sheets-userformat="{&quot;2&quot;:897,&quot;3&quot;:[null,0],&quot;10&quot;:1,&quot;11&quot;:4,&quot;12&quot;:0}">Nếu cơ địa hấp thụ tốt và dùng đúng khẩu phần liều lượng hiệu quả 30gr yến tươi/người lớn, 5gr yến tươi/trẻ em 1 ngày, thì sau 1 tuần có thể cảm nhận được sự hiệu quả. Các dấu hiệu cảm nhận: ăn ngon miệng hơn, thèm ăn, nhuận trường, dễ dàng trong đại tiện, cảm giác như được đào thải độc tố. </span></p></div>
                                                </div>
                                            </li>
                                            <li>
                                                <h6><b>Hỏi:</b><span>Người tiểu đường có dùng được không?</span></h6>
                                                <div class="meta">
                                                    <b>Đáp</b>
                                                    <div class="answer">Trong yến không có tinh bột, cơ chế tạo ra đường nên người tiểu đường vẫn dùng bình thường, và nên dùng thường xuyên để tăng cường sức khoẻ. Đặc biệt chỉ nên chưng yến với đường dành cho người mắc bệnh tiểu đường hoặc chưng không đường.</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="card certificate-box">
                                        <div class="card-block">
                                            <h4 class="content-box-title text-center"><i class="ty ty-award-1"></i>Chứng nhận sản phẩm</h4>
                                            <div class="row"><div class="col-xs-6 col-md-3"><a href="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-vietnam-chungnhan-Cup.jpg" data-toggle="lightbox" data-title="Cúp Vàng Thương Hiệu" data-gallery="gallery"><img width="806" height="1100" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-vietnam-chungnhan-Cup.jpg" class="img-rounded img-fluid w-100" alt=""></a></div><div class="col-xs-6 col-md-3"><a href="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-vietnam-chungnhan-Kiemdinhchatluong.jpg" data-toggle="lightbox" data-title="Chứng Nhận Kiểm Định Chất Lượng" data-gallery="gallery"><img width="806" height="1100" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-vietnam-chungnhan-Kiemdinhchatluong.jpg" class="img-rounded img-fluid w-100" alt=""></a></div><div class="col-xs-6 col-md-3"><a href="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-vietnam-chungnhan-Antoanthucpham.jpg" data-toggle="lightbox" data-title="Công Bố Chất Lượng An Toàn Thực Phẩm" data-gallery="gallery"><img width="806" height="1100" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-vietnam-chungnhan-Antoanthucpham.jpg" class="img-rounded img-fluid w-100" alt="Xác nhận công bố chất lượng an toàn thực phẩm"></a></div><div class="col-xs-6 col-md-3"><a href="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-vietnam-chungnhan-Thucphamviet.jpg" data-toggle="lightbox" data-title="Chứng Nhận Thực Phẩm Việt" data-gallery="gallery"><img width="806" height="1100" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-vietnam-chungnhan-Thucphamviet.jpg" class="img-rounded img-fluid w-100" alt="Giấy chứng nhận thực phẩm Việt"></a></div></div>
                                        </div>
                                    </div>
                                    <div class="content-box testimonial-box">
                                        <div id="carousel-testimonial" data-ride="carousel" class="carousel main-slider slide">
                                            <div role="listbox" class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="single-client-test">
                                                        <div class="client-test-box">
                                                            <div class="client-text-icon"></div>
                                                            <p>Công việc của tôi khá bận rộn bên ngoài, mặc dù đã tiết giảm thời gian và khá cầu toàn trong việc chăm sóc con cái và gia đình. Nhưng tôi vẫn rất hài lòng với sản phẩm yến làm sạch của Thượng Yến vì chất lượng, độ nguyên chất và đặc biệt tiện lợi mỗi khi vào bếp.</p>
                                                        </div>
                                                        <div class="client-text-info">
                                                            <img width="97" height="96" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-feedback-yen-tinh-che-1.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-feedback-yen-tinh-che-1.jpg" class="attachment-thumbnail size-thumbnail wp-post-image lazy-loaded" alt=""><noscript><img width="97" height="96" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-feedback-yen-tinh-che-1.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /></noscript>
                                                            <div class="cleint-desc"><span class="tes-name">Hoàng Uyên</span><small class="text-muted">Universal Study Center</small></div>
                                                        </div>
                                                    </div>
                                                </div><div class="carousel-item ">
                                                    <div class="single-client-test">
                                                        <div class="client-test-box">
                                                            <div class="client-text-icon"></div>
                                                            <p>Tôi được chồng mua yến trên Thuongyen.com bồi bổ từ lúc mới có bầu đến lúc sinh. Tôi thực sự không tin được rằng sự hiệu quả của yến sào đến bất ngờ, tôi sinh rất nhanh, bé hồng hào và sạch. Cám ơn Thượng Yến!</p>
                                                        </div>
                                                        <div class="client-text-info">
                                                            <img width="58" height="96" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-feedbackKH.jpg" class="lazy-hidden attachment-thumbnail size-thumbnail wp-post-image" alt=""><noscript><img width="58" height="96" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-feedbackKH.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /></noscript>
                                                            <div class="cleint-desc"><span class="tes-name">Đào Thị Huệ</span><small class="text-muted">Trưởng Phòng Kế Toán</small></div>
                                                        </div>
                                                    </div>
                                                </div><div class="carousel-item ">
                                                    <div class="single-client-test">
                                                        <div class="client-test-box">
                                                            <div class="client-text-icon"></div>
                                                            <p>Tôi ủng hộ tinh thần làm việc hết mình. Tôi ủng hộ thái độ làm việc nghiêm túc và trân trọng nghề nghiệp. Tôi ủng hộ những người đặt lợi ích của khách hàng làm mục tiêu phấn đấu. Vì vậy, tôi chọn THƯỢNG YẾN! Chắc chắn các bạn sẽ còn phát triển hơn nữa!</p>
                                                        </div>
                                                        <div class="client-text-info">
                                                            <img width="96" height="96" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-feedback-KH.jpg" class="lazy-hidden attachment-thumbnail size-thumbnail wp-post-image" alt=""><noscript><img width="96" height="96" src="https://thuongyen.com/wp-content/uploads/2018/03/thuongyen-feedback-KH.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /></noscript>
                                                            <div class="cleint-desc"><span class="tes-name">Dương Hồng Phương</span><small class="text-muted">PGĐ Cty Du Lịch Kim</small></div>
                                                        </div>
                                                    </div>
                                                </div><div class="carousel-item ">
                                                    <div class="single-client-test">
                                                        <div class="client-test-box">
                                                            <div class="client-text-icon"></div>
                                                            <p>Sếp mình là nữ, chị rất quan tâm tới sức khoẻ nên mình chọn Thượng Yến thông qua người bạn giới thiệu vì chất lượng, hình thức sản phẩm sang trọng đáp ứng Gu tặng quà của mình!</p>
                                                        </div>
                                                        <div class="client-text-info">
                                                            <img width="96" height="96" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-khachhangfeedback.jpg" class="lazy-hidden attachment-thumbnail size-thumbnail wp-post-image" alt=""><noscript><img width="96" height="96" src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-khachhangfeedback.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /></noscript>
                                                            <div class="cleint-desc"><span class="tes-name">Mai Tấn Đạt</span><small class="text-muted">CV Tín Dụng Vietinbank</small></div>
                                                        </div>
                                                    </div>
                                                </div><div class="carousel-item ">
                                                    <div class="single-client-test">
                                                        <div class="client-test-box">
                                                            <div class="client-text-icon"></div>
                                                            <p>Tôi rất hài lòng với dịch và sự uy tín của các bạn. Người thân, bạn bè của tôi rất thích khi tôi tặng họ yến sào vừa tốt cho sức khoẻ lại vừa sang, đẹp. Cảm ơn Thượng Yến!</p>
                                                        </div>
                                                        <div class="client-text-info">
                                                            <img width="96" height="96" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-camnhankhachhang.jpg" class="lazy-hidden attachment-thumbnail size-thumbnail wp-post-image" alt=""><noscript><img width="96" height="96" src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-camnhankhachhang.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" /></noscript>
                                                            <div class="cleint-desc"><span class="tes-name">Lộc Nguyễn</span><small class="text-muted">CV. Kiểm Soát Rủi Ro Vietcapital Bank</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><ol class="carousel-indicators"><li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li><li data-target="#carousel-testimonial" data-slide-to="1" class=""></li><li data-target="#carousel-testimonial" data-slide-to="2" class=""></li><li data-target="#carousel-testimonial" data-slide-to="3" class=""></li><li data-target="#carousel-testimonial" data-slide-to="4" class=""></li></ol>
                                        </div>
                                    </div>*@
                                </div>


                                <div class="sidebar col-xs-12 col-md-4">
                                    <div class="sidebar-box">
                                        <h3 class="box-title"><span>@Model.BottomModel.Title</span></h3>
                                        <div class="row">
                                            <div class="col-xs-6 col-md-12">
                                                @foreach (var detailProductArticle in Model.BottomModel.DetailProductArticles)
                                                {
                                                    <div class="product-item">
                                                        <a href="@detailProductArticle.Url" class="product-img">
                                                            <img width="180" height="180" src="@detailProductArticle.Image"
                                                                 data-lazy-type="image" data-src="@detailProductArticle.Image" class="img-fluid img-rounded wp-post-image lazy-loaded" alt="@detailProductArticle.Alt">

                                                        </a>
                                                        <p class="meta">
                                                            <a href="@detailProductArticle.Url" class="text">@detailProductArticle.Title</a>
                                                            <span class="price"><b>@detailProductArticle.Price ₫</b></span>
                                                            <a class="hidden-sm btn btn-primary btn-sm" onclick="AddToCart('@Model.BodyModel.Id')">Đặt hàng</a>
                                                        </p>
                                                    </div>

                                                }



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="content-box product-box">
                        <div class="box-item">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="content-box-title"><i class="ty ty-star"> </i>Có thể bạn quan tâm<a href="https://thuongyen.com/san-pham/" class="read-all">Xem tất cả <i class="ty ty-angle-right"></i></a></h3>
                                </div>
                            </div>
                            <div class="row">

                                @if (Model.BodyModel.NewsArticles != null)
                                {
                                    foreach (var item in Model.BodyModel.NewsArticles)
                                    {
                                        <div class="col-xs-6 col-md-4 post-62143 product type-product status-publish has-post-thumbnail product_cat-to-yen-chung-san-tien-loi product_cat-yen-chung-tuoi product_tag-yen-chung-tuoi product_tag-yen-hu-chung-san sale shipping-taxable purchasable product-type-simple product-cat-to-yen-chung-san-tien-loi product-cat-yen-chung-tuoi product-tag-yen-chung-tuoi product-tag-yen-hu-chung-san instock">
                                            <div class="product-item">
                                                <a href="https://thuongyen.com/san-pham/yen-chung-san/" class="product-img" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click view sản phẩm', 'có thể bạn quan tâm  - 1', {'nonInteraction': 1});">
                                                    <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2021/11/tổ-yến-chưng-thanh-nhiệt-600x600.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2021/11/tổ-yến-chưng-thanh-nhiệt-600x600.png" class="img-fluid wp-post-image lazy-loaded" alt=""><noscript><img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2021/11/tổ-yến-chưng-thanh-nhiệt-600x600.png" class="img-fluid wp-post-image" alt="" /></noscript>
                                                </a>


                                                <p class="meta">
                                                    <a href="https://thuongyen.com/san-pham/yen-chung-san/" class="text" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click view sản phẩm', 'có thể bạn quan tâm  - 1', {'nonInteraction': 1});">Yến Chưng Tươi 3 Size Tuỳ Chọn 80ml- 210ml – 280ml</a>
                                                    <span class="price">
                                                        <small>255.000₫</small>
                                                        <b>195.000₫</b>
                                                    </span>
                                                </p>
                                                <p class="hidden">1</p>
                                                <a class="btn btn-success" href="/san-pham/to-yen-lam-sach-tieu-chuan-thuong-50gr/?add-to-cart=62143&amp;current_page=https://thuongyen.com/san-pham/to-yen-lam-sach-tieu-chuan-thuong-50gr" data-quantity="1" data-product_id="62143" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click đặt hàng', 'sản phẩm liên quan  - 1', {'nonInteraction': 1});">Đặt hàng <img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/loading.gif" style="display: none"></a>
                                            </div>
                                        </div>



                                    }
                                }
                            </div>
                        </div>
                    </div>*@

                    <div class="post-box">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="content-box-title">
                                    <i class="ty ty-star">
                                    </i>Bài viết liên quan<a href="https://thuongyen.com/tin-tuc/" class="read-all">Xem tất cả <i class="ty ty-angle-right"></i></a>
                                </h3>
                            </div>
                            @if (Model.BodyModel.HotArticles != null)
                            {
                                foreach (var item in Model.BodyModel.HotArticles)
                                {


                                    <div class="col-xs-12 col-md-4">
                                        <div class="post-item">
                                            <a href="@item.Url" class="post-img">
                                                <img width="730" height="410" src="@item.Image" data-lazy-type="image" data-src="@item.Image" class="img-rounded img-fluid img-responsive wp-post-image lazy-loaded" alt="@item.Alt">
                                                <noscript><img width="730" height="410" src="@item.Image" class="img-rounded img-fluid img-responsive wp-post-image" alt="@item.Alt" /></noscript>
                                            </a>
                                            <p class="meta">
                                                <a href="@item.Url" class="text" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click bài viết', 'bài viết liên quan - 1', {'nonInteraction': 1});">@item.Title</a>
                                                <small class="hidden-sm-down text-muted">@item.Description....</small>
                                            </p>
                                        </div>
                                    </div>
                                }
                            }


                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

                // 2. This code loads the IFrame Player API code asynchronously.
                var tag = document.createElement('script');

                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // 3. This function creates an <iframe> (and YouTube player)
                // after the API code downloads.
                var player;
                function onYouTubeIframeAPIReady() {

                    var video_id = document.getElementById("player").getAttribute("videoId");

                    player = new YT.Player('player', {
                        height: '390',
                        width: '640',
                        videoId: video_id, //'an_Q5i5Ul9s'
                        events: {
                            'onReady': onPlayerReady,
                            //'onStateChange': onPlayerStateChange
                        }
                    });
                }

                // 4. The API will call this function when the video player is ready.
                function onPlayerReady(event) {
                    event.target.playVideo();
                }

                // 5. The API calls this function when the player's state changes.
                //    The function indicates that when playing a video (state=1),
                //    the player should play for six seconds and then stop.
                var done = false;
                function onPlayerStateChange(event) {
                    if (event.data == YT.PlayerState.PLAYING && !done) {
                        setTimeout(stopVideo, 6000);
                        done = true;
                    }
                }
                function stopVideo() {
                    player.stopVideo();
                }
            </script>


        </div><!-- .col-full -->
    </div>
    @section scripts{
        <!--Youtube iframe scripts-->
        <script src="https://www.youtube.com/iframe_api"></script>

        <!-- Shopping cart scripts-->
        <script src="~/Content/layout/custom/js/shopping-cart.js"></script>

        <!-- Show modal scripts-->
        <script src="~/Content/layout/custom/js/show-modal.js"></script>
    }
    @section alertMessage{
        @{Html.RenderPartial("~/Views/AlertMessage/General/_AddToCartSuccess.cshtml");}
    }
