﻿@using MainProject.Framework.Models
@using MainProject.Framework.Helper
@using MainProject.Service.Helper;
@model MainProject.Service.Models.ViewModel.Product.Child2ViewModel
<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="https://thuongyen.com/to-yen/" target="_blank"><i class="fa fa-fw ty-nest color-nest text-primary"></i><span>Yến Sào</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/yen-chung-tuoi/" target="_blank"><i class="fa fa-fw ty-dairy color-dairy text-primary"></i><span>Yến Chưng Tươi</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/qua-tang/" target="_blank"><i class="fa fa-fw ty-gift color-gift text-primary"></i><span>Quà Doanh Nghiệp</span></a></li>
            <!-- <li class="nav-item"><a data-toggle="modal" data-target="#aloModal"><i class="fa fa-fw ty-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li> -->
            <li class="nav-item"><a href="https://thuongyen.com/bang-phan-loai-yen-sao-va-cam-ket-mua-hang-thuong-yen/" target="_blank"><i class="fa fa-fw ty-handshake color-dairy text-primary"></i><span>Cam kết mua hàng</span></a></li>
            <li class="nav-item"><a href="tel:02839123678"><i class="fa fa-fw ty-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li>
        </ul>
    </div>
    <div class="col-full">
        <div class="content product-category-page">
            <div id="carousel-183" data-ride="carousel" class="carousel main-slider slide">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-183" data-slide-to="0" class="">
                    </li>
                    <li data-target="#carousel-183" data-slide-to="1" class="active"></li>
                </ol><div role="listbox" class="carousel-inner">
                    <div class="carousel-item">
                        <a href="https://thuongyen.com/to-yen/" class="random-183 ">
                            <img width="1100" height="394" src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-banner.jpg" class="img-fluid" alt="">
                        </a>
                    </div><div class="carousel-item active"><a href="https://thuongyen.com/yen-chung-tuoi/" class="random-183 "><img width="1100" height="376" src="https://thuongyen.com/wp-content/uploads/2018/02/thuongyen-web-ads-banner-1900x650.jpg" class="img-fluid" alt=""></a></div>
                </div><a href="#carousel-183" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="fa fa-angle-left"></span></a>
                <a href="#carousel-183" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="fa fa-angle-right"></span></a>
            </div>
            <div class="container">
                <nav class="breadcrumb"><a class="breadcrumb-item" href="@Model.SEOModel.Url"><i class="fa fa-home"></i></a><span class="breadcrumb-item">@Model.BodyModel.Title</span></nav><!-- .breadcrumb -->

                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <h1 class="content-box-title">
                            <i class="fa fa-icon"> </i><span>@Model.BodyModel.Title</span>
                            <p class="woocommerce-result-count">
                                Showing 1–9 of 24 results
                            </p>
                            <form class="woocommerce-ordering form-inline pull-lg-right form-filter" method="get">
                                <div class="form-group">
                                    <label class="col-form-label-sm hidden-sm-down"><b>Sắp xếp theo:</b></label>
                                    <select name="orderby" class="orderby form-control form-control-sm hidden-xs-down">
                                        <option value="price" onclick="ga('send', 'event', 'danh mục', 'click sort sản phẩm', 'Theo giá: thấp đến cao', {'nonInteraction': 1});">Theo giá: thấp đến cao</option>
                                        <option value="price-desc" onclick="ga('send', 'event', 'danh mục', 'click sort sản phẩm', 'Theo giá: cao xuống thấp', {'nonInteraction': 1});">Theo giá: cao xuống thấp</option>
                                        <option value="date" onclick="ga('send', 'event', 'danh mục', 'click sort sản phẩm', 'Theo sản phẩm mới', {'nonInteraction': 1});">Theo sản phẩm mới</option>
                                        <option value="random" onclick="ga('send', 'event', 'danh mục', 'click sort sản phẩm', 'Thứ tự ngẫu nhiên', {'nonInteraction': 1});">Thứ tự ngẫu nhiên</option>
                                    </select>

                                </div>
                            </form>
                        </h1>
                        <div class="dropdown hidden-sm-up">
                            <button id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle">Chọn loại sản phẩm</button>
                            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                                <div>
                                    <h6 class="dropdown-header">Ngự Thiện Phòng</h6>
                                </div><div>
                                    <h6 class="dropdown-header">Tổ yến</h6><div class="dropdown-divider"></div><a href="https://thuongyen.com/./to-yen-lam-sach/" class="dropdown-item">Tổ yến làm sạch</a><a href="https://thuongyen.com/./to-yen-tho/" class="dropdown-item">Tổ yến thô</a><a href="https://thuongyen.com/./to-yen-thuong-hang/" class="dropdown-item">Tổ yến thượng hạng</a>
                                </div><div class="dropdown-divider"></div><div>
                                    <h6 class="dropdown-header">Tổ yến chưng sẵn tiện lợi</h6><div class="dropdown-divider"></div><a href="https://thuongyen.com/./combo-yen-chung/" class="dropdown-item">Combo Yến Chưng</a><a href="https://thuongyen.com/./nuoc-yen/" class="dropdown-item">Nước Yến</a><a href="https://thuongyen.com/./yen-chung-tuoi/" class="dropdown-item">Yến chưng tươi</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var itemsProduct in Model.BodyModel.ListProduct.ToList())
                            {
                                <div class="col-xs-6 col-md-4 post-53846 product type-product status-publish has-post-thumbnail product_cat-to-yen product_cat-to-yen-tho product_tag-to-yen-tho-con-long sale shipping-taxable purchasable product-type-simple product-cat-to-yen product-cat-to-yen-tho product-tag-to-yen-tho-con-long instock">
                                    <div class="product-item">
                                        <a href="@itemsProduct.GetUrl()" class="product-img" onclick="ga('send', 'event', 'trang chủ', 'click view sản phẩm', '@itemsProduct.Name', { 'nonInteraction': 1 });">
                                            <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenConLong-Thuong50gr-02-600x600.jpg" class="img-fluid wp-post-image" alt="@itemsProduct.Name" />
                                        </a>

                                        <ul class="product-indicators">
                                            @{
                                                foreach (var partImg in HomeHelper.GetImagesOfProduct(itemsProduct.ImageFolder))
                                                {
                                                    <li href="@partImg" data-toggle="lightbox" data-title="@itemsProduct.Name" data-gallery="53846" class="light-box">
                                                        <img width="180" height="180" src="@partImg" class="img-fluid" alt="@itemsProduct.Name">
                                                    </li>
                                                }
                                                if (!string.IsNullOrEmpty(itemsProduct.VideoId))
                                                {
                                                    <li href="https://youtu.be/@itemsProduct.VideoId" data-toggle="lightbox" data-title="@itemsProduct.Name" data-gallery="@itemsProduct.Id" class="light-box">
                                                        <img src="/Content/style_admin/custom/images/Product-360.jpg" class="img-fluid">
                                                    </li>

                                                }
                                            }

                                        </ul>
                                        <p class="meta">
                                            <a href="@itemsProduct.GetUrl()" class="text" onclick="ga('send', 'event', 'trang chủ', 'click view sản phẩm', '@itemsProduct.Name', {'nonInteraction': 1});">@itemsProduct.Name</a>
                                            <span class="price">
                                                <span class="market-price">Giá thị trường: @itemsProduct.Price</span><small>₫</small>
                                                <b>@itemsProduct.PromotionPrice ₫</b>
                                            </span>
                                        </p>
                                        <p class="hidden">1</p>
                                        <a class="btn btn-success" onclick="AddToCart('@itemsProduct.Id')" data-quantity="1">Đặt hàng <img src="~/Content/style_admin/custom/images/loading.gif" style="display: none"></a>
                                    </div>
                                </div>

                            }


                        </div>
                        @*<nav class="text-xs-center"><ul class="pagination"><li class="page-item"><span aria-active="page" class="page-link active">1</span></li><li class="page-item"><a class="page-link" href="https://thuongyen.com/san-pham/page/2/">2</a></li><li class="page-item"><a class="page-link" href="https://thuongyen.com/san-pham/page/3/">3</a></li><li class="page-item"><a class="next page-link" href="https://thuongyen.com/san-pham/page/2/">»</a></li></ul></nav>*@
                        <div class="text-xs-center pagination">
                            @Html.RenderPagingNew(Model.BodyModel.PagingModel, new PagingStyleModel() { CurrentItemStyle = "", DivContainerStyle = "row", ItemStyle = "" })
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- .col-full -->
</div>
@section scripts{
    <!-- Shopping cart scripts-->
    <script src="~/Content/layout/custom/js/shopping-cart.js"></script>
    <!-- Show modal scripts-->
    <script src="~/Content/layout/custom/js/show-modal.js"></script>
}
@section alertMessage{
    @{Html.RenderPartial("~/Views/AlertMessage/General/_AddToCartSuccess.cshtml");}
}