﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- CSS files-->
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/style_admin/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/style_admin/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/style_admin/dist/css/skins/_all-skins.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/style_admin/plugins/iCheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Content/style_admin/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Content/style_admin/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/style_admin/plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/style_admin/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Content/style_admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <!-- Custom -->
    <link rel="stylesheet" href="~/Content/style_admin/custom/css/admin.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- JS files -->
    <!-- jQuery 2.1.4 -->
    <script src="@Url.Content("~/Content/style_admin/plugins/jQuery/jQuery-2.1.4.min.js")"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <script src="@Url.Content("~/Content/style_admin/bootstrap/js/bootstrap.min.js")"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <!-- Sparkline -->
    <script src="@Url.Content("~/Content/style_admin/plugins/sparkline/jquery.sparkline.min.js")"></script>
    <!-- jvectormap -->
    <script src="@Url.Content("~/Content/style_admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js")"></script>
    <script src="@Url.Content("~/Content/style_admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js")"></script>
    <!-- jQuery Knob Chart -->
    <script src="@Url.Content("~/Content/style_admin/plugins/knob/jquery.knob.js")"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="@Url.Content("~/Content/style_admin/plugins/daterangepicker/daterangepicker.js")"></script>
    <!-- datepicker -->
    <script src="@Url.Content("~/Content/style_admin/plugins/datepicker/bootstrap-datepicker.js")"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="@Url.Content("~/Content/style_admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")"></script>
    <!-- Slimscroll -->
    <script src="@Url.Content("~/Content/style_admin/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/style_admin/plugins/fastclick/fastclick.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/style_admin/dist/js/app.min.js")"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/style_admin/dist/js/demo.js")"></script>

    <!-- Custom -->
    <script src="@Url.Content("~/Content/style_admin/custom/js/jquery-migrate-1.2.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/style_admin/custom/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/style_admin/custom/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/style_admin/custom/js/CK/ckfinder/ckfinder.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/style_admin/custom/js/CK/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/style_admin/custom/js/CK/ckfinder/ckfinder_v1.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/style_admin/custom/js/custom.js")" type="text/javascript"></script>
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>Nova Beach</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs" style="font-weight:bold">@User.Identity.Name</span>
                            </a>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="/Admin/ITCAdmin/logoff" class="dropdown-toggle">
                                Đăng xuất
                            </a>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
    
        @if (ViewBag.IsRootUser == true)
        {
            @Html.Partial("_Root_Menu")
        }
        else
        {
            @Html.Action("AdminMenu", "AdminCommon")
        }


        @RenderBody()
      <div class="control-sidebar-bg"></div>
    </div>
    
</body>
</html>
