﻿@model MainProject.Web.Areas.Admin.Models.UserManage.ArrayUsersRoles

<select onchange = "FilterRoles(this.value);">
    @for(int i=0;i<Model.RolesArray.Length;i++)
    {
        if(Model.RolesArray[i]==Model.RolesSelected)
        {
            <option value="@Model.RolesArray[i]" selected="selected">@Model.RolesArray[i]</option>
        }
        else
        {
            <option value="@Model.RolesArray[i]">@Model.RolesArray[i]</option>
        }
    }
</select>
