﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    
    <!-- CSS files of Logon Page-->
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/style_admin/bootstrap/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/style_admin/dist/css/AdminLTE.min.css")">
    <!-- iCheck -->
    <link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/iCheck/square/blue.css")">

    <!-- Logon -->
    <link rel="stylesheet" href="@Url.Content("~/Content/style_admin/custom/css/logon.css")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- JS files of Logon Page-->
    <!-- jQuery 2.1.4 -->
    <script src="@Url.Content("~/Content/style_admin/plugins/jQuery/jQuery-2.1.4.min.js")"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="@Url.Content("~/Content/style_admin/bootstrap/js/bootstrap.min.js")"></script>
    <!-- iCheck -->
    <script src="@Url.Content("~/Content/style_admin/plugins/iCheck/icheck.min.js")"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="/" target="_blank"></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        @RenderBody()
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
  </body>
</html>


