﻿@model List<MainProject.Web.Areas.Admin.Models.UserGroupManage.ContentGroupObject>
@{
    Layout = null;

    var currentMenu = "";
    // In case: ITCAdminController TempData["CurrentMenu"] is null
    if (TempData["CurrentMenu"] != null)
    {
        currentMenu = TempData["CurrentMenu"].ToString();
    }

}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="/" target="_blank">
                    <i class="fa fa-home"></i> <span>Trang Chủ</span>
                </a>
            </li>
            @foreach (var item in Model)
            {
                // Checking if contentGroup have contents, otherwise don't show contentGroup 
                if(item.Contents.Count > 0)
                {
                    var treeActive = ""; 
                    if (item.Contents.Select(x => x.ControllerName).ToList().Contains(currentMenu))
                    {
                        treeActive = "active";
                    }
                    <li class="treeview @treeActive">
                        <a href="javascript:void(0)">
                            <i class="fa @item.ContentGroup.IconClass"></i> <span>@item.ContentGroup.GroupName</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            @foreach(var subItem in item.Contents)
                            {
                                var treeMenuActive = "";
                                var circleClass = "fa-circle-o";
                                if (subItem.ControllerName == currentMenu.ToString())
                                {
                                    treeMenuActive = "active";
                                    circleClass = "fa-dot-circle-o";
                                }
                                <li class="@treeMenuActive"><a href="/Admin/@subItem.ControllerName"><i class="fa @circleClass"></i>@subItem.Title</a></li>
                            }
                        </ul>
                    </li>
                }
            }
            <li>
                @Html.ActionLink("Quản lý hình ảnh", "CkfinderTemp", "ITCAdmin", new { area = "Admin" }, null)
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>