﻿@using MainProject.Core.Enums
@using MainProject.Service.Helper
@using MainProject.Framework.Helper
@using MainProject.Service.Models.ViewModel.Contact
@model MainProject.Service.Models.ViewModel.Contact.FormModel
@{
    var indexViewModel = (IndexViewModel)ViewBag.IndexViewModel;
}
<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        @{Html.RenderAction("_ShowMenuMobie", "Home");}
    </div>
    <div class="col-full">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="content contact contact-page">
                    <div class="content-box">
                        <div class="container">
                            <div class="content_map" id="content_map" data-lat="10.8342963" data-lng="106.6344583" data-zoom="13">
                                @for (int i = 0; i < indexViewModel.BranchModel.BranchItems.Count; i++)
                                {
                                    <div class="address_map" onclick="myClick(@(i + 1));return false;">
                                        <h3>
                                            @indexViewModel.BranchModel.BranchItems[i].Name:
                                            @indexViewModel.BranchModel.BranchItems[i].Address
                                        </h3>
                                        <p>Điện thoại: @indexViewModel.BranchModel.BranchItems[i].Phone</p>
                                        <p>Fax: @indexViewModel.BranchModel.BranchItems[i].Fax</p>
                                    </div>
                                }
                            </div>
                            <h3 class="content-box-title"><i class="fa fa-icon"></i><span>@ResourceHelper.GetResource(ResourceKeyCollection.TitleContactFooter, CultureHelper.GetCurrentLanguage())</span></h3>
                            <h4 style="color:chartreuse">@ViewBag.Message</h4>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-7">
                                    <div role="form" class="wpcf7" id="wpcf7-f167-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response" aria-live="polite"></div>
                                        <form action="/ContactSubmit" method="post" class="wpcf7-form" novalidate="novalidate" id="frmContact">
                                            <div class="form-group">
                                                <span class="wpcf7-form-control-wrap txt-name"><input type="text" name="Name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="Name" aria-required="true" aria-invalid="false" placeholder="@ResourceHelper.GetResource(ResourceKeyCollection.Fullname, CultureHelper.GetCurrentLanguage())"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <span class="wpcf7-form-control-wrap txt-email"><input type="email" name="Email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="Email" aria-required="true" aria-invalid="false" placeholder="@ResourceHelper.GetResource(ResourceKeyCollection.Email, CultureHelper.GetCurrentLanguage())"></span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span class="wpcf7-form-control-wrap txt-phone"><input type="tel" name="Phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control" id="Phone" aria-required="true" aria-invalid="false" placeholder="@ResourceHelper.GetResource(ResourceKeyCollection.PhoneNumber, CultureHelper.GetCurrentLanguage())"></span>
                                                    </div>
                                                    <p></p>
                                                </div>
                                                <p>
                                                    <small id="emailHelp" class="form-text text-muted">@ResourceHelper.GetResource(ResourceKeyCollection.WeAreCommitted, CultureHelper.GetCurrentLanguage())</small>
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <span class="wpcf7-form-control-wrap txt-message"><textarea name="Content" cols="40" rows="3" maxlength="500" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" id="Content" aria-required="true" aria-invalid="false" placeholder="@ResourceHelper.GetResource(ResourceKeyCollection.Content, CultureHelper.GetCurrentLanguage())"></textarea></span>
                                            </div>
                                            <div class="cta">
                                                <button type="button" class="btn btn-primary wpcf7-form-control wpcf7-submit" onclick="ValidateFrmContact();">@ResourceHelper.GetResource(ResourceKeyCollection.SendContat, CultureHelper.GetCurrentLanguage())</button><span class="ajax-loader"></span>
                                                <p style="color:red" class="form-messege"></p>
                                            </div>
                                            <div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-5">
                                    <div class="card">
                                        <div class="card-block">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <i class="fa fa-fw fa-3x fa-phone fa-primary-color"></i>
                                                    <h6>
                                                        @ResourceHelper.GetResource(ResourceKeyCollection.HotLineTitle, CultureHelper.GetCurrentLanguage()): <a href="tel:@ResourceHelper.GetResource(ResourceKeyCollection.HotLineContent, CultureHelper.GetCurrentLanguage())" class="btn-link">@ResourceHelper.GetResource(ResourceKeyCollection.HotLineContent, CultureHelper.GetCurrentLanguage())</a>
                                                    </h6>
                                                    <p class="text-muted"><small>@ResourceHelper.GetResource(ResourceKeyCollection.HelpPurchase, CultureHelper.GetCurrentLanguage())</small></p>
                                                </li>
                                                <li>

                                                    <i class="fa fa-fw fa-3x fa-globe fa-primary-color"></i>
                                                    <h6><a href="/to-yen/" class="btn-link">@ResourceHelper.GetResource(ResourceKeyCollection.OrderOnline, CultureHelper.GetCurrentLanguage())</a></h6>
                                                    <p class="text-muted"><small>Trên website: bachannhien.com</small></p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-fw fa-3x fa-facebook fa-primary-color"></i>
                                                    <h6><a href="https://www.facebook.com/bachannhien/" class="btn-link" target="_blank">Theo dõi Fanpage Bách An Nhiên</a></h6>
                                                    <p class="text-muted">@Html.Raw(ResourceHelper.GetResource(ResourceKeyCollection.UpdatePromotion, CultureHelper.GetCurrentLanguage()))</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="map" id="map">

                    </div>
                </div>

            </main><!-- #main -->
        </div><!-- #primary -->


    </div><!-- .col-full -->
</div>
@section style{
    <link rel="stylesheet" href="~/Content/layout/custom/css/captcha.css">
}
@section scripts{
    <script src="~/Content/layout/custom/js/contact.js"></script>

    <!-- Google map Scripts-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCHvmyTralDp2Y0m7zEiN185u1vtArcC5s&sensor=false&callback=initialize"></script>
    <script>
        var locations = [];
        @foreach(var branchItem in indexViewModel.BranchModel.BranchItems)
        {
            <text>
            var branchItemObj =
            {
                    lat: '@branchItem.Lat',
                    lng: '@branchItem.Long',
                    name: '@branchItem.Name',
                    logo: '/Content/layout/custom/images/logo.jpg',
                    address: '@branchItem.Address',
                    phone: '@branchItem.Phone',
            }
            locations.push(branchItemObj);
            </text>
        }
    </script>
}
