﻿<div class="content">
    <section class="shopping_cart ">
        <div class="form_order_complete content">
            <h3>Cảm ơn quý khách đã đặt hàng thành công.</h3>
            <p>ITCGroup sẽ sớm liên hệ lại với quý khách để hoàn tất xác nhận và tiền hành giáo hàng cho quý khách.</p>
            <p>Mọi thắc mắc và cần tư vấn thêm vui lòng liên hệ : 0988 802 432</p>
            <h4><a href="/"><i class="ic-Arrow-left "></i>Về trang chủ</a></h4>
        </div>
    </section>

</div>