﻿@using MainProject.Framework.Helper
@using MainProject.Service.Models.ViewModel.ShopppingCart
@model MainProject.Service.Models.ViewModel.Order.OrderFormModel
@{
    var shoppingCartItems = (List<ShoppingCartItem>)Session["ShoppingCartItems"];
    decimal total = 0;
    var orderTypes = (List<MainProject.Core.OrderType>)ViewBag.OrderTypes;
}
@if (shoppingCartItems.Count > 0)
{
    <div class="content">
        <section class="shopping_cart ">
            <div class="container">
                <div class="row payment">
                    <div class="form_payment">
                        <h3>Thông tin giao dịch</h3>
                        <div class="form">
                            <form action="/Order/Checkout" method="post">
                                <div class="row">
                                    <div class="type_input">
                                        @Html.TextBoxFor(x => x.Name, new { placeholder = "Họ Tên" })
                                        @Html.ValidationMessageFor(x => x.Name)
                                    </div>
                                    <div class="type_input">
                                        @Html.TextBoxFor(x => x.Phone, new { placeholder = "Số điện thoại" })
                                        @Html.ValidationMessageFor(x => x.Phone)
                                    </div>
                                    <div class="type_input">
                                        @Html.TextBoxFor(x => x.Email, new { placeholder = "Email" })
                                        @Html.ValidationMessageFor(x => x.Email)
                                    </div>
                                    <div class="type_input type_textarea">
                                        @Html.TextAreaFor(x => x.Address, new { cols = "30", rows = "10", placeholder = "Địa chỉ , số nhà , tên đường,..." })
                                        @Html.ValidationMessageFor(x => x.Address)
                                    </div>
                                    @foreach (var item in orderTypes)
                                    {
                                        var itemId = "radiopayment" + item.Id;
                                        <div class="type_button checkbox">
                                            @if (item.Id == orderTypes.First().Id)
                                            {
                                                <input class="payment__payment-radio" id="@itemId" type="radio" name="OrderTypeId" value="@item.Id" checked="checked">
                                                <label for="@itemId"><span></span>@item.Title</label>
                                                <div class="payment_type payment_type_active">
                                                    @Html.Raw(item.Content)
                                                </div>
                                            }
                                            else
                                            {
                                                <input class="payment__payment-radio" id="@itemId" type="radio" name="OrderTypeId" value="@item.Id">
                                                <label for="@itemId"><span></span>@item.Title</label>
                                                <div class="payment_type">
                                                    @Html.Raw(item.Content)
                                                </div>
                                            }
                                        </div>
                                    }
                                    <div class="type_input type_button">
                                        <button type="submit">Xác nhận mua hàng</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="product_buy">
                        <h3>Thông tin đơn hàng</h3>
                        <div class="list_product_buy">
                            <div class="row">
                                <div class="img">
                                    Hình
                                </div>
                                <div class="imfor">
                                    Sản phẩm
                                </div>
                            </div>
                            @foreach (var shoppingCartItem in shoppingCartItems)
                            {
                                total += shoppingCartItem.ItemAmount;
                                <div class="row">
                                    <div class="img">
                                        <img src="@shoppingCartItem.Product.ImageDefault" alt="@shoppingCartItem.Product.ImageDefaultAlt">
                                    </div>
                                    <div class="imfor">
                                        <p class="namepduct">@shoppingCartItem.Product.Name</p>
                                        <p class="code">Mã SP: @shoppingCartItem.Product.ProductCode</p>
                                        <p class="price"><span>Giá</span>: @shoppingCartItem.ItemCount * @Html.FormatCurrency(shoppingCartItem.Product.IsPromotion ? shoppingCartItem.Product.PromotionPrice : @shoppingCartItem.Product.Price) = @Html.FormatCurrency(shoppingCartItem.ItemAmount) VNĐ</p>
                                    </div>
                                </div>
                            }
                            <div class="row total_price">
                                <div class="img">
                                    <p class="txt_total_price">Tổng tiền</p>
                                    <span>(Tổng số tiền thanh toán)</span>
                                </div>
                                <div class="imfor">
                                    <p class="price"><span>@Html.FormatCurrency(total) VNĐ</span> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    @section style{
        <link rel="stylesheet" href="~/Content/layout/custom/css/captcha.css">
    }

    @section scripts{
        <!-- Validate Scripts-->
        <script src="/Scripts/jquery.validate.js" type="text/javascript"></script>
        <script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>

        <!-- ShowModal Scripts-->
        <script src="~/Content/layout/custom/js/show-modal.js"></script>
    }

    @section alertMessage{
        @{ Html.RenderPartial("~/Views/AlertMessage/_Checkout.cshtml");}
    }

            }
            else
            {
                <div class="content">
                    <section class="shopping_cart ">
                        <div class="form_order_complete ">
                            <h3>Bạn không có sản phẩm trong giỏ hàng</h3>
                            <h4><a href="/"><i class="ic-Arrow-left "></i>Tiếp tục mua hàng</a></h4>
                        </div>
                    </section>

                </div>
            }