﻿@{
    Layout = null;
}
@using MainProject.Core.Enums
@model MainProject.Web.Areas.Admin.Models.FilterViewModel

@if (Model != null)
{
    if (Model.LanguageViewModel != null)
    {
        <div class="col-xs-2">
            <div class="form-group">
                <label>Lọc theo ngôn ngữ</label>
                @Html.DropDownList("filterLanguage", Model.LanguageViewModel.Languages, new { @class="form-control" })
            </div>
        </div>
        <div class="col-xs-1 nopadding">
            <div class="form-group" style="padding-top:25px;">
                <button type="button" class="btn btn-block btn-primary btn-flat" onclick="Filter();">Lọc</button>
            </div>
        </div>
        <div class="clearfix" ></div>
        
        <script type="text/javascript">
            function Filter() {
                var languageId = $("#filterLanguage")[0].value;
                if (!isNaN(languageId)) {
                    document.location = "@Model.BaseUrl" + "languageId=" + languageId ;
                }
            }
        </script>
    }
}
