﻿@using MainProject.Core.Enums
@using MainProject.Framework.Helper
@using MainProject.Framework.Models
@model MainProject.Service.Models.ViewModel.Search.SearchViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.SearchObjects != null)
{
    <div class="content">
        <div class="search_result container">
            <div class="note_result">
                <h3>Tim kiếm được "<span> @Model.TotalResults </span>" kết quả với từ khóa "<span> @Model.Text </span>"</h3>
            </div>
            @foreach (var searchObject in Model.SearchObjects)
            {
                <div class="row item_search">
                    <div class="item_search_image">
                        <a href="@searchObject.Url"><img src="@searchObject.ImageItem.Image" alt="@searchObject.ImageItem.Alt"></a>
                    </div>
                    <div class="item_search_text">
                        <h3><a href="@searchObject.Url">@searchObject.Name</a></h3>
                        <p>@searchObject.Description</p>
                        <div class="see_more">
                            <a href="@searchObject.Url" tabindex="0">Xem chi tiết +</a>
                        </div>
                    </div>
                </div>
            }
            <div class="pagination">
                @Html.RenderPagingNew(Model.PagingModel, new PagingStyleModel() { CurrentItemStyle = "", DivContainerStyle = "row", ItemStyle = "" })
            </div>
        </div>

    </div>
}