.login-logo a {
    /*background: url('../images/logo-05.jpg') center no-repeat;*/
    background-size: contain;
    width: 135px;
    height: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 20px;
}
