﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_layout.cshtml";
}

<h2>Quản lý Style</h2>

<span style="font-weight: bold; color: darkblue; margin-bottom: 10px;">@(ViewBag.Message)</span>

<form method="POST">
    <textarea id="contentStyle" name="contentStyle" style="width: 900px; height: 1200px;">@(ViewBag.Content)</textarea>
    <p style="margin-top: 10px; margin-bottom: 20px;">
        <input type="submit" value="Update" />
        <input type="button" value="Cancle" onclick="window.location = '/Admin/ITCAdmin/';" />
    </p>
</form>
