﻿@using MainProject.Framework.Helper
<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        @{Html.RenderAction("_ShowMenuMobie", "Home");}
    </div>
    <div class="col-full">


        <div id="primary" class="content-area container">
            <main id="main" class="site-main" role="main">


                <div class="content document-page payment-page">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <nav class="breadcrumb">
                                    @Html.Raw(MvcHtmlHelper.GenerateBreadcum(Model.SEOModel.Url, "/"))
                                </nav><!-- .breadcrumb -->
                                <div class="document-box">
                                    <div class="row">
                                        <!-- sidebar -->
                                        <div class="col-md-4 col-xl-3">
                                            <div class="side-nav hidden-md-down">
                                                <h5 class="box-title"> <i class="ty ty-fw ty-question"> </i>Hỗ trợ</h5>
                                                @{Html.RenderAction("_ShowMenuSupport", "Home", new { order = 3 });}
                                            </div>
                                        </div>

                                        <!-- content -->
                                        <div class="col-lg-8 col-xl-9">
                                            <div class="detail-content">
                                                <h1 class="content-box-title"> <i class="ty ty-icon"> </i>@Model.Title</h1>
                                                @Html.Raw(Model.Description)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main><!-- #main -->


        </div><!-- #primary -->


    </div><!-- .col-full -->
</div>