﻿@{
    Layout = null;
}
@model MainProject.Web.Areas.Admin.Models.FilterViewModel

@if (Model != null)
{
    if (Model.LanguageViewModel != null)
    {
        <div class="col-xs-2 nopadding">
            <div class="form-group">
                <label>Lọc theo ngôn ngữ</label>
                @Html.DropDownList("filterLanguage", Model.LanguageViewModel.Languages, new { onchange = "changeCategoryByLanguage(this.value);", @class = "form-control" })
            </div>
        </div>
        if (Model.HasFatherSelect && Model.FatherSelectModel != null)
        {
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Danh mục</label>
                    @Html.DropDownList("filterFather", Model.FatherSelectModel.Fathers, new { @class = "form-control" })
                </div>
            </div>
        }
        <div class="col-xs-1 nopadding">
            <div class="form-group" style="padding-top:25px;">
                <button type="button" class="btn btn-block btn-primary btn-flat" onclick="Filter();">Lọc</button>
            </div>
        </div>
        <div class="clearfix"></div>

        <script type="text/javascript">
        function Filter() {
            var cul = $("#filterLanguage")[0].value;
            var fa = $("#filterFather")[0].value;
            if (isNaN(fa)) fa = 0;
            if (!isNaN(cul)) {
                document.location = "@Model.BaseUrl" + "cul=" + cul + "&fa=" + fa;
            }
        }

        function changeCategoryByLanguage(selectedValue) {
            var request = $.ajax({
                url: "/Admin/AdminCommon/GetCategoryArticleByLanguage?id=" + selectedValue,
                type: "GET",
            });
            request.done(function (result) {
                $('#filterFather').children().remove();
                $("#filterFather").append($('<option></option>').val("0").html("All"));
                $.each(result.Data, function (i, item) {
                    $("#filterFather").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
                });
            });
            request.fail(function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
        }
        </script>
    }
}