﻿@model MainProject.Web.Areas.Admin.Models.Article.ArticleViewModel
@{
    ViewBag.Title = "Tạo bài viết";
    ViewBag.menuid = "article";
}
<script>
    $(function () {
        $("#CreateDate").datepicker('setDate', new Date());
    });
</script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Bài viết
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Bài viết</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm bài viết</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab_1" data-toggle="tab">Nội dung</a></li>
                          <li><a href="#tab_2" data-toggle="tab">Hình ảnh</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="tab_1">
                            @using (Html.BeginForm("Create", "ArticleAdmin", FormMethod.Post, new { id = "CreateArticleFr" }))
                            {
                              <div class="box-body">
                                  @Html.ValidationSummary(true)
                                  @Html.HiddenFor(x => x.Id)
                                  @Html.HiddenFor(x => x.LogHistoryId)
                                  @Html.HiddenFor(x => x.OriginalValue)
                                  @Html.HiddenFor(x => x.ImageFolder)
                                  @Html.Partial("_LoadArticleCategoryBaseLanguage", Model)
                                  <div class="clearfix"></div>
                                  <div class="form-group">
                                      <label>Hình đại diện</label>
                                      @Html.TextBoxFor(d => d.ImageDefault, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.ImageDefault)
                                  </div>
                                  <div class="form-group">
                                      <label>Hình bigsize(Dành cho trang Tin tức, Dự án, Giải pháp)</label>
                                      @Html.TextBoxFor(d => d.BigImage, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.BigImage)
                                  </div>
                                  <div class="form-group">
                                      <label>Tiêu đề</label>
                                      @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.Title)
                                  </div>
                                  <div class="form-group">
                                      <label>Mô tả</label>
                                      @Html.TextAreaFor(d => d.Description, new { @style = "min-height:300px; ", @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.Description)
                                  </div>
                                  <div class="form-group">
                                      <label>Nội dung</label>
                                      @Html.TextAreaFor(d => d.Body, new { @style = "min-height:500px; ", @class = "ckeditor form-control" })
                                      @Html.ValidationMessageFor(d => d.Body)
                                  </div>
                                  <div class="form-group">
                                      @Html.CheckBoxFor(d => d.IsPublished)
                                      <label>Hiển thị</label>
                                  </div>
                                  <div class="form-group">
                                      @Html.CheckBoxFor(d => d.IsHot)
                                      <label>Nổi bật</label>
                                  </div>
                                  <div class="form-group col-xs-2 nopadding">
                                      <label>Thứ tự</label>
                                      @Html.EditorFor(d => d.Order)
                                      @Html.ValidationMessageFor(d => d.Order)
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="form-group">
                                      <label>Từ khóa title</label>
                                      @Html.TextBoxFor(d => d.MetaTitle, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.MetaTitle)
                                  </div>
                                  <div class="form-group">
                                      <label>Từ khóa description</label>
                                      @Html.TextBoxFor(d => d.MetaDescription, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.MetaDescription)
                                  </div>
                                  <div class="form-group">
                                      <label>Từ khóa keywords</label>
                                      @Html.TextBoxFor(d => d.MetaKeywords, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.MetaKeywords)
                                  </div>
                                  <div class="form-group">
                                      <label>Hình meta (1200 x 630)</label>
                                      @Html.TextBoxFor(d => d.MetaImage, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.MetaImage)
                                  </div>
                              </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Thêm bài viết</button>
                                </div>
                            }
                          </div><!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_2">
                                <iframe name="picturemanager" src="/admin/upload/images?p=@Model.ImageFolder" style="width: 100%; height: 500px; border:none;" ></iframe>
                          </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                      </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {

        $("#CreateArticleFr").click(function () {
            //CKEDITOR.instances.Description.updateElement();
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
        })
        if ($('#Body').length > 0) {
            CKEDITOR.replace('Body', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
            });
        }

        $('#IsPublished').attr('checked', true);

        $("#Order").addClass("form-control");

    });
</script>
