﻿@using MainProject.Framework.Models
@using MainProject.Framework.Helper
@model MainProject.Service.Models.ViewModel.Solution.IndexViewModel
<div class="content">
    <div class="news_main">
        <div class="title_section container">
            <h2>@Model.BodyModel.Title</h2>
            <span class="icon"><i class="icon-smartphone"></i></span>
        </div>
        <div class="container list_news_main">
            <div class="row">
                @if (Model.BodyModel.FirstMainSolutionArticle != null)
                {
                    <div class="main_item_top">
                        <div class="row">
                            <div class="txt_news">
                                <h3><a href="@Model.BodyModel.FirstMainSolutionArticle.Url">@Model.BodyModel.FirstMainSolutionArticle.Title</a></h3>
                                <div class="date"><i class="ic-Calendar-icon"></i>@Model.BodyModel.FirstMainSolutionArticle.CreatedDate</div>
                                <div class="description">
                                    <p>@Model.BodyModel.FirstMainSolutionArticle.Description</p>
                                </div>
                                <div class="see_more_general ">
                                    <a href="@Model.BodyModel.FirstMainSolutionArticle.Url">Xem chi tiết <i class="ic-Arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="img_news">
                                <a href="@Model.BodyModel.FirstMainSolutionArticle.Url"><img src="@Model.BodyModel.FirstMainSolutionArticle.Image" alt="@Model.BodyModel.FirstMainSolutionArticle.Alt"></a>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.BodyModel.TwelveMainSolutionArticles.Count > 0)
                {
                    foreach (var mainNewsArticle in Model.BodyModel.TwelveMainSolutionArticles)
                    {
                        <div class="item_news">
                            <div class="ctent_news">
                                <div class="img_news">
                                    <img src="@mainNewsArticle.Image" alt="@mainNewsArticle.Alt">
                                </div>
                                <div class="txt_news">
                                    <a href="@mainNewsArticle.Url">
                                        <h3>@mainNewsArticle.Title</h3>
                                        <div class="day"><i class="ic-Calendar-icon"></i>@mainNewsArticle.CreatedDate</div>
                                        <p>@mainNewsArticle.Description</p>
                                    </a>
                                    <div class="see_more_general">
                                        <a href="@mainNewsArticle.Url">Xem chi tiết <i class="ic-Arrow-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                }
            </div>
            <div class="pagination">
                @Html.RenderPagingNew(Model.BodyModel.PagingModel, new PagingStyleModel() { CurrentItemStyle = "", DivContainerStyle = "row", ItemStyle = "" })
            </div>
        </div>
    </div>
</div>