@import "library"
@import "font.css"


@import "fonticc/style.css"
@import "font-icon.css"
*, *:before, *:after 
  box-sizing: border-box
  margin: 0
  padding: 0
img
  max-width: 100%
  height: auto
  vertical-align: bottom
a
  text-decoration: none
  outline: none
body
  font-family: 'UTM-AVO'
.opacity
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(38,51,70, 0.9)
  opacity: 1
  z-index: 101
  transition: all 500ms
  display: none
.opacifa-active
  display: block
.container
  width: 1170px
  margin: 0 auto
.wapper
  overflow: hidden
.row
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
header
  width: 100%
  transition: all 500ms
  background: #fff
  border-bottom: 0.5px solid rgba(51,122,183,1)
  .mobile-toggle,.cartMB
    display: none
  .top_header
    border-top: solid 5px #337ab7
    .ctent_top_header
      justify-content: flex-end
      .box_item_top_header
        width: 550px
        background: #337ab7
        text-align: right
        position: relative
        
        .item_top_header
          display: inline-block
          color: #fff
          padding: 0px 7px 8px 7px
          font-size: 14px
          i
            margin-right: 10px
        &:before
          position: absolute
          content: ""
          width: 0
          height: 0
          top: -5px
          right: 100%
          border-top: 34px solid #337ab7
          border-left: 65px solid transparent
        &:after
          position: absolute
          content: ""
          width: 50vh
          height: 100%
          top: 0
          left: 100%
          background: #337ab7
  .main_header
    position: relative
    .ctent_main_header
      justify-content: space-between
      
      .logo
        margin-top: -25px
        img
          transition: all 500ms
      nav
        .list_menu
          list-style-type: none
          font-family: 'UTM-AVO'
          padding-top: 22px
          transition: all 500ms
          li
            position: relative
            a
              padding: 10px 12px
              color: #337ab7
              font-size: 18px
            .arrow_menu_first
              display: none
            .subcatemenu_nochild
              position: absolute
              left: 0
              top: 34px
              width: 250px
              background: rgba(51,122,183,0.95)
              opacity: 0
              z-index: -1
              display: none
              .back_to_page
                display: none
              .container
                width: 100%
                .col_sub_menu
                  list-style-type: none
                  li
                    width: 100%
                    a
                      width: 100%
                      color: #fff
                      font-size: 14px
                      display: inline-block
                      padding: 10px 7px 
                      border-top: solid 1px rgba(255,255,255,0.9)
                      transition: all 500ms
                    &:hover
                      a
                        color: #337ab7
                        background: #fff
            &:hover
              .subcatemenu_nochild
                opacity: 1
                z-index: 9
                display: block
          .product
            position: unset
            .subcatemenu
              position: absolute
              left: 0
              top: 56px
              width: 100%
              background: rgba(51,122,183,0.95)
              opacity: 0
              min-height: 450px
              z-index: -1
              .back_to_page
                display: none
              .col_sub_menu
                position: relative
                display: -ms-flexbox
                display: flex
                -ms-flex-wrap: wrap
                flex-wrap: wrap
                width: 265px
                background: rgba(255,255,255,0.9)
                >li
                  width: 265px!important
                  padding: 0!important
                  display: inline-block
                  position: unset
                  p
                    border-bottom: solid 1px rgba(51,122,183,0.5)
                    position: relative
                    z-index: 10
                    padding: 0 10px 0 30px
                    font-family: 'UTM-AVO'
                    font-size: 14px
                    position: relative
                    .arrow_menu_second
                      position: absolute
                      right: 10px
                      top: 9px
                      color: #4a4a4a
                    &:hover
                      background: rgba(51,122,183,0.9)
                      a
                        color: #fff
                      .arrow_menu_second
                        color: #fff
                  a
                    color: #707070
                    font-size: 14px
                    font-family: 'UTM-AVOBOLD'
                    padding: 4px 0 7px 0
                    display: inline-block
                    i
                      font-size: 20px
                      position: absolute
                      left: 5px
                      top: 4px
                  .list_sub_second
                    position: absolute
                    top: 0
                    left: 0
                    width: 1170px
                    display: -ms-flexbox
                    display: flex
                    -ms-flex-wrap: wrap
                    flex-wrap: wrap
                    opacity: 0
                    padding-left: 275px
                    z-index: -1
                    >li
                      display: inline-block
                      font-family: 'UTM-AVOBOLD'
                      padding: 0 10px
                      width: 20%
                      .arrow_menu_second
                        display: none
                      ul
                        list-style-type: none
                        font-family: 'UTM-AVO'
                        position: relative
                        li
                          position: relative
                          &:before
                            position: absolute
                            top: 10px
                            left: -15px
                            content: ''
                            width: 6px
                            height: 6px
                            border: solid 1px rgba(255,255,255,0.9)
                            background:  rgba(0,0,0,0.5)
                            border-radius: 50%
                          a
                            font-family: 'UTM-AVO'
                      a
                        font-size: 12px
                        padding: 2px 0
                        color: #fff
                        
                  &:hover
                    .list_sub_second
                      opacity: 1
                      z-index: 9

            &:first-child
              a
                padding-left: 0
            &:hover
              .subcatemenu
                opacity: 1
                z-index: 15
          .search
            form
              width: 220px
              margin-top: -5px
              .form_search
                position: relative
                input
                  width: 100%
                  outline : none
                  border: none
                  border-bottom: solid 2px #337ab7
                  font-style: italic
                  padding: 5px 
                .btn_submit
                  position: absolute
                  top: 7px
                  right: 0
                  border: none
                  background: none
                  outline: none
                  cursor: pointer
                  color: #333
          .cart
            margin-left: 15px
            position: relative
            i
              color: #337ab7
            span
              position: absolute
              min-width: 16px
              height: 16px
              border-radius: 50%
              font-size: 10px
              text-align: center
              color: #fff
              top: -6px
              right: -8px
              line-height: 1.3
              display: inline-block
              background: #337ab7
.header_scroll
  position: fixed
  background: #fff
  top: 0
  left: 0
  right: 0
  width: 100%
  z-index: 20
  height: 80px
  .main_header
    .ctent_main_header
      .logo
        img
          width: 120px
      nav
        .list_menu
          padding-top: 10px
          .product
            .subcatemenu
              top: 46px
              z-index: -1
              display: none
            &:hover
              .subcatemenu
                display: block

footer
  background: rgba(51,122,183,1)
  padding: 25px 0 0 0
  .ctent_footer
    .row
      margin-left: -15px
      margin-right: -15px
      padding: 12px 0 30px 0
    .item_footer
      -ms-flex: 0 0 ((100/12)* 4%)
      flex: 0 0 ((100/12)* 4%)
      max-width: ((100/12)* 4%)
      padding: 0 15px
      .logo_footer
        margin-bottom: 10px
      .title_fter
        font-family: 'UTM-AVOBOLD'
        font-size: 24px
        font-weight: normal
        color: #fff
        margin-bottom: 10px
      .address_fter
        margin-top: 10px
      .hour_word
        margin-top: 30px
        p
          padding-left: 50px
          position: relative
          margin-bottom: 10px
          i
            position: absolute
            left: 0
            top: 5px
            color: #fff
            &:before
              color: #fff
      p
        font-size: 14px
        color: #fff
        line-height: 1.5
      .menu_fter
        ul
          list-style-type: none
          margin-right: -15px
          margin-left: -15px
          li
            display: inline-block
            margin-bottom: 10px
            a
              font-size: 16px
              color: #fff
              padding: 0 15px
      .fb-page
        margin-top: 5px
        +shape($w:100%!important,$h:133px!important)
        span
          +shape($w:100%!important,$h:133px!important)
          iframe
            +shape($w:100%!important,$h:133px!important)
  .coppy_right
    text-align: right
    border-top: solid 1px rgba(255,255,255,0.7)
    padding: 12px 0
    p
      color: #fff
      font-size: 12px
.banner_maincate
  .banner
    .item_banner
      position: relative
      max-height: 450px
      outline: none
      .img_bn
        img
          width: 100%
          max-height: 465px
          object-fit: cover
          object-position: center center
      .video_bn
        position: absolute
        top: 40%
        transform: translateY(-50%)
        left: 0
        right: 0
        width: 1170px
        margin: 0 auto
        z-index: 5
        .ct_video
          width: 500px
          height: 275px
          h3
            color: rgba(51,122,183,1)
            font-family: 'UTM-AVOBOLD'
            font-size: 26px
            margin-bottom: 7px
          #video_banner
            width: 500px
            height: 275px
            border: solid 10px rgba(51,122,183,0.7)
    .slick-dots
      bottom: 15px
      li
        button
          &:before
            font-size: 16px
            color: #337ab7
            opacity: 0.8
      .slick-active
        button
          &:before
            color: #000
            opacity: 0.8
  .maincate
    position: absolute    

.title_section
  h2
    font-size: 48px
    font-family: 'SWISSBLACKCONDENSED'
    font-weight: normal
    color: rgba(51,122,183,1)
    letter-spacing: 3px
    text-align: center
    text-transform: uppercase
  .icon
    position: relative
    display: block
    width: 320px
    max-width: 100%
    min-height: 5px
    margin: 0 auto
    margin-top: 15px
    margin-bottom: 40px
    font-size: 36px
    text-align: center
    font-weight: bold
    color: rgba(51,122,183,1)
    &:after
      position: absolute
      top: 25px
      left: 0
      width: 120px
      height: 2px
      content: ""
      background: rgba(51,122,183,0.7)
    &:before
      position: absolute
      top: 25px
      right: 0
      width: 120px
      height: 2px
      content: ""
      background: rgba(51,122,183,0.7)
.slick-arrow
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 0
  z-index: 10
  cursor: pointer
.ic-Arrow-right
  left: unset
  right: 0
.see_more_general
  text-align: center
  margin-top: 40px
  a
    border: solid 1px rgba(51,122,183,1)
    display: inline-block
    padding: 10px 25px 12px 25px
    background: #fff
    color: #337ab7
    border-radius: 5px
    transition: all 300ms
    &:hover
      border: solid 1px #fff
      color: #fff
      background: rgba(51,122,183,1)
      i
        transform: translateY(2px)  translateX(5px) 
    i
      display: inline-block
      transform: translateY(2px)
      margin-left: 10px
      transition: all 300ms
.content
  position: relative
  min-height: 600px
#action_mn
  +position($pos:fixed,$r: 0,$t: 50%)
  +shape($bk: #fff)
  transform: translateY(-50%)
  +font($tc: center)
  cursor: pointer
  z-index: 100
  +shadow($sd: 0px 1px 9px 2px rgba(51,122,183,0.2))  
  >ul
    padding: 0px
    list-style-type: none
    >li
      padding: 19px 16px
      position: relative
      +font($fz:22px)
      color: rgba(51,122,183,1)
      span
        +font($fz: 17px)
      a
        display: block
      &:hover
        background: rgba(51,122,183,1)
        color: #fff
        i
          color: #fff
        &:before
          display: none
      i
        +font($fz:22px)
        color: rgba(51,122,183,1)
        font-family: 'UTM-AVO'
        // transition: 500ms ease-in-out
      .icon-Mail-icon
        +font($fz: 16px)
      &:before
        +position($pos: absolute,$b: 0, $l: 0, $r: 0)
        content: ''
        +shape($w: 70%,$h: 1px,$bk: rgba(51,122,183,0.4) )
        margin: 0 auto
      &:last-child
          font-family: "SWISSBLACKCONDENSED"
          &:before
            display: none
      ul
        +position($pos: absolute,$t: 0,$l: -271px)
        +shape($w: 270px,$bk: #fff)
        +shadow($sd: 0px 1px 5px 2px rgba(51,122,183,0.3))
        padding: 12px 10px
        display: none
        list-style-type: none
        >li
          +font($fz: 16px,$tc: left)  
          color: $cl_txt    
          margin-bottom: 10px
          font-family: 'UTM-AVO'
          &:last-child
            margin-bottom: 0    
          p
            line-height: 20px
            font-size: 16px
            color: #808080
            span
              +font($fm: UTM-AVOBOLD )
              font-size: 16px
              color: #808080
      .icon_social
        +shape($bk: none)
        +shadow($sd: unset)
        padding: 0
        li
          float: right
          +shape($bk: #fff)
          padding: 16px
          +shadow($sd: 0px 1px 9px 2px rgba(246,178,109,0.3))
      &:hover
        i
          -webkit-transform: scale(1.3)
          transform: scale(1.3)
        ul
          display: flex
          flex-wrap: wrap
          align-items: center
          min-height: 100%
.filter_cate
  margin-left: -5px
  margin-right: -5px
  justify-content: center
  margin-bottom: 30px
  display: block
  text-align: center
  padding: 0 8px
  .item_cate
    padding: 0 5px
    outline: none
    span
      padding: 8px 10px 10px 10px
      display: block
      background: #fff
      border: solid 1px rgba(51,122,183,1)
      color: #337ab7
      border-radius: 3px
      cursor: pointer
      transition: all 500ms
      font-size: 14px
      &:hover
        color: #fff
        background: rgba(51,122,183,1)
  .active
    span
      color: #fff
      background: rgba(51,122,183,1)
.btncart
  margin-top: 15px
  button
    width: 100%
    background: none
    outline: none
    border: solid 1px rgba(51,122,183,0.9)
    background: rgba(51,122,183,1)
    padding: 7px 0 9px 0
    color: #fff
    font-family: 'UTM-AVO'
    font-size: 18px
    border-radius: 5px
    transition: all 500ms
    cursor: pointer
    &:hover
      background: rgba(255,255,255,0)
      color: #337ab7
    i
      margin-right: 12px
      font-size: 16px
.item_product
  -ms-flex: 0 0 25%
  flex: 0 0 25%
  max-width: 25%
  padding: 0 10px
  margin-bottom: 20px
  .ctent_item_pduct
    border: solid 1px rgba(51,122,183,0.1)
    padding: 10px 0 15px 0
    -webkit-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
    -moz-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.1)
    box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
    position: relative
    background: #fff
    overflow: hidden
    transition: all 500ms
    .sale
      position: absolute
      top: 20px
      left: -32px
      z-index: 12
      border-bottom: 35px solid #ED1D24
      border-left: 35px solid transparent
      border-right: 35px solid transparent
      height: 0
      width: 140px
      color: #fff
      transform: rotate(-45deg)
      text-align: center
      font-size: 12px
    .img_item
      overflow: hidden
      position: relative
      z-index: 10
      background: #fff
      img
        transition: all 500ms
    .ctent_txt
      padding: 0 8px
      h3
        color: #4a4a4a
        font-family: 'UTM-AVOBOLD'
        font-size: 18px
        margin-bottom: 10px
        &:hover
          color: #337ab7
      p
        color: #4a4a4a
        font-size: 14px
      .box_price
        margin-top: 12px
        text-align: center
        .new_price
          font-family: 'UTM-AVOBOLD'
          color: #337ab7
          font-size: 16px
        .old_price
          font-family: 'UTM-AVOBOLD'
          color: #4a4a4a
          font-size: 12px
    &:hover
      -webkit-box-shadow: 0px 1px 10px -1px rgba(51,122,183,0.5)
      -moz-box-shadow: 0px 1px 10px -1px rgba(51,122,183,0.5)
      box-shadow: 0px 1px 10px -1px rgba(51,122,183,0.5)
      .img_item
        img
          transform: scale(1.2)
.pagination
  margin-top: 30px
  ul
    list-style-type: none
    justify-content: center
    li
      padding: 0 5px
      a
        padding: 5px 0 0 
        color: rgba(51,122,183,1)
        border: solid 1px rgba(51,122,183,1)
        background: rgba(255,255,255,1)
        border-radius: 5px
        font-size: 16px
        display: inline-block
        width: 35px
        height: 35px
        text-align: center
        &:hover
          color: #fff
          border: solid 1px rgba(51,122,183,0)
          background: rgba(51,122,183,1)
    .active
      a
        color: #fff
        border: solid 1px rgba(51,122,183,0)
        background: rgba(51,122,183,1)
.breadcrumb
  +unlist
  margin: 10px auto 0
  width: 1170px
  max-width: 100%
  li
    position: relative
    display: inline-block
    +unlist
    vertical-align: middle 
    color: $cl_txt      
    &:after
      content: '/'
      display: inline-block    
      
    &:last-child
      margin-left: 15px
      &:after
        display: none
      a
        margin-right: 0  
    &:first-child
      a
        margin-left: 0  

  a
    display: inline-block
    text-decoration: none
    color: rgba(51,122,183,1)
    padding: 10px 0
    margin: 0 10px

    &:hover
      color: rgba(51,122,183,1)
.slick-dots
  bottom: 15px
  li
    button
      &:before
        font-size: 16px
        color: #337ab7
        opacity: 0.8
  .slick-active
    button
      &:before
        color: #000
        opacity: 0.8
.logomap
  +shape($w: 30%,$fl: left)
  img
    width: 100%
.ct_map
  +shape($w: 70%,$fl: left)
  p
    +font($fz:14px,$cl:#484848)
  h4
    +font($fz: 14px,$fm:'UTM-AVOBOLD',$cl:#337ab7 )
  .bold
    +font($fz: 14px,$fm:'UTM-AVOBOLD',$cl:#484848) 
.item_news
  padding: 0 10px 20px 10px
  outline: none
  .ctent_news
    background:  #fff
    .img_news
      overflow: hidden
      img
        transition: all 500ms
        display: block
    .txt_news
      padding-top: 5px
      -webkit-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
      -moz-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.1)
      box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
      border: solid 1px rgba(51,122,183,0.1)
      padding: 10px 10px 30px 10px
      a
        outline: none
      h3
        color: #4a4a4a
        font-family: 'UTM-AVOBOLD'
        font-size: 18px
        margin-bottom: 10px
        &:hover
          color: #337ab7
      .day
        font-size: 12px
        color: #4a4a4a
        margin-bottom: 10px
        i
          margin-right: 10px
      p
        color: #4a4a4a
        font-size: 14px
        line-height: 1.6
    .see_more
      margin-top: -20px
      text-align: right
      padding: 0 10px
      a
        border: solid 1px rgba(51,122,183,1)
        display: inline-block
        padding: 10px 25px 12px 25px
        border-radius: 25px
        background: #fff
        color: #337ab7
        transition: all 500ms
        &:hover
          border: solid 1px #fff
          color: #fff
          background: rgba(51,122,183,1)
  &:hover
    .ctent_news
      .img_news
        img
          transform: scale(1.2)
#index
  .introduce
    margin-top: 55px
    .title_section
    .ctent_introduce
      margin-top: 30px
      .text_introduce
        -ms-flex: 0 0 ((100/12)* 6.5%)
        flex: 0 0 ((100/12)* 6.5%)
        max-width: ((100/12)* 6.5%)
        padding-right: 30px
        h3
          font-size: 32px
          font-weight: normal
          color: rgba(51,122,183,1)
          font-family: 'UTM-AVOBOLD'
          margin-bottom: 40px
          position: relative
          margin-top: -10px
          &:after
            position: absolute
            bottom: -20px
            left: 0 
            width: 45px
            height: 5px 
            background: rgba(51,122,183,0.7)
            content: ''
        p
          color: #4a4a4a
          line-height: 1.6
        .see_more
          margin-top: 20px
          a
            color: #337ab7
            i
              margin-left: 10px
              transform: translateY(2px)
              display: inline-block
      .slide_intruduce
        -ms-flex: 0 0 ((100/12)* 5.5%)
        flex: 0 0 ((100/12)* 5.5%)
        max-width: ((100/12)* 5.5%)
        padding: 0 15px
        .ic-Arrow-right
          left: unset
          right: 0

  .product_home
    margin-top: 50px
    padding: 50px 0 100px 0
    background: #F6F6F6
    .content_product
      .list_product
        .row
          margin-left: -10px
          margin-right: -10px
          
  .solution
    padding: 50px 0 120px 0
    position: relative
    min-height: 450px
    &:after
      position: absolute
      width: 100%
      height: 100%
      background: rgba(51,122,183,0.3)
      content: ''
      top: 0
      left: 0
      z-index: 7
    .title_section
      position: relative
      z-index: 10
      h2
        color: #fff
      .icon
        color: #fff
        &:after
          background: #fff
        &:before
          background: #fff
    .content_solution
      position: relative
      z-index: 12
      .list_solution
        padding: 0 70px
        margin-top: 40px
        position: relative
        &:after
          position: absolute
          top: 31px
          left: 0
          right: 0
          margin: 0 auto
          width: 2px
          height: 100%
          border-right: dashed rgba(255,255,255,1) 2px
          content: ''
          z-index: 7
        .item_solution
          -ms-flex: 0 0 50%
          flex: 0 0 50%
          max-width: 50%
          padding: 0 100px
          margin-bottom: 45px
          position: relative
          z-index: 10
          .ctent_item_solution
            background: rgba(51,122,183,1)
            border: solid 1px rgba(255,255,255,1)
            color: #fff
            position: relative
            border-radius: 5px
            min-height: 70px
            transition: all 500ms
            a
              color: #fff
              display: inline-block
              padding: 10px 25px
            &:after
              position: absolute
              right: -100px
              content: ''
              top: 30px
              width: 100px
              height: 2px
              background: #fff
              z-index: 9
            &:before
              position: absolute
              right: -110px
              content: ''
              top: 22px
              width: 18px
              height: 18px
              background: rgba(51,122,183,1)
              border: solid 2px rgba(255,255,255,0.5)
              border-radius: 50%
              transition: all 500ms
              z-index: 10
            &:hover
              -webkit-box-shadow: 0px 1px 12px -1px rgba(255,255,255,1)
              -moz-box-shadow: 0px 1px 12px -1px rgba(255,255,255,1)
              box-shadow: 0px 1px 12px -1px rgba(255,255,255,1)
              &:before
                -webkit-box-shadow: 0px 1px 12px -1px rgba(255,255,255,1)
                -moz-box-shadow: 0px 1px 12px -1px rgba(255,255,255,1)
                box-shadow: 0px 1px 12px -1px rgba(255,255,255,1)
              &:after
                -webkit-box-shadow: 0px 1px 12px -1px rgba(255,255,255,1)
                -moz-box-shadow: 0px 1px 12px -1px rgba(255,255,255,1)
                box-shadow: 0px 1px 12px -1px rgba(255,255,255,1)
          &:nth-child(2n + 2)
            margin-top: 70px
            .ctent_item_solution
              &:after
                right: unset
                left: -100px
              &:before
                right: unset
                left: -110px
          &:last-child(-1)
            margin-bottom: 0
          &:last-child 
            margin-bottom: 0
            -ms-flex: 0 0 100%
            flex: 0 0 100%
            max-width: 100%
            padding: 0 200px
            .ctent_item_solution
              transform: translateY(35px)
              &:after
                display: none
              &:before
                right: 0
                left: 0
                margin: 0 auto
                top: -13px
                width: 25px
                height: 25px
  .project_home
    padding: 50px 0
    background: #F6F6F6
    .list_project
      margin-left: -10px
      margin-right: -10px
      .item_project
        -ms-flex: 0 0 50%
        flex: 0 0 50%
        max-width: 50%
        padding: 0 10px
        .ctent_item_project
          .img_project
            overflow: hidden
            img
              width: 100%
              transition: all 500ms
          .txt_project
            padding: 10px
            -webkit-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
            -moz-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.1)
            box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
            border: solid 1px rgba(51,122,183,0.1)
            h3
              color: #4a4a4a
              font-family: 'UTM-AVOBOLD'
              font-size: 18px
              margin-bottom: 12px
              &:hover
                color: #337ab7
            .day
              font-size: 12px
              color: #4a4a4a
              margin-bottom: 8px
              i
                margin-right: 10px
            p
              color: #4a4a4a
              font-size: 14px
              line-height: 1.6
          &:hover
            .img_project
              img
                transform: scale(1.2)
      .right_item_project
        .ctent_item_project
          margin-bottom: 20px
          .img_project
            -ms-flex: 0 0 36%
            flex: 0 0 36%
            max-width: 36%
          .txt_project
            -ms-flex: 0 0 64%
            flex: 0 0 64%
            max-width: 64%
            -webkit-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
            -moz-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.1)
            box-shadow: none
            padding: 5px 10px
            h3
              margin-bottom: 5px
            .day
              margin-bottom: 7px
    
  .news_home
    padding: 50px 0 80px 0
    .news_list
      margin-left: -10px
      margin-right: -10px
  .list_cate
    margin: 40px 0
    .namecate
      +font($fz:24px,$cl: #337ab7)
      font-family: 'SWISSBLACKCONDENSED'
      font-weight: normal
      margin: 30px 0 50px 0
      position: relative
      &:after
        position: absolute
        bottom: -20px
        left: 0
        content: ''
        width: 45px
        height: 2px
        background: #337ab7
    .content_list_cate
      .row
        margin-right: -10px
        margin-left: -10px
        .item_cate
          -ms-flex: 0 0 25%
          flex: 0 0 25%
          max-width: 25%
          padding: 0 10px
          margin-bottom: 20px
          .ctent_item_cate
            position: relative
            overflow: hidden
            img
              display: block
              width: 100%
              transition: all 500ms
            &:after
              position: absolute
              top: 0
              left: 0
              content: '' 
              width: 100%
              height: 100%
              background: rgba(0,0,0,0.4)
              z-index: 3
            .txt_cate
              font-size: 20px
              color: #fff
              font-family: 'UTM-AVOBOLD'
              text-transform: uppercase
              position: absolute
              top: 50%
              transform: translateY(-50%)
              left: 0
              right: 0
              margin: 0 auto
              width: 100%
              text-align: center
              display: inline-block
              transition: all 500ms
              z-index: 10
              &:after
                position: absolute
                bottom: -18px
                left: 0
                right: 0
                width: 0
                height: 3px
                margin: 0 auto
                transition: all 500ms
                content: ''
                background: rgba(255,255,255,1)
              .see_more_general
                position: absolute
                bottom: -90px 
                width: 100%
                text-align: center
                opacity: 0
                transition: all 500ms
                a
                  border-radius: 25px
                  color: #808080
                  border: solid 1px rgba(51,122,183,1)
                  font-family: 'UTM-AVO'
                  text-transform: capitalize
                  font-size: 18px
                  padding: 7px 25px 10px 25px
                  &:hover
                    background: #fff
                  i
                    margin-left: 0
              a
                color: #fff

            &:hover
              img
                transform: scale(1.15)
              .txt_cate
                transform: translateY(-60%)
                &:after
                  width: 55px
                // font-size: 28px
                .see_more_general
                  opacity: 1
                  a
                    
        .item_cate_big
          -ms-flex: 0 0 50%
          flex: 0 0 50%
          max-width: 50%
  .products
    margin: 20px 0 70px 0
    .content_product_inner
      .filter_cate_inner
        -ms-flex: 0 0 25%
        flex: 0 0 25%
        max-width: 25%
        padding-right: 15px
        ul
          list-style-type: none
          border: solid 1px rgba(51,122,183,1)
          border-radius: 5px
          >li
            font-size: 18px
            color: #fff
            font-family: 'UTM-AVOBOLD'
            >a
              color: #fff
              border-bottom: solid 1px rgba(51,122,183,0.9)
              background: rgba(51,122,183,0.7)
              display: block
              padding: 10px 
             
            ul
              margin-top: 10px
              border: none
              li
                font-size: 16px
                color: #337ab7
                font-family: 'UTM-AVO'
                span
                  margin-right: 12px
                >a
                  color: #337ab7
                  border: none
                  background: #fff
                  display: block
                  padding: 10px 10px 10px 20px
                  position: relative
                  &:after
                    position: absolute
                    top: 20px
                    left: 5px
                    content: ''
                    width: 8px
                    height: 8px
                    border: solid 2px rgba(51,122,183,0.9)
                    background:  #fff
                    border-radius: 50%
                ul
                  margin-top: 0
                  li
                    font-size: 14px
                    a
                      &:after
                        display: none
  .products_detail
    margin: 40px 0
    .slide_detail
      -ms-flex: 0 0 ((100/12)* 6%)
      flex: 0 0 ((100/12)* 6%)
      max-width: ((100/12)* 6%)
      margin-bottom: 40px
      .thum_img
        -ms-flex: 0 0 ((100/12)* 3%)
        flex: 0 0 ((100/12)* 3%)
        max-width: ((100/12)* 3%)
        .item_thum_img
          padding: 7px 0
          outline: none
          position: relative
          cursor: pointer
          img
            height: 112px
            border: solid 2px rgba(51,122,183,0.3)
            border-radius: 5px
            object-fit: contain
            object-position: center center
            transition: all 500ms
          &:hover
            img
              border: solid 2px rgba(51,122,183,1)
        .slick-current
          img
            border: solid 2px rgba(51,122,183,1)
        .slick-arrow
          top: -20px
          left: 0
          right: 0
          margin: 0 auto
          width: 40px
          text-align: center
          transform: rotate(-90deg)
          font-size: 30px
          color: rgba(51,122,183,1)
        .ic-Arrow-left
          top: unset
          bottom: -20px
      .main_img_product
        -ms-flex: 0 0 ((100/12)* 9%)
        flex: 0 0 ((100/12)* 9%)
        max-width: ((100/12)* 9%)
        .item_main_image_pd
          outline: none
          img
            height: 100%!important
            object-fit: contain
            object-position: center center
        .slick-dots
          bottom: -25px
    .imforation_product
      -ms-flex: 0 0 ((100/12)* 6%)
      flex: 0 0 ((100/12)* 6%)
      max-width: ((100/12)* 6%)
      .content_imfor
        .name_product
          +font($fz: 18px, $cl: #337ab7)
          font-family: 'UTM-AVOBOLD'
        .code
          +font($fz: 14px, $cl: #707070)
          margin-top: 5px
        .description
          margin-top: 12px
          line-height: 1.6
          font-size: 14px
          color: #707070
          padding: 12px 0
          border-top: solid 1px rgba(51,122,183,0.5)
        .price
          .price_new
            +font($fz: 22px, $cl: #337ab7)
            font-family: 'UTM-AVOBOLD'
            margin-right: 25px
          .price_old
            +font($fz: 16px, $cl: #707070)
            font-family: 'UTM-AVO'
            font-style: italic
        .amount
          position: relative
          padding-left: 35px
          margin-right: 15px
          height: 43px
          border-radius: 5px
          overflow: hidden
          display: inline-block
          width: 130px
          input
            width: 60px
            height: 43px
            border: solid 1px #337ab7
            color: #337ab7
            font-size: 18px
            outline: none
            font-family: 'UTM-AVO'
            text-align: center
          .btn
            position: absolute
            top: 0
            left: 0
            background: #337ab7
            width: 35px
            height: 43px
            text-align: center
            padding-top: 3px
            color: #fff
            cursor: pointer
            font-size: 20px
          .plus
            left: 95px
        .btncart

          margin-top: 20px
          button
            max-width: 180px
        .view_youtube
          margin-left: 15px
          +font($cl: #fff)
          border: solid 1px #337ab7
          height: 43px
          padding: 0 10px
          border-radius: 5px
          &:hover
            +font($cl: #337ab7)
      .commitment_product
        margin-top: 20px
        line-height: 1.6
        color: #707070
        padding: 12px
        font-size: 13px
        border: solid 1px rgba(51,122,183,0.5)
        border-radius: 5px
        .txt_commitment_product
          +font($fz:16px,$cl: #337ab7)
          font-family: 'SWISSBLACKCONDENSED'
          font-weight: normal
          margin: 0 0 5px 0
          position: relative
    .imfor_description_product
      margin-bottom: 40px
      .txt_imfor_detail
        +font($fz:24px,$cl: #337ab7)
        font-family: 'SWISSBLACKCONDENSED'
        font-weight: normal
        margin: 30px 0 50px 0
        position: relative
        &:after
          position: absolute
          bottom: -20px
          left: 0
          content: ''
          width: 45px
          height: 2px
          background: #337ab7
      .txt_detail
        +font($fz:16px,$cl: #707070,$lh: 1.6)
        img
          display: block
          margin: 0 auto
    .product_relation_ship
      max-width: 1070px
      margin: 0 auto
      .item_product
        padding: 10px 10px
        max-width: 100%!important
        outline: none
      .slick-arrow
        font-size: 38px
        width: 55px
        height: 55px
        text-align: center
        left: -60px
        -webkit-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
        -moz-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.1)
        box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
        border-radius: 50%
        padding-top: 7px
        transition: all 500ms
        color: rgba(51,122,183,1)
        &:hover
          -webkit-box-shadow: 0px 1px 10px -1px rgba(51,122,183,0.5)
          -moz-box-shadow: 0px 1px 10px -1px rgba(51,122,183,0.5)
          box-shadow: 0px 1px 10px -1px rgba(51,122,183,0.5)
      .ic-Arrow-right
        left: unset
        right: -60px
  .contact
    margin: 50px 0 0
    .content_map
      -ms-flex: 0 0 ((100/12)* 4%)
      flex: 0 0 ((100/12)* 4%)
      max-width: ((100/12)* 4%)
      .address_map
        cursor: pointer
        h3
          +font($fz:18px,$cl: #337ab7)
          font-family: 'UTM-AVOBOLD'
          font-weight: normal
          margin: 15px 0 10px 0
          position: relative
    .form_contact
      -ms-flex: 0 0 ((100/12)* 8%)
      flex: 0 0 ((100/12)* 8%)
      max-width: ((100/12)* 8%)
      margin-bottom: 50px
      padding-left: 15px
      form
        .txt_input
          margin-top: 15px
          input,textarea
            width: 100%
            height: 42px
            border: solid 1px rgba(51,122,183,0.5)
            border-radius: 5px
            outline: none
            padding: 0 15px
            color: rgba(51,122,183,1)
          textarea
            height: 137px
            resize: none
            padding: 15px
        .btncart
          text-align: center
          button
            max-width: 180px
    #map
      height: 450px
  .news_main
    margin: 50px 0 
    .list_news_main
      .row  
        margin-right: -10px
        margin-left: -10px
      .main_item_top
        -ms-flex: 0 0 ((100/12)* 12%)
        flex: 0 0 ((100/12)* 12%)
        max-width: ((100/12)* 12%)
        margin-bottom: 55px
        padding: 0 10px
        .img_news
          -ms-flex: 0 0 ((100/12)* 7%)
          flex: 0 0 ((100/12)* 7%)
          max-width: ((100/12)* 7%)
          padding: 0 10px
        .txt_news
          -ms-flex: 0 0 ((100/12)* 5%)
          flex: 0 0 ((100/12)* 5%)
          max-width: ((100/12)* 5%)
          padding: 0 10px
          h3
            +font($fz:20px,$cl: #337ab7)
            font-family: 'UTM-AVOBOLD'
            font-weight: normal
          .date
            margin: 10px 0
            position: relative
            padding-left: 25px
            +font($fz:13px,$cl: #707070)
            i
              position: absolute
              left: 0
              top: 3px

          .description
            +font($fz:16px,$cl: #707070,$lh: 1.6)
          .see_more_general
            margin-top: 25px
      .item_news
        -ms-flex: 0 0 ((100/12)* 4%)
        flex: 0 0 ((100/12)* 4%)
        max-width: ((100/12)* 4%)
        .see_more_general
          margin-top: 15px
    .detail_news
      margin-bottom: 50px
      .name_news
        +font($fz:20px,$cl: #337ab7)
        font-family: 'UTM-AVOBOLD'
        font-weight: normal
      .date
        margin: 10px 0 20px
        position: relative
        padding-left: 25px
        +font($fz:13px,$cl: #707070)
        i
          position: absolute
          left: 0
          top: 3px
      p
        +font($fz:16px,$cl: #707070,$lh: 1.6)
    .news_relation
      margin-top: 20px
      margin-right: -10px
      margin-left: -10px
  .introduce_page
    margin-top: 55px
    .txt_intro
      +font($fz:16px,$cl: #707070,$lh: 1.6)
    .head_intro
      margin-top: 50px
      .row
        margin-right: -10px
        margin-left: -10px
      .vission
        padding: 50px 0
      .item_background_intro
        min-height: 500px
        position: relative
        padding: 50px 0
        &:after
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          content: ''
          background: rgba(0,0,0,0.4)
          z-index: 5
        .imfor_head_intro
          -ms-flex: 0 0 ((100/12)* 12%)
          flex: 0 0 ((100/12)* 12%)
          max-width: ((100/12)* 12%)
          position: relative
          z-index: 10
          h3
            +font($fz: 75px,$cl: rgba(255,255,255,1))
            &:after
              background: #fff
          .txt_intro
            p
              color: #fff
      .img_introduce
        -ms-flex: 0 0 ((100/12)* 6%)
        flex: 0 0 ((100/12)* 6%)
        max-width: ((100/12)* 6%)
        padding: 0 10px
        img
      .imfor_head_intro
        -ms-flex: 0 0 ((100/12)* 6%)
        flex: 0 0 ((100/12)* 6%)
        max-width: ((100/12)* 6%)
        padding: 0 10px
        position: relative
        h3
          margin-top: -30px
          +font($fz: 65px,$cl: rgba(51,122,183,0.4))
          font-family: 'SWISSBLACKCONDENSED'
          letter-spacing: 5px
          margin-bottom: 40px
          position: relative
          &:after
            position: absolute
            bottom: -20px
            left: 0
            width: 85px
            height: 5px
            background: rgba(51,122,183,0.4)
            content: ''

  .shopping_cart
    margin: 50px 0 
    .container
      >.row
        margin-left: -10px
        margin-right: -10px
    h3
      margin-bottom: 15px
      +font($fz: 28px,$cl: rgba(51,122,183,0.7))
      font-family: 'SWISSBLACKCONDENSED'
      letter-spacing: 3px
    
    .change_imfor_cart
      -ms-flex: 0 0 ((100/12)* 12%)
      flex: 0 0 ((100/12)* 12%)
      max-width: ((100/12)* 12%)
      padding: 0 10px
      .list_cart
        border: solid 1px rgba(51,122,183,0.5)
        padding: 0 15px 15px 15px
        >.row
          border-bottom: solid 1px rgba(51,122,183,0.5)
          padding: 10px 0
          .item
            -ms-flex: 0 0 ((100/12)* 0.5%)
            flex: 0 0 ((100/12)* 0.5%)
            max-width: ((100/12)* 0.5%)
            color: #337ab7
          .item_name
            -ms-flex: 0 0 ((100/12)* 6%)
            flex: 0 0 ((100/12)* 6%)
            max-width: ((100/12)* 6%)
            .img
              -ms-flex: 0 0 ((100/12)* 5%)
              flex: 0 0 ((100/12)* 5%)
              max-width: ((100/12)* 5%)
            .txt
              -ms-flex: 0 0 ((100/12)* 7%)
              flex: 0 0 ((100/12)* 7%)
              max-width: ((100/12)* 7%)
              p
                color: #337ab7
              .namepduct
                +font($fz: 16px)
              .catepduct
                +font($fz: 16px)
                font-family: 'UTM-AVOBOLD'
                margin: 10px 0
              .deletepdict
                color: #808080
                margin-top: 15px
                cursor: pointer
                span
                  margin-right: 10px
                  border: solid 1px rgba(51,122,183,0.5)
                  border-radius: 50%
                  width: 30px
                  height: 30px
                  padding-top: 1px
                  display: inline-block
                  text-align: center
          .change_total
            -ms-flex: 0 0 ((100/12)* 1.5%)
            flex: 0 0 ((100/12)* 1.5%)
            max-width: ((100/12)* 1.5%)
            .txt_total
              display: none
            input
              width: 70px
              outline: none
              text-align: center
              padding: 5px 0
              border: solid 1px rgba(51,122,183,0.5)
              color: #337ab7
          .price_item
            -ms-flex: 0 0 ((100/12)* 2%)
            flex: 0 0 ((100/12)* 2%)
            max-width: ((100/12)* 2%)
            p
              color: #337ab7
              span
                display: none
          .final_price
            -ms-flex: 0 0 ((100/12)* 2%)
            flex: 0 0 ((100/12)* 2%)
            max-width: ((100/12)* 2%)
            p
              color: #337ab7
              span
                display: none
          &:first-child
            .item
              font-family: 'UTM-AVOBOLD'
          &:last-child
            border-bottom: none
            padding-bottom: 0
      .continue_buy
        margin-top: 15px
        .item_buy
          -ms-flex: 0 0 ((100/12)* 6%)
          flex: 0 0 ((100/12)* 6%)
          max-width: ((100/12)* 6%)
          a
            i
              transform: translateY(2px)
              display: inline-block
              margin-left: 15px
          p
            text-align: right
            font-size: 24px
            color: #337ab7
            span
              font-family: 'UTM-AVOBOLD'
    .form_payment
      -ms-flex: 0 0 ((100/12)* 7%)
      flex: 0 0 ((100/12)* 7%)
      max-width: ((100/12)* 7%)
      padding: 0 10px
      .form
        margin-left: -7px
        margin-right: -7px
        .type_input
          -ms-flex: 0 0 ((100/12)* 4%)
          flex: 0 0 ((100/12)* 4%)
          max-width: ((100/12)* 4%)
          margin-bottom: 15px
          padding: 0 7px
          input
            width: 100%
            outline: none
            border: solid 1px rgba(51,122,183,0.5)
            border-left: solid 3px rgba(51,122,183,0.5)
            padding: 10px
        .type_textarea
          -ms-flex: 0 0 ((100/12)* 12%)
          flex: 0 0 ((100/12)* 12%)
          max-width: ((100/12)* 12%)
          textarea
            width: 100%
            outline: none
            border: solid 1px rgba(51,122,183,0.5)
            border-left: solid 3px rgba(51,122,183,0.5)
            padding: 10px
            height: 137px
            resize: none
        .type_button
          -ms-flex: 0 0 ((100/12)* 12%)
          flex: 0 0 ((100/12)* 12%)
          max-width: ((100/12)* 12%)
          text-align: center
          button
            background: rgba(51,122,183,1)
            border-radius: 5px
            outline: none
            border: solid 1px rgba(51,122,183,1)
            font-size: 16px
            color: #fff
            padding: 3px 25px 7px 25px
            font-family: 'UTM-AVO'
            transition: all 500ms
            cursor: pointer
            &:hover
              background: #fff
              color: rgba(51,122,183,1)
        .checkbox 
          text-align: left
          color: #337ab7
          margin-bottom: 20px
          padding: 0 10px
          input[type="radio"] 
              display: none

          input[type="radio"]+label 
            font-family: 'UTM-AVOBOLD'
            font-size: 18px
            font-weight: normal
            cursor: pointer

          input[type="radio"]+label span 
            display: inline-block
            width: 16px
            height: 16px
            border: solid 1px rgba(51,122,183,1)
            border-radius: 50%
            cursor: pointer
            margin-right: 7px
            color: #337ab7
          input[type="radio"]:checked+label span 
            width: 16px
            height: 16px
            border: solid 1px rgba(51,122,183,1)
            position: relative
            &:after
              position: absolute
              width: 10px
              height: 10px
              content: ''
              border-radius: 50%
              left: 2px
              top: 2px
              background: rgba(51,122,183,1)
          input[type="radio"]:checked+label 
            color: #337ab7
          .payment_type
            padding: 12px 0
            display: none
            p
              margin-bottom: 10px
              span
                font-family: 'UTM-AVOBOLD'
          .payment_type_active
            display: block
    .product_buy
      -ms-flex: 0 0 ((100/12)* 5%)
      flex: 0 0 ((100/12)* 5%)
      max-width: ((100/12)* 5%)
      padding: 0 10px
      .list_product_buy
        border: solid 1px rgba(51,122,183,0.5)
        padding: 0 10px
        .row
          border-bottom: solid 1px rgba(51,122,183,0.5)
          .img
            -ms-flex: 0 0 ((100/12)* 5%)
            flex: 0 0 ((100/12)* 5%)
            max-width: ((100/12)* 5%)
            padding: 7px
          .imfor
            -ms-flex: 0 0 ((100/12)* 7%)
            flex: 0 0 ((100/12)* 7%)
            max-width: ((100/12)* 7%)
            padding: 7px
            p
              color: #337ab7
              margin-bottom: 5px
              span
                font-family: 'UTM-AVOBOLD'
          &:nth-last-child(2)
            border-bottom: none
          &:first-child
            font-family: 'UTM-AVOBOLD'
            color: #337ab7
        .total_price
          margin-right: -10px
          margin-left: -10px
          border-top: solid 1px rgba(51,122,183,0.5)
          border-bottom: none
          p
            font-size: 24px
          .img
            .txt_total_price
              font-family: 'UTM-AVOBOLD'
              color: #337ab7
              margin-bottom: 5px
            span
              font-family: 'UTM-AVO'
              font-size: 14px
              font-style: italic
              color: #808080


  .partner
    border-top: solid 1px rgba(51,122,183,0.5)
    padding: 10px 0
    .list_partner
      .item_partnner
        border-right: solid 1px rgba(51,122,183,0.5)
        overflow: hidden
        img
          display: block
          margin: 0 auto
          width: 75%
          height: 55px
          object-fit: contain
          object-position: center
          transition: all 500ms
        &:hover
          img
            transform: scale(1.1)
  .langdingpage
    .title_txt
      text-align: center
      h3
        font-family: 'UTM-AVOBOLD'
        font-size: 24px
        font-weight: normal
        color: rgba(51,122,183,1)
        margin-bottom: 20px
      p
        font-family: 'UTM-AVO'
        font-size: 16px
        color: #808080
        margin-bottom: 20px
      .mini_description
        font-family: 'UTM-AVO'
        font-size: 20px
        font-weight: normal
        color: #808080
    .process_setup
      background: #F6F6F6
      padding: 40px 0
      .list_process
        margin-left: -15px
        margin-right: -15px
        margin-top: 75px
        .item_process
          -ms-flex: 0 0 ((100/12)* 6%)
          flex: 0 0 ((100/12)* 6%)
          max-width: ((100/12)* 6%)
          padding: 0 30px
          margin-bottom: 70px
          .ct_item_process
            position: relative
            background: rgba(51,122,183,0.1)
            border-top-left-radius: 75px
            border-top-right-radius: 100px
            border-bottom-right-radius: 100px
            border: dashed 1px #808080
            max-height: 180px
            .number
              position: absolute
              top: -75px
              left: 0
              font-family: 'SWISSBLACKCONDENSED'
              font-size: 100px
              color: rgba(51,122,183,1)
              transition: all 700ms ease-in-out
            .imfor_txt
              -ms-flex: 0 0 ((100/12)* 8%)
              flex: 0 0 ((100/12)* 8%)
              max-width: ((100/12)* 8%)
              padding: 12px 12px 12px 80px
              color: rgba(51,122,183,1)
            .imfor_img
              -ms-flex: 0 0 ((100/12)* 4%)
              flex: 0 0 ((100/12)* 4%)
              max-width: ((100/12)* 4%)
              overflow: hidden
              .ct_img
                border: solid 7px rgba(51,122,183,0.7)
                overflow: hidden
                border-radius: 50%
                img
                  transition: all 500ms ease-in-out
            &:hover
              .number
                top: -95px
              .ct_img
                img
                  transform: scale(1.3)
    .images_solution
      .list_image
        margin-top: 35px
        margin-left: -10px
        margin-left: -10px
        padding-bottom: 40px
        .item_img_solution
          -ms-flex: 0 0 ((100/12)* 6%)
          flex: 0 0 ((100/12)* 6%)
          max-width: ((100/12)* 6%)
          padding: 0 10px
          margin-bottom: 20px
    .address_langdding
      .map
        margin: 35px
        height: 450px
    .setup_camera
      .list_image_setup
        margin-left: -10px
        margin-right: -10px
        .item_setup
          padding: 0 10px
          -ms-flex: 0 0 ((100/12)* 6%)
          flex: 0 0 ((100/12)* 6%)
          max-width: ((100/12)* 6%)
          .ctent_setup
            position: relative
            .txt
              position: absolute
              top: 0
              left: 0
              z-index: 10
              width: 100%
              height: 100%
              padding: 15px
              opacity: 0
              transition: all 700ms
              h3
                font-family: 'UTM-AVOBOLD'
                font-size: 24px
                font-weight: normal
                color: rgba(51,122,183,1)
                margin-bottom: 12px
              p
                font-family: 'UTM-AVO'
                font-size: 16px
                color: #ffffff
                margin-bottom: 15px
              .see_more_general
                a
                  i
                    margin-left: 0
            &:after
              position: absolute
              top: 0
              left: 0
              content: ''
              background: rgba(0,0,0,0)
              width: 100%
              height: 100%
              z-index: 7
              transition: all 700ms
            &:hover
              .txt
                opacity: 1
              &:after
                background: rgba(0,0,0,0.5)
      
    .advisory
      min-height: 350px
      margin-bottom: 35px
      .txt_advisory
        position: relative
        z-index: 8
        font-family: 'UTM-AVOBOLD'
        font-size: 16px
        color: #ffffff
        margin-bottom: 15px
        padding: 0 100px
        text-align: center
      .btn_advisory
        justify-content: center
        max-width: 840px
        margin: 0 auto
        margin-top: 35px
        position: relative
        z-index: 8
        .btn
          -ms-flex: 0 0 ((100/12)* 6%)
          flex: 0 0 ((100/12)* 6%)
          max-width: ((100/12)* 6%)
          background: none
          outline: none
          border: none
          color: #fff
          padding: 0 7px
          span
            display: block
            padding: 15px 10px
            border: solid 2px rgba(255,255,255,1)
            font-family: 'SWISSBLACKCONDENSED'
            font-size: 20px
            background: rgba(51,122,183,0.9)
            border-radius: 5px
            a
              color: #fff
              display: block
            i
              margin-right: 12px
            &:hover
              a
                color: rgba(51,122,183,0.7)
              color: rgba(51,122,183,0.7)
              background: rgba(255,255,255,1)
              border: solid 2px rgba(51,122,183,1)
    .type_guarantee
      margin-top: 25px
      .item_guarantee
        -ms-flex: 0 0 ((100/12)* 4%)
        flex: 0 0 ((100/12)* 4%)
        max-width: ((100/12)* 4%)
        .txt_item
          position: relative
          padding-left: 30px
          color: rgba(51,122,183,1)
          &:after
            position: absolute
            content: '' 
            top: 3px
            left: 0
            width: 18px
            height: 18px
            border: solid 2px rgba(51,122,183,1)
        .time_guarantee
          font-family: 'SWISSBLACKCONDENSED'
          font-size: 32px
          text-align: center
          color: rgba(51,122,183,1)
          margin-top: 10px
          span
            font-family: 'UTM-AVO'
            font-size: 18px
    .method_buy
      .item_guarantee
        padding: 0 7px
        .ctent_box
          border: solid 1px rgba(51,122,183,1)
          padding: 15px 7px
          position: relative
          i
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 15px
            font-size: 32px
            color: rgba(51,122,183,1)
          a
            color: rgba(51,122,183,1)
          .txt_place
            font-family: 'UTM-AVOBOLD'
            font-size: 18px
            text-align: center
            color: rgba(51,122,183,1)
          .name_place
            text-align: center
            font-size: 18px
            color: #808080
            margin-top: 10px
          .name_place
    .guarantee_cemera
      margin-top: 55px
      background: #F6F6F6
      padding: 40px 0
      .txt_guarantee
        font-family: 'UTM-AVOBOLD'
        font-size: 20px
        text-align: center
        color:  #808080
      
    .work_type
      padding: 8px 0 
      background: rgba(51,122,183,1)
      margin-bottom: -40px
      .list_work_type
        border-top: solid 1px rgba(255,255,255,0.5)
        border-bottom: solid 1px rgba(255,255,255,0.5)
        padding: 25px 0
        .item_work_type
          -ms-flex: 0 0 ((100/12)* 3%)
          flex: 0 0 ((100/12)* 3%)
          max-width: ((100/12)* 3%)
          border-right: solid 1px rgba(255,255,255,0.5)
          padding: 12px 0
          text-align: center
          color: #fff
          font-size: 18px
          &:last-child
            border: none

.popup_video
    width: 640px
    max-width: 85%
    position: fixed
    top: 50%
    transform: translateY(-50%)
    left: 0 
    right: 0
    margin: 0 auto
    z-index: -1
    opacity: 0
    visibility: hidden
    .closepopup
      position: absolute
      top: -20px
      right: -15px
      width: 42px
      height: 42px
      line-height: 32px
      border: solid 1px rgba(51,122,183,1)
      border-radius: 50%
      display: block
      font-size: 20px
      text-align: center
      color: rgba(51,122,183,1)
      background: #fff
    #video_banner
      width: 100%
      border: solid 10px rgba(51,122,183,0.7)

.modalshowactive 
    z-index: 1100 !important
    visibility: visible !important
    opacity: 1 !important
    transform: translateY(-50%) scale(1) !important

