﻿<!DOCTYPE html>
<html lang="vi-VN" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" @Html.Raw("content='" + ViewBag.MetaDescription + "'")>
    <meta name="keywords" @Html.Raw("content='" + ViewBag.MetaKeywords + "'")>
    <meta property="og:locale" content="@ViewBag.Locale" />
    <meta property="og:type" content="@ViewBag.Type" />
    <meta property="og:title" itemprop="headline" @Html.Raw("content='" + ViewBag.MetaTitle + "'") />
    <meta property="og:description" @Html.Raw("content='" + ViewBag.MetaDescription + "'") />
    <meta property="og:url" content="@ViewBag.Canonical" />
    <meta property="og:site_name" content="@ViewBag.SiteName" />
    <meta property="og:image" content="@ViewBag.MetaImage" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@Html.Raw(ViewBag.Title)</title>
    <link rel="canonical" href="@ViewBag.Canonical" />
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <!--Css-->
    @Styles.Render("~/bundle/PageMainCss")
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/layout/custom/css/jquery.toast.css" rel="stylesheet" />
    <!--Css-->
    <!--JS-->
    @Styles.Render("~/bundle/PageMainJS")
    <script src="~/Content/js/jquery.min.js"></script>
    <!--JS-->
    @*<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>*@
    <script src="~/Content/js/fontawesome.js"></script>
    @RenderSection("style", required: false)
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T3593XV');</script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QBR4QGHP88"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-QBR4QGHP88');
    </script>

</head>
<body data-rsssl="1" class="group-blog full-width-content">
    <div id="index" class="hfeed site">
        @{Html.RenderAction("_ShowHeader", "Home");}
        @RenderBody()
        @{Html.RenderAction("_ShowFooter", "Home");}
        @RenderSection("alertMessage", required: false)

        <ul class="CTA-mobile nav navbar-nav hidden-md-up">
            <li class="nav-item"><a href=""><i class="fa fa-fw fa-zalo color-zalo"></i></a></li>
            <li class="nav-item"><a href=""><i class="fa fa-fw fa-facebook-messenger color-facebook"></i></a></li>
        </ul>
    </div>
    <!--JS-->
    @*@Styles.Render("~/bundle/PageJS")*@
    <script src="~/Content/js/scripts.js"></script>
    <script src="~/Content/js/mediaelement-and-player.min.js"></script>
    <script src="~/Content/js/mediaelement-migrate.min.js"></script>
    <script src="~/Content/js/tether.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.toast.js"></script>
    <script src="~/Content/js/ekko-lightbox.min.js"></script>
    <script src="~/Content/js/placeholderTypewriter.js"></script>
    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/quatang.js"></script>
    <script src="~/Content/js/jquery.lazyloadxt.extra.min.js"></script>
    <script src="~/Content/js/jquery.lazyloadxt.srcset.min.js"></script>
    <script src="~/Content/js/wp-embed.min.js"></script>
    <script src="~/Content/layout/custom/js/load-hot-products.js"></script>
    <script src="~/Content/layout/resources/js/common.js"></script>
    <script src="~/Content/layout/custom/js/jquery.toast.js"></script>
    <!--JS-->
    @RenderSection("Scripts", required: false)

    @Html.Raw(TempData["message"])
    <script type="text/javascript">

        var ugapi1;
        jQuery(document).ready(function () {
            var objUGParams = {
                gallery_theme: "carousel",
                gallery_width: "100%",
                gallery_min_width: 300,
                tile_width: 90,
                tile_height: 40,
                tile_enable_background: false,
                tile_enable_border: false,
                tile_enable_outline: false,
                tile_enable_action: "false",
                tile_enable_overlay: false,
                tile_enable_icons: false,
                theme_gallery_padding: 10

            };
            if (ugCheckForErrors('#unitegallery_5_1', 'cms'))
                ugapi1 = jQuery('#unitegallery_5_1').unitegallery(objUGParams);
        });

        var ugapi2;
        jQuery(document).ready(function () {
            var objUGParams = {
                gallery_theme: "tiles",
                gallery_width: "100%",
                tiles_type: "justified"

            };
            if (ugCheckForErrors('#unitegallery_4_2', 'cms'))
                ugapi2 = jQuery('#unitegallery_4_2').unitegallery(objUGParams);
        });

        var ugapi3;
        jQuery(document).ready(function () {
            var objUGParams = {
                gallery_theme: "tiles",
                gallery_width: "100%",
                tiles_type: "justified"

            };
            if (ugCheckForErrors('#unitegallery_3_3', 'cms'))
                ugapi3 = jQuery('#unitegallery_3_3').unitegallery(objUGParams);
        });
    </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3593XV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>  
    <!-- End Google Tag Manager (noscript) -->
</body>
</html>
