﻿
@using MainProject.Core
@model List<MenuItem>
@{
    Layout = null;
}

<div class="mobile-footer-navbar hidden-md-up">
    <ul class="nav navbar-nav">
        @{
            var index = 0;
            var strClass = "";
            foreach (var item in Model)
            {
                switch (index)
                {
                    case 1:
                        strClass = "fa fa-fw fa-nest color-nest text-primary";
                        break;
                    case 2:
                        strClass = "fa fa-fw fa-dairy color-dairy text-primary";
                        break;
                    case 3:
                        strClass = "fa fa-fw fa-gift color-gift text-primary";
                        break;
                    case 4:
                        strClass = "fa fa-fw fa-handshake color-dairy text-primary";
                        break;
                        index++;
                }
                <li class="nav-item"><a href="@item.Url" target="_blank"><i class="@strClass"></i><span>@item.Title</span></a></li>
            }
        }
        <li class="nav-item"><a href="tel:02839123678"><i class="fa fa-fw fa-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li>
    </ul>
</div>