﻿@using MainProject.Framework.Helper
@using MainProject.Core.Enums
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.GetResource(ResourceKeyCollection.SuccessRegister)</title>
    <script type="text/javascript">
        function timedMsg() {
            setTimeout(function () { document.location.href = "/";}, 10000);
        }
    </script>
</head>
<body onload="timedMsg()">
    <div align="center">
            @Html.GetResource(ResourceKeyCollection.SuccessRegister)
    </div>
</body>
</html>
