﻿@using MainProject.Framework.Models
@using MainProject.Framework.Helper
@model MainProject.Service.Models.ViewModel.Product.Child3ViewModel
<div class="content">
    <section class="products">
        <div class="title_section container">
            <h2>@Model.BodyModel.Title</h2>
            <span class="icon"><i class="icon-cctv"></i></span>
        </div>
        <div class="container content_product_inner">
            <div class="filter_cate " id="filter_cate">
                @foreach (var child3ProductCategory in Model.BodyModel.Child3ProductCategories)
                {
                    if (!child3ProductCategory.IsActive)
                    {
                        <div class="item_cate">
                            <span onclick="window.location='@child3ProductCategory.Url'">@child3ProductCategory.Title</span>
                        </div>
                    }
                    else
                    {
                        <div class="item_cate active">
                            <span onclick = "window.location='@child3ProductCategory.Url'" > @child3ProductCategory.Title </span>
                        </div>
                    }
                }
            </div>
            <div class="list_product_inner">
                <div class="row">
                    @foreach (var child3ProductArticle in Model.BodyModel.Child3ProductArticles)
                    {
                        <div class="item_product">
                            <div class="ctent_item_pduct">
                                @if (!child3ProductArticle.IsPriceContact)
                                {
                                    if (child3ProductArticle.IsPromotion)
                                    {
                                        <span class="sale">Khuyến mãi @child3ProductArticle.PromotionPercent%</span>
                                    }
                                }
                                <div class="img_item">
                                    <a href="@child3ProductArticle.Url"><img src="@child3ProductArticle.Image" alt="@child3ProductArticle.Alt"></a>
                                </div>
                                <div class="ctent_txt">
                                    <a href="@child3ProductArticle.Url">
                                        <h3>@child3ProductArticle.Title</h3>
                                        <p>@child3ProductArticle.ShortDescription</p>
                                    </a>
                                    <div class="box_price">
                                        @if (child3ProductArticle.IsPriceContact)
                                        {
                                            <span class="new_price">Giá liên hệ</span>
                                        }
                                        else
                                        {
                                            if (child3ProductArticle.IsPromotion)
                                            {
                                                <span class="new_price">@child3ProductArticle.PromotionPrice VNĐ</span>
                                                <span class="old_price"><del>@child3ProductArticle.Price VNĐ</del></span>
                                            }
                                            else
                                            {
                                                <span class="new_price">@child3ProductArticle.Price VNĐ</span>
                                            }
                                        }
                                    </div>
                                    <div class="btncart">
                                        @if (child3ProductArticle.IsPriceContact)
                                        {
                                            <button onclick="window.location.href='@child3ProductArticle.Url'">Xem chi tiết</button>
                                        }
                                        else
                                        {
                                            <button onclick="AddToCart('@child3ProductArticle.Id')"><i class="ic-Purcha-icon"> </i>Mua hàng</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="pagination">
                    @Html.RenderPagingNew(Model.BodyModel.PagingModel, new PagingStyleModel() { CurrentItemStyle = "", DivContainerStyle = "row", ItemStyle = "" })
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <!-- Shopping cart scripts-->
    <script src="~/Content/layout/custom/js/shopping-cart.js"></script>
}
