﻿@{
    ViewBag.Title = "Thêm sản phẩm";
    ViewBag.menuid = "product";
}
@model MainProject.Web.Areas.Admin.Models.Products.ProductManageModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Sản phẩm
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Sản phẩm</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm sản phẩm</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab_1" data-toggle="tab">Nội dung</a></li>
                          <li><a href="#tab_2" data-toggle="tab">Hình ảnh</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="tab_1">
                            @using (Html.BeginForm("Create", "ProductAdmin", FormMethod.Post, new { id = "CreateArticleFr" }))
                            {
                              <div class="box-body">
                                  @Html.ValidationSummary(true)
                                  @Html.HiddenFor(x => x.Id)
                                  @Html.HiddenFor(x => x.OriginalValue)
                                  @Html.HiddenFor(x => x.ImageFolder)
                                  @Html.Partial("_LoadProductCategoryBaseLanguage", Model)
                                  <div class="clearfix"></div>
                                  <div class="form-group">
                                      <label>Mã sản phẩm</label>
                                      @Html.TextBoxFor(d => d.ProductCode, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.ProductCode)
                                  </div>
                                  <div class="form-group">
                                      <label>Tên sản phẩm</label>
                                      @Html.TextBoxFor(d => d.Name, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.Name)
                                  </div>
                                  <div class="form-group">
                                      <label>Hình đại diện</label>
                                      @Html.TextBoxFor(d => d.ImageDefault, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.ImageDefault)
                                  </div>
                                  <div class="form-group">
                                      <label>Mô tả ngắn</label>
                                      @Html.TextAreaFor(d => d.ShortDescription, new { @style = "min-height:100px; ", @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.ShortDescription)
                                  </div>
                                  <div class="form-group">
                                      <label>Mô tả</label>
                                      @Html.TextAreaFor(d => d.Description, new { style = "min-height:200px; ", @class = "ckeditor form-control" })
                                      @Html.ValidationMessageFor(d => d.Description)
                                  </div>
                                  <div class="form-group">
                                      @Html.CheckBoxFor(d => d.IsVideo)
                                      <label>Hiển thị video?</label>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="form-group">
                                      <label>Link Video Youtube(ví dụ: O-NBzwxauZE)</label>
                                      @Html.TextBoxFor(d => d.VideoId, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.VideoId)
                                  </div>
                                  @*<div class="form-group">
                                      @Html.CheckBoxFor(d => d.IsPriceContact)
                                      <label>Giá liên hệ?</label>
                                  </div>*@
                                  <div class="clearfix"></div>
                                  <div class="form-group">
                                      <label>Giá gốc</label>
                                      @Html.TextBoxFor(d => d.Price, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.Price)
                                  </div>
                                  <div class="form-group">
                                      @Html.CheckBoxFor(d => d.IsPromotion)
                                      <label>Sản phẩm khuyến mãi?</label>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="form-group">
                                      <label>Phần trăm khuyến mãi(%)</label>
                                      @Html.TextBoxFor(d => d.PromotionPercent, new { @class = "form-control" })
                                  </div>
                                  <div class="form-group">
                                      <label>Giá khuyến mãi</label>
                                      @Html.TextBoxFor(d => d.PromotionPrice, new { @class = "form-control" })
                                  </div>
                                  <div class="form-group">
                                      <label>Thông tin chi tiết</label>
                                      @Html.TextAreaFor(d => d.DetailInfo, new { @style = "min-height:200px; ", @class = "ckeditor form-control" })
                                      @Html.ValidationMessageFor(d => d.DetailInfo)
                                  </div>
                                  <div class="form-group">
                                      <label>Chế biến và bảo quản</label>
                                      @Html.TextAreaFor(d => d.Preserve, new { @style = "min-height:200px; ", @class = "ckeditor form-control" })
                                      @Html.ValidationMessageFor(d => d.Preserve)
                                  </div>
                                  <div class="form-group col-xs-2 nopadding">
                                      <label>Thứ tự</label>
                                      @Html.EditorFor(d => d.Order)
                                      @Html.ValidationMessageFor(d => d.Order)
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="form-group">
                                      @Html.CheckBoxFor(d => d.IsPublished)
                                      <label>Hiển thị</label>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="form-group">
                                      <label>Từ khóa title</label>
                                      @Html.TextBoxFor(d => d.MetaTitle, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.MetaTitle)
                                  </div>
                                  <div class="form-group">
                                      <label>Từ khóa description</label>
                                      @Html.TextBoxFor(d => d.MetaDescription, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.MetaDescription)
                                  </div>
                                  <div class="form-group">
                                      <label>Từ khóa keywords</label>
                                      @Html.TextBoxFor(d => d.MetaKeywords, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.MetaKeywords)
                                  </div>
                                  <div class="form-group">
                                      <label>Hình meta</label>
                                      @Html.TextBoxFor(d => d.MetaImage, new { @class = "form-control" })
                                      @Html.ValidationMessageFor(d => d.MetaImage)
                                  </div>
                                  <div class="clearfix"></div>
                              </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" id="btnsubmit" class="btn btn-primary">Thêm sản phẩm</button>
                                </div>
                            }
                          </div><!-- /.tab-pane -->
                          <div class="tab-pane" id="tab_2">
                                <iframe name="picturemanager" src="/admin/upload/images?p=@Model.ImageFolder" style="width: 100%; height: 500px; border:none;" ></iframe>
                          </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                      </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<script type="text/javascript">
    $(document).ready(function () {
        $('#IsPublished').attr('checked', true);
        $("#Order").addClass("form-control");

        $("#CreateArticleFr").click(function () {
            //CKEDITOR.instances.Description.updateElement();
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
        })
         if ($('#Description').length > 0) {
            CKEDITOR.replace('Description', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
                        });
         }
        if ($('#Preserve').length > 0) {
            CKEDITOR.replace('Preserve', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
                        });
         }
        if ($('#DetailInfo').length > 0) {
            CKEDITOR.replace('DetailInfo', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
                        });
        }
        if ($('#SalesCommitment').length > 0) {
            CKEDITOR.replace('SalesCommitment', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
                        });
        }
    });
</script>
