﻿@model MainProject.Web.Areas.Admin.Models.UserManage.UserManageEditViewModel
@{
    ViewBag.Title = "Chỉnh sửa quyền truy cập";
    ViewBag.menuid = "user-manager";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Người dùng
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
        <li><a href="#">Tài khoản</a></li>
        <li class="active">Chỉnh sửa quyền</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Chỉnh sửa quyền</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            @using(Html.BeginForm())
            {
                <p>
                    @Html.Raw(TempData["message"])
                </p>
                <strong style="color: red">@Html.ValidationSummary(true)</strong>
                <p>Bạn đang thay đổi thông tin của <strong style="color: green">@Model.UserName</strong></p>
                <div class="box-body">
                    <div class="form-group">
                        @Html.HiddenFor(d => d.UserName)
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(d => d.IsActive)
                        <label>Kích hoạt?</label>
                    </div>
                    <div class="form-group">
                        @foreach (var item in Model.ListRoles)
                        {
                            var hasContain = Model.ListRolesCheck.Contains(item);
                            <input id="ListRolesCheck" name="ListRolesCheck" type="checkbox" value="@item" @(hasContain ? "checked=\"checked\"" : string.Empty)/>
                            <label>&nbsp;@item</label>
                        }
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            }
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
