﻿@model IEnumerable<MainProject.Web.Areas.Admin.Models.Permission.UserPermissionItemModel>
@{
    Layout = null;
    int index = 1;
}
<table>
    <tr>
        <th>Người được phân quyền</th>
        <th>Ngôn ngữ</th>
        <th>Chức năng</th>
        <th>Biên tập viên</th>
        <th>Quản trị tin</th>
        <th>Hành động</th>
    </tr>
    @foreach (var item in Model)
    {
        string bgclass = index % 2 == 0 ? "even" : "odd";
        <tr class="@bgclass">
            <td style="text-align: center;">
                @(item.UserName)
            </td>
            <td>
                @(item.Language)
            </td>
            <td>
                @(item.FeatureName)
            </td>
            <td style="text-align: center;">
                <input type="checkbox" id="isEditor_@(item.EntityId)" @(item.IsEditor ? "checked" : "")/>
            </td>
            <td style="text-align: center;">
                <input type="checkbox" id="isManager_@(item.EntityId)" @(item.IsManager ? "checked" : "")/>
            </td>
            <td style="text-align: center;">
                <a href="#" onclick="UpdatePermissionToUser('@(item.UserName)', '@(item.EntityId)');" class="edit" title="Sửa"></a> &nbsp;
                <a href="#" onclick="RemovePermissionToUser('@(item.UserName)', '@(item.EntityId)');" class="delete" title="Xóa"></a>
            </td>
        </tr>
        index++;
    }
</table>