﻿@model MainProject.Service.Models.ViewModel.Landingpage.IndexViewModel
@{ Html.RenderPartial("_SlideShow", Model.SlideShowModel.SlideShowImages);}
<div class="content">
    <section class="list_cate langdingpage">
        @if (Model.FirstSectionModel != null)
        {
            <div class="title_section container">
                <h2>@Model.FirstSectionModel.Title</h2>
                <span class="icon"><i class="icon-cctv"></i></span>
            </div>
            <div class="container content_list_cate">
                <div class="row">
                    @for (int i = 0; i < Model.FirstSectionModel.FirstSectionItems.Count; i += 6)
                    {
                        <div class="item_cate item_cate_big">
                            <div class="ctent_item_cate">
                                <a href="@Model.FirstSectionModel.FirstSectionItems[i].Url"><img src="@Model.FirstSectionModel.FirstSectionItems[i].Image" alt="@Model.FirstSectionModel.FirstSectionItems[i].Alt"></a>
                                <div class="txt_cate">
                                    <a href="@Model.FirstSectionModel.FirstSectionItems[i].Url">@Model.FirstSectionModel.FirstSectionItems[i].Title</a>
                                    <div class="see_more_general">
                                        <a href="@Model.FirstSectionModel.FirstSectionItems[i].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        if (i + 1 < Model.FirstSectionModel.FirstSectionItems.Count)
                        {
                            <div class="item_cate">
                                <div class="ctent_item_cate">
                                    <a href="@Model.FirstSectionModel.FirstSectionItems[i+1].Url"><img src="@Model.FirstSectionModel.FirstSectionItems[i+1].Image" alt="@Model.FirstSectionModel.FirstSectionItems[i+1].Alt"></a>
                                    <div class="txt_cate">
                                        <a href="@Model.FirstSectionModel.FirstSectionItems[i+1].Url">@Model.FirstSectionModel.FirstSectionItems[i + 1].Title</a>
                                        <div class="see_more_general">
                                            <a href="@Model.FirstSectionModel.FirstSectionItems[i+1].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        if (i + 2 < Model.FirstSectionModel.FirstSectionItems.Count)
                        {
                            <div class="item_cate">
                                <div class="ctent_item_cate">
                                    <a href="@Model.FirstSectionModel.FirstSectionItems[i+2].Url"><img src="@Model.FirstSectionModel.FirstSectionItems[i+2].Image" alt="@Model.FirstSectionModel.FirstSectionItems[i+2].Alt"></a>
                                    <div class="txt_cate">
                                        <a href="@Model.FirstSectionModel.FirstSectionItems[i+2].Url">@Model.FirstSectionModel.FirstSectionItems[i+2].Title</a>
                                        <div class="see_more_general">
                                            <a href="@Model.FirstSectionModel.FirstSectionItems[i+2].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        if (i + 3 < Model.FirstSectionModel.FirstSectionItems.Count)
                        {
                            <div class="item_cate">
                                <div class="ctent_item_cate">
                                    <a href="@Model.FirstSectionModel.FirstSectionItems[i+3].Url"><img src="@Model.FirstSectionModel.FirstSectionItems[i+3].Image" alt="@Model.FirstSectionModel.FirstSectionItems[i+3].Alt"></a>
                                    <div class="txt_cate">
                                        <a href="@Model.FirstSectionModel.FirstSectionItems[i+3].Url">@Model.FirstSectionModel.FirstSectionItems[i + 3].Title</a>
                                        <div class="see_more_general">
                                            <a href="@Model.FirstSectionModel.FirstSectionItems[i+3].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        if (i + 4 < Model.FirstSectionModel.FirstSectionItems.Count)
                        {
                            <div class="item_cate">
                                <div class="ctent_item_cate">
                                    <a href="@Model.FirstSectionModel.FirstSectionItems[i+4].Url"><img src="@Model.FirstSectionModel.FirstSectionItems[i+4].Image" alt="@Model.FirstSectionModel.FirstSectionItems[i+4].Alt"></a>
                                    <div class="txt_cate">
                                        <a href="@Model.FirstSectionModel.FirstSectionItems[i+4].Url">@Model.FirstSectionModel.FirstSectionItems[i + 4].Title</a>
                                        <div class="see_more_general">
                                            <a href="@Model.FirstSectionModel.FirstSectionItems[i+4].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        if (i + 5 < Model.FirstSectionModel.FirstSectionItems.Count)
                        {
                            <div class="item_cate item_cate_big">
                                <div class="ctent_item_cate">
                                    <a href="@Model.FirstSectionModel.FirstSectionItems[i + 5].Url"><img src="@Model.FirstSectionModel.FirstSectionItems[i + 5].Image" alt="@Model.FirstSectionModel.FirstSectionItems[i + 5].Alt"></a>
                                    <div class="txt_cate">
                                        <a href="@Model.FirstSectionModel.FirstSectionItems[i + 5].Url">@Model.FirstSectionModel.FirstSectionItems[i + 5].Title</a>
                                        <div class="see_more_general">
                                            <a href="@Model.FirstSectionModel.FirstSectionItems[i + 5].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
        @if (Model.SecondSectionModel != null || Model.ThirdSectionModel != null)
        {
            <div class=" process_setup">
                @if (Model.SecondSectionModel != null)
                {
                    <div class="title_section container">
                        <h2>@Model.SecondSectionModel.Title</h2>
                        <span class="icon"><i class="icon-cctv"></i></span>
                    </div>
                    <div class="container">
                        <div class="row list_process">
                            @foreach (var secondSectionItem in Model.SecondSectionModel.SecondSectionItems)
                            {
                                <div class="item_process">
                                    <div class="row ct_item_process">
                                        <span class="number">@secondSectionItem.Order</span>
                                        <div class="imfor_txt">
                                            <p>@secondSectionItem.Title</p>
                                        </div>
                                        <div class="imfor_img">
                                            <div class="ct_img">
                                                <img src="@secondSectionItem.Image.Image" alt="@secondSectionItem.Image.Alt">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            </div>
                        </div>
                }
                @if (Model.ThirdSectionModel != null)
                {
                    <div class="type_guarantee method_buy container">
                        <div class="row">
                            @foreach (var thirdSectionItem in Model.ThirdSectionModel.Three_ThirdSectionItems)
                            {
                                <div class="item_guarantee">
                                    <div class="ctent_box">
                                        <i class="ic-Home-icon"></i>
                                        @Html.Raw(thirdSectionItem.Description)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        @if (Model.FourthSectionModel != null)
        {

            <section class="solution" style="background: url('@Model.FourthSectionModel.BackgroundImage'); background-size: cover; background-attachment: fixed;">
                <div class="title_section container">
                    <h2>@Model.FourthSectionModel.Title</h2>
                    <span class="icon"><i class="icon-tools"></i></span>
                </div>
                <div class="content_solution container">
                    <div class="row list_solution">
                        @foreach (var fourthSectionItem in Model.FourthSectionModel.FourthSectionItems)
                        {
                            <div class="item_solution">
                                <div class="ctent_item_solution">
                                    <a href="@fourthSectionItem.Url">
                                        @fourthSectionItem.Title
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        }
        @if (Model.FifthSectionModel != null)
        {
            <div class="images_solution container">
                <div class="row list_image">
                    @foreach (var fifthSectionItem in Model.FifthSectionModel.FifthSectionItems)
                    {
                        <div class="item_img_solution">
                            <a href="@fifthSectionItem.Url"><img src="@fifthSectionItem.Image.Image" alt="@fifthSectionItem.Image.Alt"></a>
                        </div>
                    }
                </div>
            </div>
        }
        @if (Model.SixthSectionModel != null)
        {

            <div class="address_langdding container">
                <div class="title_txt" id="content_map" data-lat="10.8342963" data-lng="106.6344583" data-zoom="4">
                    <h3>@Model.SixthSectionModel.Title</h3>
                    <p class="mini_description">@Model.SixthSectionModel.Description</p>
                </div>
                <div class="map" id="map">
                </div>
            </div>
        }
        @if (Model.SeventhSectionModel != null)
        {
            <div class="title_section container">
                <h2>@Model.SeventhSectionModel.Title</h2>
                <span class="icon"><i class="icon-cctv"></i></span>
            </div>
            <div class="container content_list_cate">
                <div class="row">
                    @for (var i = 0; i < Model.SeventhSectionModel.SeventhSectionItems.Count; i += 3)
                    {
                        <div class="item_cate item_cate_big">
                            <div class="ctent_item_cate">
                                <a href="@Model.SeventhSectionModel.SeventhSectionItems[i].Url"><img src="@Model.SeventhSectionModel.SeventhSectionItems[i].Image" alt="@Model.SeventhSectionModel.SeventhSectionItems[i].Alt"></a>
                                <div class="txt_cate">
                                    <a href="@Model.SeventhSectionModel.SeventhSectionItems[i].Url">@Model.SeventhSectionModel.SeventhSectionItems[i].Title</a>
                                    <div class="see_more_general">
                                        <a href="@Model.SeventhSectionModel.SeventhSectionItems[i].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        if (i + 1 < Model.SeventhSectionModel.SeventhSectionItems.Count)
                        {
                            <div class="item_cate">
                                <div class="ctent_item_cate">
                                    <a href="@Model.SeventhSectionModel.SeventhSectionItems[i+1].Url"><img src="@Model.SeventhSectionModel.SeventhSectionItems[i+1].Image" alt="@Model.SeventhSectionModel.SeventhSectionItems[i+1].Alt"></a>
                                    <div class="txt_cate">
                                        <a href="@Model.SeventhSectionModel.SeventhSectionItems[i+1].Url">@Model.SeventhSectionModel.SeventhSectionItems[i + 1].Title</a>
                                        <div class="see_more_general">
                                            <a href="@Model.SeventhSectionModel.SeventhSectionItems[i+1].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        if (i + 2 < Model.SeventhSectionModel.SeventhSectionItems.Count)
                        {
                            <div class="item_cate">
                                <div class="ctent_item_cate">
                                    <a href="@Model.SeventhSectionModel.SeventhSectionItems[i+2].Url"><img src="@Model.SeventhSectionModel.SeventhSectionItems[i+2].Image" alt="@Model.SeventhSectionModel.SeventhSectionItems[i+2].Alt"></a>
                                    <div class="txt_cate">
                                        <a href="@Model.SeventhSectionModel.SeventhSectionItems[i+2].Url">@Model.SeventhSectionModel.SeventhSectionItems[i + 2].Title</a>
                                        <div class="see_more_general">
                                            <a href="@Model.SeventhSectionModel.SeventhSectionItems[i+2].Url"> Xem thêm  <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
        @if (Model.EighthSectionModel != null)
        {

            <section class="product_home">
                <div class="title_section container">
                    <h2>@Model.EighthSectionModel.Title</h2>
                    <span class="icon"><i class="icon-cctv"></i></span>
                </div>
                <div class="content_product">
                    <div class="list_product container">
                        <div class="row">
                            @foreach (var eighthSectionItem in Model.EighthSectionModel.EighthSectionItems)
                            {
                                <div class="item_product">
                                    <div class="ctent_item_pduct">
                                        @if (!eighthSectionItem.IsPriceContact)
                                        {
                                            if (eighthSectionItem.IsPromotion)
                                            {
                                                <span class="sale">Khuyến mãi @eighthSectionItem.PromotionPercent%</span>
                                            }
                                        }
                                        <div class="img_item">
                                            <a href="@eighthSectionItem.Url"><img src="@eighthSectionItem.Image" alt="@eighthSectionItem.Alt"></a>
                                        </div>
                                        <div class="ctent_txt">
                                            <a href="@eighthSectionItem.Url">
                                                <h3>@eighthSectionItem.Title</h3>
                                                <p>@eighthSectionItem.ShortDescription</p>
                                            </a>
                                            <div class="box_price">
                                                @if (eighthSectionItem.IsPriceContact)
                                                {
                                                    <span class="new_price">Giá liên hệ</span>
                                                }
                                                else
                                                {
                                                    if (eighthSectionItem.IsPromotion)
                                                    {
                                                        <span class="new_price">@eighthSectionItem.PromotionPrice VNĐ</span>
                                                        <span class="old_price"><del>@eighthSectionItem.Price VNĐ</del></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="new_price">@eighthSectionItem.Price VNĐ</span>
                                                    }
                                                }
                                            </div>
                                            <div class="btncart">
                                                <button><i class="ic-Purcha-icon"> </i>Mua hàng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
        }
        @if (Model.NinthSectionModel != null)
        {
            <div class="advisory solution" style="background: url('@Model.NinthSectionModel.BackgroundImage'); background-size: cover; background-attachment: fixed;">
                <div class="title_section container">
                    <h2>@Model.NinthSectionModel.Title</h2>
                    <span class="icon"><i class="icon-telephone-1"></i></span>
                </div>
                <div class="txt_advisory container">
                    <p class="txt_description">@Model.NinthSectionModel.Description</p>

                </div>
                <div class="btn_advisory ">
                    <div class="row">
                        <button class="btn btn_phone"><span> <a href="tel:@Model.NinthSectionModel.Two_NinthSectionItems[0].Title"><i class="ic-Phone-icon"></i>Hotline tư vấn: @Model.NinthSectionModel.Two_NinthSectionItems[0].Title</a></span></button>
                        <button class="btn btn_mail"><span><i class="ic-Mail-icon"></i>Email: @Model.NinthSectionModel.Two_NinthSectionItems[1].Title</span></button>
                    </div>
                </div>
            </div>
        }
        @if (Model.TenthSectionModel != null)
        {
            <div class="setup_camera">
                <div class="title_section container">
                    <h2>@Model.TenthSectionModel.Title</h2>
                    <span class="icon"><i class="icon-cctv"></i></span>
                </div>
                <div class="container">
                    <div class="row list_image_setup">
                        @foreach (var tenthSectionItem in Model.TenthSectionModel.TenthSectionItems)
                        {

                            <div class="item_setup">
                                <div class="ctent_setup">
                                    <div class="img">
                                        <img src="@tenthSectionItem.Image" alt="@tenthSectionItem.Alt">
                                    </div>
                                    <div class="txt">
                                        <h3>@tenthSectionItem.Title</h3>
                                        @Html.Raw(tenthSectionItem.Description)
                                        <div class="see_more_general">
                                            <a href="@tenthSectionItem.Url">Xem chi tiết <i class="ic-Arrow-right"></i><i class="ic-Arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        @if (Model.EleventhSectionModel != null)
        {
            <div class="guarantee_cemera">
                <div class="title_section container">
                    <h2>@Model.EleventhSectionModel.Title</h2>
                    <span class="icon"><i class="icon-telephone-1"></i></span>
                </div>
                <div class="txt_guarantee container">
                    <p>@Model.EleventhSectionModel.Description</p>
                </div>
                <div class="type_guarantee container">
                    <div class="row">
                        @foreach (var eleventhSectionItem in Model.EleventhSectionModel.EleventhSectionItems)
                        {
                            <div class="item_guarantee">
                                <p class="txt_item">@eleventhSectionItem.Title</p>
                                @Html.Raw(eleventhSectionItem.Description)
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        @if (Model.TwelvethSectionModel != null)
        {
            <div class="work_type">
                <div class="list_work_type">
                    <div class="container">
                        <div class="row">
                            @foreach (var twelvethSectionItem in Model.TwelvethSectionModel.Fourth_TwelvethSectionItems)
                            {
                                <div class="item_work_type">
                                    <p>@twelvethSectionItem.Title</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>

</div>
@if (Model.SixthSectionModel != null)
{
    @section scripts{
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCHvmyTralDp2Y0m7zEiN185u1vtArcC5s&sensor=false&callback=initialize"></script>
        <script>
            var locations = [];
            @foreach(var sixthSectionItem in Model.SixthSectionModel.SixthSectionItems)
            {
                <text>
                var sixthSectionItemObj = {
                    lat: '@sixthSectionItem.Lat',
                    lng: '@sixthSectionItem.Long',
                    name: '@sixthSectionItem.Name',
                    logo: '/Content/layout/resources/images/logo.jpg',
                    address: '@sixthSectionItem.Address',
                    phone: '@sixthSectionItem.Phone'
                };
                locations.push(sixthSectionItemObj);
                </text>
            }
        </script>
    }
}
    