﻿@{
    ViewBag.Title = "Thêm cảm nhận khách hàng";
}
@model MainProject.Web.Areas.Admin.Models.Feedback.FeedbackViewModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh mục
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Cảm nhận khách hàng</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm cảm nhận</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">Nội dung</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Hình ảnh</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                @using (Html.BeginForm())
                                {
                                    <div class="box-body">
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(x => x.Id)
                                        @Html.HiddenFor(x => x.ImageFolder)
                                        @Html.HiddenFor(x => x.OriginalValue)
                                        <div class="form-group col-xs-4 nopadding">
                                            <label>Lọc theo ngôn ngữ</label>
                                            @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <label>Hình đại diện</label>
                                            @Html.TextBoxFor(d => d.ImageDefault, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.ImageDefault)
                                        </div>
                                        <div class="form-group">
                                            <label>Họ tên</label>
                                            @Html.TextBoxFor(d => d.FullName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.FullName)
                                        </div>
                                        <div class="form-group">
                                            <label>Chức vụ</label>
                                            @Html.TextBoxFor(d => d.Location, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Location)
                                        </div>
                                        <div class="form-group">
                                            <label>Nội dung</label>
                                            @Html.TextAreaFor(d => d.Description, new { @class = "form-control", style = "min-height: 300px;" })
                                            @Html.ValidationMessageFor(d => d.Description)
                                        </div>
                                        <div class="form-group col-xs-2 nopadding">
                                            <label>Thứ tự</label>
                                            @Html.EditorFor(d => d.Order)
                                            @Html.ValidationMessageFor(d => d.Order)
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.CheckBoxFor(d => d.IsPublished)
                                            <label>Hiển thị</label>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </div>
                                }
                            </div><!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <iframe name="picturemanager" src="/admin/upload/images?p=@Model.ImageFolder" style="width: 100%; height: 500px; border:none;"></iframe>
                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        @*if ($('#Description').length > 0) {
            CKEDITOR.replace('Description', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
            });
        }*@
        $('#IsPublished').attr('checked', true);
    });
</script>