﻿@{
    ViewBag.Title = "Thêm nhóm nội dung";
    ViewBag.menuid = "content-group";
}
@model MainProject.Web.Areas.Admin.Models.ContentGroups.ContentGroupManageModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Nhóm nội dung
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Phân quyền nội dung</a></li>
            <li class="active">Nhóm nội dung</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm nhóm</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <div class="tab-content">
                            @using (Html.BeginForm())
                            {
                                <div class="box-body">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.Id)
                                    <div class="form-group">
                                        <label>Tên nhóm nội dung</label>
                                        @Html.TextBoxFor(d => d.GroupName, new { @class="form-control" })
                                        @Html.ValidationMessageFor(d=>d.GroupName)
                                    </div>
                                    <div class="form-group">
                                        <label>Tên class icon</label>
                                        @Html.TextBoxFor(d => d.IconClass, new { @class="form-control" })
                                        @Html.ValidationMessageFor(d=>d.IconClass)
                                    </div>
                                    <div class="form-group col-xs-2 nopadding">
                                        <label>Thứ tự</label>
                                        @Html.EditorFor(d => d.Order)
                                        @Html.ValidationMessageFor(d=>d.Order)
                                    </div>
                                    <div class="clearfix" ></div>
                                </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Thêm nhóm</button>
                                </div>
                            }
                        </div><!-- /.tab-content -->
                      </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $("#Order").addClass("form-control");
</script>