﻿@{
    Layout = null;
}
@model MainProject.Web.Areas.Admin.Models.FilterViewModel

@if (Model != null)
{
        if (Model.HasFatherSelect && Model.FatherSelectModel != null && Model.OtherFatherSelectModel !=null)
        {
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Tỉnh/Thành phố</label>
                    @Html.DropDownList("filterFather", Model.FatherSelectModel.Fathers, new { @class="form-control", @onchange = "changeDistrictByCity(this.value);" })
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Quận/Huyện</label>
                    @Html.DropDownList("otherFilterFather", Model.OtherFatherSelectModel.Fathers, new { @class="form-control" })
                </div>
            </div>

            <div class="col-xs-1 nopadding">
                <div class="form-group" style="padding-top:25px;">
                    <button type="button" class="btn btn-block btn-primary btn-flat" onclick="Filter();">Lọc</button>
                </div>
            </div>
            <div class="clearfix"></div>

            <script type="text/javascript">
                function Filter() {
                    var cityId = $("#filterFather")[0].value;
                    var districtId = $("#otherFilterFather")[0].value;
                    if (isNaN(cityId)) cityId = 0;
                    if (isNaN(districtId)) districtId = 0;
                        document.location = "@Model.BaseUrl" + "cityId=" + cityId + "&districtId=" + districtId;
                }

                function changeDistrictByCity(selectedValue1) {
                    //Get Districts List by Province
                    var request3 = $.ajax({
                        url: "/Admin/AdminCommon/GetDistrictByCity?id=" + selectedValue1,
                        type: "GET",
                    });
                    request3.done(function (result) {
                        $('#otherFilterFather').children().remove();
                        $("#otherFilterFather").append($('<option></option>').val("0").html("All"));
                        $.each(result.Data, function (i, item) {
                            $("#otherFilterFather").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
                        });
                    });
                    request3.fail(function (jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                    });
                }
            </script>
    }
}
