﻿@model MainProject.Web.Areas.Admin.Models.Branch.BranchViewModel
@{
    ViewBag.Title = "Tạo chi nhánh";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Chi nhánh
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Chi nhánh liên hệ</a></li>
            <li class="active">Chi nhánh</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm chi nhánh</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                      <!-- Custom Tabs -->
                      <div class="nav-tabs-custom">
                        <div class="tab-content">
                            @using(Html.BeginForm())
                            {
                            <div class="box-body">
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(x => x.Id)

                                @Html.Partial("_LoadCityDistrict", Model)
                                <div class="form-group">
                                    <label>Tên chi nhánh</label>
                                    @Html.TextBoxFor(d => d.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Name)
                                </div>
                                <div class="form-group">
                                    <label>Tên đường</label>
                                    @Html.TextBoxFor(d => d.Street, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Street)
                                </div>
                                <div class="form-group">
                                    <label>Điện thoại</label>
                                    @Html.TextBoxFor(d => d.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Phone)
                                </div>
                                <div class="form-group">
                                    <label>Số fax</label>
                                    @Html.TextBoxFor(d => d.Fax, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Fax)
                                </div>
                                <div class="form-group">
                                    <label>Lng</label>
                                    @Html.EditorFor(d => d.Lng, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Lng)
                                </div>
                                <div class="form-group">
                                    <label>Lat</label>
                                    @Html.EditorFor(d => d.Lat, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Lat)
                                </div>
                                <div class="form-group">
                                    <label>Link Maps</label>
                                    @Html.TextBoxFor(d => d.Url, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.Url)
                                </div>
                                <div class="form-group col-xs-2 nopadding">
                                    <label>Thứ tự</label>
                                    @Html.EditorFor(d => d.Order)
                                    @Html.ValidationMessageFor(d => d.Order)
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    @Html.CheckBoxFor(d => d.IsPublished)
                                    <label>Hiển thị</label>
                                </div>
                                <div class="form-group">
                                    @Html.CheckBoxFor(d => d.IsOnFooter)
                                    <label>Hiển thị dưới footer</label>
                                </div>
                            </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                                </div>
                            }
                        </div><!-- /.tab-content -->
                      </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#IsPublished').attr('checked', true);
    });
    $("#Order").addClass("form-control");
    $("#Lng").addClass("form-control");
    $("#Lat").addClass("form-control")
</script>
