﻿@model MainProject.Web.Areas.Admin.Models.Category.CategoryManageViewModel
@{
    ViewBag.Title = "Chỉnh sửa danh mục";
    ViewBag.menuid = "category";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh mục
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Danh mục</li>
            <li class="active">Cập nhật</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cập nhật danh mục</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">Nội dung</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Hình ảnh</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                @using (Html.BeginForm("Edit", "CategoryAdmin", FormMethod.Post, new { id = "EditCategoryFr" }))
                                {
                                <div class="box-body">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.ImageFolder)
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.HiddenFor(x => x.OriginalValue)
                                    <div class="form-group col-xs-4 nopadding">
                                        <label>Danh mục cha</label>
                                        @Html.DropDownListFor(d => d.ParentSelectedValue, Model.Parents, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.ParentSelectedValue)
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <label>Tiêu đề</label>
                                        @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.Title)
                                    </div>
                                    <div class="form-group">
                                        <label>Hình đại diện</label>
                                        @Html.TextBoxFor(d => d.ImageDefault, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.ImageDefault)
                                    </div>
                                    <div class="form-group">
                                        <label>Hình icon menu</label>
                                        @Html.TextBoxFor(d => d.ImageIcon, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.ImageIcon)
                                    </div>
                                    <div class="form-group">
                                        <label>Link Youtube</label>
                                        @Html.TextBoxFor(d => d.LinkYouTuBe, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.LinkYouTuBe)
                                    </div>
                                    <div class="form-group">
                                        <label>Mô tả</label>
                                        @Html.TextAreaFor(d => d.Description, new { @style = "min-height:200px; ", @class = "ckeditor form-control" })
                                        @Html.ValidationMessageFor(d => d.Description)
                                    </div>
                                    <div class="form-group">
                                        <label>Lợi ích</label>
                                        @Html.TextAreaFor(d => d.Benefit, new { @style = "min-height:200px; ", @class = "ckeditor form-control" })
                                        @Html.ValidationMessageFor(d => d.Benefit)
                                    </div>
                                    <div class="form-group">
                                        <label>Tại sao chọn Bách An Nhiên</label>
                                        @Html.TextAreaFor(d => d.Why, new { @style = "min-height:200px; ", @class = "ckeditor form-control" })
                                        @Html.ValidationMessageFor(d => d.Why)
                                    </div>
                                    <div class="form-group col-xs-2 nopadding">
                                        <label>Thứ tự</label>
                                        @Html.EditorFor(d => d.Order)
                                        @Html.ValidationMessageFor(d => d.Order)
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(d => d.IsPublished)
                                        <label>Hiển thị?</label>
                                    </div>
                                    @*<div class="form-group">
            @Html.CheckBoxFor(d => d.IsHotProductCategory)
            <label>Danh mục sản phẩm nổi bật?</label>
        </div>*@
                                    <div class="form-group">
                                        <label>Display Template</label>
                                        @Html.DropDownListFor(d => d.DisplayTemplateSelected, Model.DisplayTemplates, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.DisplayTemplateSelected)
                                    </div>
                                    <div class="form-group">
                                        <label>Từ khóa title</label>
                                        @Html.TextBoxFor(d => d.MetaTitle, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.MetaTitle)
                                    </div>
                                    <div class="form-group">
                                        <label>Từ khóa description</label>
                                        @Html.TextBoxFor(d => d.MetaDescription, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.MetaDescription)
                                    </div>
                                    <div class="form-group">
                                        <label>Từ khóa keywords</label>
                                        @Html.TextBoxFor(d => d.MetaKeywords, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.MetaKeywords)
                                    </div>
                                    <div class="form-group">
                                        <label>Hình meta</label>
                                        @Html.TextBoxFor(d => d.MetaImage, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.MetaImage)
                                    </div>
                                </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                }
                            </div><!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <iframe name="picturemanager" src="/admin/upload/images?p=@Model.ImageFolder" style="width: 100%; height: 500px; border:none;"></iframe>
                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#EditCategoryFr").click(function () {
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
        })
        if ($('#Description').length > 0) {
            CKEDITOR.replace('Description', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
            });
        }
        if ($('#Benefit').length > 0) {
            CKEDITOR.replace('Benefit', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
            });
        }
        if ($('#Why').length > 0) {
            CKEDITOR.replace('Why', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
            });
        }
    });
    $("#Order").addClass("form-control")
</script>