﻿@model MainProject.Web.Areas.Admin.Models.Products.ProductManageModel
@{
    Layout = null;
}
<div class="form-group col-xs-4 nopadding">
    <label>Ngôn ngữ</label>
    @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @onchange = "changeParentData(this.value);", @class = "form-control" })
    @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
</div>
<div class="clearfix"></div>

<div class="form-group col-xs-4 nopadding">
    <label>Danh mục cha</label>
    @Html.DropDownListFor(d => d.CategorySelectedValue, Model.Categories, new { @class = "form-control" })
    @Html.ValidationMessageFor(d => d.CategorySelectedValue)
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    function changeParentData(selectedValue) {

        // Get Categories by language
        var request1 = $.ajax({
            url: "/Admin/AdminCommon/GetCategoryProductByLanguage?id=" + selectedValue,
            type: "GET",
        });
        request1.done(function (result) {
            $('#CategorySelectedValue').children().remove();
            $.each(result.Data, function (i, item) {
                $("#CategorySelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
            });
        });
        request1.fail(function (jqXHR, textStatus) {
            alert("Request1 failed: " + textStatus);
        });
    }
</script>
