﻿@model MainProject.Web.Areas.Admin.Models.Branch.BranchViewModel
@{
    Layout = null;
}

<div class="form-group col-xs-4 nopadding">
    <label>Tỉnh/Thành phố</label>
    @Html.DropDownListFor(d => d.CitySelectedValue, Model.Cities, new {@onchange = "changeDistrictByCity(this.value);", @class="form-control" })
    @Html.ValidationMessageFor(d => d.CitySelectedValue)
</div>
<div class="clearfix" ></div>

<div class="form-group col-xs-4 nopadding">
    <label>Quận/Huyện</label>
    @Html.DropDownListFor(d => d.DistrictSelectedValue, Model.Districts, new { @class="form-control" })
    @Html.ValidationMessageFor(d => d.DistrictSelectedValue)
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    function changeDistrictByCity(selectedValue1) {
        //Get Districts List by Province
        var request3 = $.ajax({
            url: "/Admin/AdminCommon/GetDistrictByCity?id=" + selectedValue1,
            type: "GET",
        });
        request3.done(function (result) {
            $('#DistrictSelectedValue').children().remove();
            $("#DistrictSelectedValue").append($('<option></option>').val("0").html("All"));
            $.each(result.Data, function (i, item) {
                $("#DistrictSelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
            });
        });
        request3.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }
</script>
