﻿@using MainProject.Core.Enums
@using MainProject.Framework.Helper
<div class="modal-dialog" id="add-success">
    <span class="close"></span>
    <h3>Sản phẩm đã được thêm vào giỏ hàng!</h3>
    <button class="btn-close-dialog">Đóng</button>
</div>
<div class="modal-dialog" id="order-invalid">
    <span class="close"></span>
    <h3>Thông tin nhập vào không hợp lệ!</h3>
    <button class="btn-close-dialog">Đóng</button>
</div>
<div class="modal-dialog" id="contact-failed">
    <span class="close"></span>
    <h3>Liên hệ không thành công!</h3>
    <button class="btn-close-dialog">Đóng</button>
</div>
<div class="modal-dialog" id="contact-success">
    <span class="close"></span>
    <h3>Chúc mừng bạn đã liên hệ thành công.Chúng tôi sẽ sớm liên lạc lại với bạn!</h3>
    <button class="btn-close-dialog">Đóng</button>
</div>