﻿@model MainProject.Service.Models.ViewModel.Contact.FormModel
@{
    var placeHolderModel = (MainProject.Service.Models.ViewModel.Contact.PlaceholderModel)ViewBag.PlaceHolderModel;
}
<form action="/ContactSubmit" method="Post">
    <div class="intem_input">
        @Html.TextBoxFor(d => d.Name, new { @placeholder = @placeHolderModel.FullNameTitle, autofocus = "autofocus" })
        @Html.ValidationMessageFor(d => d.Name)
        </div>
    <div class="intem_input">
        @Html.TextBoxFor(d => d.Phone, new { @placeholder = @placeHolderModel.PhoneTitle })
        @Html.ValidationMessageFor(d => d.Phone)
    </div>
    <div class="intem_input">
        @Html.TextBoxFor(d => d.Email, new { @placeholder = @placeHolderModel.EmailTitle })
    </div>
    <div class="intem_input">
        @Html.TextAreaFor(d => d.Content, new { @cols = "30", @rows = "10", @placeholder = @placeHolderModel.ContentTitle })
    </div>
    @*<div class="intem_input">
        <div class="g-recaptcha " data-sitekey="6Ldx35kUAAAAAETx1XerF2iRt0SEgtDmhPRSXbGE"></div>
    </div>*@

    <div class="intem_input">
        <button type="submit">Gửi</button>
    </div>
</form>