﻿<!DOCTYPE html>
<html lang="vi-VN" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" @Html.Raw("content='" + ViewBag.MetaDescription + "'")>
    <meta name="keywords" @Html.Raw("content='" + ViewBag.MetaKeywords + "'")>
    <meta property="og:locale" content="@ViewBag.Locale" />
    <meta property="og:type" content="@ViewBag.Type" />
    <meta property="og:title" itemprop="headline" @Html.Raw("content='" + ViewBag.MetaTitle + "'") />
    <meta property="og:description" @Html.Raw("content='" + ViewBag.MetaDescription + "'") />
    <meta property="og:url" content="@ViewBag.Canonical" />
    <meta property="og:site_name" content="@ViewBag.SiteName" />
    <meta property="og:image" content="@ViewBag.MetaImage" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>@Html.Raw(ViewBag.Title)</title>
    <link rel="canonical" href="@ViewBag.Canonical" />
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <!--Css-->
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/a3_lazy_load.min.css" rel="stylesheet" />
    <!--Css-->

    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery-migrate.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    @RenderSection("style", required: false)

    <link rel="stylesheet" type="text/css" href="/Content/layout/resources/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/Content/layout/resources/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="/Content/layout/resources/css/style.css">
    <link rel="stylesheet" href="/Content/layout/resources/css/responsive.css">
</head>
<body data-rsssl="1" class="group-blog full-width-content">
    <div id="index" class="hfeed site">
        @{Html.RenderAction("_ShowHeader", "Home");}
        @RenderBody()
        @{Html.RenderAction("_ShowFooter", "Home");}
        @RenderSection("alertMessage", required: false)

        <ul class="CTA-mobile nav navbar-nav hidden-md-up">
            <li class="nav-item"><a href="https://zalo.me/0929123678"><i class="fa fa-fw fa-zalo color-zalo"></i></a></li>
            <li class="nav-item"><a href="https://m.me/thuongyenvietnam"><i class="fa fa-fw fa-facebook-messenger color-facebook"></i></a></li>
        </ul>
    </div>
    <script src="~/Content/js/scripts.js"></script>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/mediaelement-and-player.min.js"></script>
    <script src="~/Content/js/mediaelement-migrate.min.js"></script>
    <script src="~/Content/js/tether.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/ekko-lightbox.min.js"></script>
    <script src="~/Content/js/jquery.lazyloadxt.extend.js"></script>
    <script src="~/Content/js/placeholderTypewriter.js"></script>
    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/jquery.lazyloadxt.extra.min.js"></script>
    <script src="~/Content/js/jquery.lazyloadxt.srcset.min.js"></script>
    <script src="~/Content/js/wp-embed.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script src="/Content/layout/resources/js/common.js"></script>

    @Html.Raw(TempData["message"])

</body>
</html>
