﻿
@model MainProject.Service.Models.Header.MenuSupportModel
@{
    Layout = null;
}
<ul class="list-unstyled">
    @foreach (var item in Model.ListMenu)
    {
        <li class="@(Model.Order == item.Order ? "active" : "")"><a href="@item.Url"><i class="ty ty-fw ty-record-outline"></i><span>@item.Title</span></a></li>
    }
</ul>
  
