﻿@model MainProject.Service.Models.ViewModel.Home.IndexViewModel
@{
    Layout = null;
}

<div class="mobile-footer-navbar hidden-md-up">
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="/to-yen/" target="_blank"><i class="fa fa-fw fa-nest color-nest text-primary"></i><span>Yến Sào</span></a></li>
        <li class="nav-item"><a href="yen-chung-tuoi/" target="_blank"><i class="fa fa-fw fa-dairy color-dairy text-primary"></i><span>Yến Chưng Tươi</span></a></li>
        <li class="nav-item"><a href="qua-tang/" target="_blank"><i class="fa fa-fw fa-gift color-gift text-primary"></i><span>Quà Doanh Nghiệp</span></a></li>
        <li class="nav-item"><a href="" target="_blank"><i class="fa fa-fw fa-handshake color-dairy text-primary"></i><span>Cam kết mua hàng</span></a></li>
        <li class="nav-item"><a href="tel:02839123678"><i class="fa fa-fw fa-phone alo-ph-img text-info"></i><span>Gọi Hotline</span></a></li>
    </ul>
</div>