﻿@using MainProject.Core.Enums
@using MainProject.Service.Helper
@using MainProject.Framework.Helper
@model MainProject.Service.Models.ViewModel.Footer.FooterViewModel
@{
    Layout = null;
}
<!--footer-->

<a id="alo-phoneIcon" data-toggle="modal" data-target="#aloModal" class="alo-phone alo-green alo-show hidden-sm-down">
    <div class="alo-ph-circle"></div>
    <div class="alo-ph-circle-fill"></div>
    <div class="alo-ph-img-circle"><i class="fa fa-phone"></i></div><span class="alo-ph-text">@ResourceHelper.GetResource(ResourceKeyCollection.CallMe, CultureHelper.GetCurrentLanguage())</span>
</a>
<div id="aloModal" tabindex="-1" role="dialog" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title"> <i class="fa fa-phone"></i><span>Tổng đài tư vấn</span></h5>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 text-xs-center form-call">
                    <div role="form" class="wpcf7" id="wpcf7-f51840-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response" aria-live="polite"></div>
                        <form action="/#wpcf7-f51840-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="51840">
                                <input type="hidden" name="_wpcf7_version" value="5.1.9">
                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f51840-o1">
                                <input type="hidden" name="_wpcf7_container_post" value="0">
                            </div>
                            <h4>
                                Nhập số điện thoại, nhận ngay tư vấn miễn phí!<br>
                            </h4>
                            <div class="form-group col-xs-12 col-md-6 offset-md-3">
                                <span class="wpcf7-form-control-wrap txt-phone"><input type="tel" name="txt-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control" id="phone" aria-required="true" aria-invalid="false" placeholder="0901234567"></span>
                            </div>
                            <p class="col-xs-12">
                                <button type="submit" class="btn btn-primary wpcf7-form-control wpcf7-submit">Tôi muốn được tư vấn</button><span class="ajax-loader"></span>
                            </p>
                            <div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom-function" style="display: none;">
    <a id="messenger" href="https://www.messenger.com/t/thuongyenvietnam" title="Chat trực tiếp với Thượng Yến" class="btn-link"><i class="fa fa-facebook-messenger fa-3x"></i></a>
    <div id="scrollUp" class="scroll-up pull-right"><i class="fa fa-angle-up"></i></div>
</div>

<footer>
    <div class="foot-content">
        <div class="container">
            <div class="main-foot row">
                <div class="col-xs-12 col-md-4">
                    <h3><a href="https://thuongyen.com" onclick="ga('send', 'event', 'trang chủ', 'click footer', 'logo', {'nonInteraction': 1});">Bách An Nhiên</a></h3>
                    @Html.Raw(ResourceHelper.GetResource(ResourceKeyCollection.ContentFooter, CultureHelper.GetCurrentLanguage()))
                    <div class="foot-social">
                        <a href="https://www.facebook.com/Th%C6%B0%E1%BB%A3ng-Y%E1%BA%BFn-%C4%90%E1%BA%B3ng-C%E1%BA%A5p-Y%E1%BA%BFn-S%C3%A0o-Vi%E1%BB%87t-177617696277784/" target="_blank" onclick="ga('send', 'event', 'trang chủ', 'click footer', 'facebook', {'nonInteraction': 1});"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.youtube.com/channel/UCyqXwXTynk_0JFsjpsyGQ6A" target="_blank" onclick="ga('send', 'event', 'trang chủ', 'click footer', 'youtube', {'nonInteraction': 1});"><i class="fa fa-youtube-play"></i></a>
                        <a href="https://www.pinterest.com/yensaocaocapthuongyen/" target="_blank" onclick="ga('send', 'event', 'trang chủ', 'click footer', 'pinterest', {'nonInteraction': 1});"><i class="fa fa-pinterest"></i></a>
                        <a href="https://www.instagram.com/congtythuongyen/" target="_blank" onclick="ga('send', 'event', 'trang chủ', 'click footer', 'instagram', {'nonInteraction': 1});"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h5 class="title">@ResourceHelper.GetResource(ResourceKeyCollection.TitleContactFooter, CultureHelper.GetCurrentLanguage())</h5>
                    <p class="store-item">
                        <a href="tel:0929123678" class="btn-link-secondary" onclick="ga('send', 'event', 'trang chủ', 'click footer', 'hotline', {'nonInteraction': 1});"><i class="fa fa-fw fa-phone"></i>@ResourceHelper.GetResource(ResourceKeyCollection.HotLineContent, CultureHelper.GetCurrentLanguage())</a>
                        @Html.Raw(ResourceHelper.GetResource(ResourceKeyCollection.ContentAddress, CultureHelper.GetCurrentLanguage()))
                    </p>
                    <a href="https://www.dmca.com/Protection/Status.aspx?ID=fd6efee4-8006-4632-b688-55817533faf2&amp;refurl=https://thuongyen.com/" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/DMCA_logo-grn-btn120w.png?ID=fd6efee4-8006-4632-b688-55817533faf2" alt="DMCA.com Protection Status"></a>
                    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
                </div>
                <div class="col-xs-12 col-md-2">
                    <h5 class="title">@ResourceHelper.GetResource(ResourceKeyCollection.TitleMenuSupport, CultureHelper.GetCurrentLanguage())</h5>
                    <ul class="nav">
                        @{
                            foreach (var item in Model.ListMenu)
                            {
                                <li class="nav-item">
                                    <a href="@item.Url" class="nav-link">@item.Title</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3">
                    <a href="https://www.facebook.com/thuongyenvietnam/" target="_blank">
                        <img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/thuongyen-facebook-widget.jpg" alt="Bách An Nhiên - Biếu Có Tâm, Tặng Có Tầm." class="w-100">
                    </a>
                    <!-- <div class="fb-page" data-href="https://www.facebook.com/thuongyenvietnam/" data-tabs="" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/thuongyenvietnam/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/thuongyenvietnam/">Thượng Yến - Biếu Có Tâm, Tặng Có Tầm.</a></blockquote></div> -->
                    <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=40292" target="_blank"><img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/signed-img.png" alt="Đã đăng ký với Bộ công thương" class="img-fluid mt-10 signed-img"></a>
                </div>
            </div>
            <div class="bottom-foot">
                <p class="copyright">© 2023 <a href="https://thuongyen.com/" class="btn-link-secondary"><strong>Bách An Nhiên</strong></a>. All rights reserved.</p>
            </div>
        </div>
        <!-- End footer-->
    </div>
</footer>
<!--end footer-->