﻿@model List<MainProject.Service.Models.SectionModel.Base.Sections.SlideShowImage>
<div class="banner_maincate">
    <div class="banner" id="banner">
        @foreach (var slideShowImage in Model)
        {
            <div class="item_banner">
                <div class="img_bn">
                    <img src="@slideShowImage.Image" alt="@slideShowImage.Alt">
                </div>
                @if (slideShowImage.IsVideo)
                {
                    <div class="video_bn">
                        <div class="ct_video">
                            <h3>Công ty ITC</h3>
                            <div id="video_banner" data-idVideo="@slideShowImage.VideoId"></div>
                        </div>
                    </div>
                }
            </div>
        }
        @*<div class="item_banner">
            <div class="img_bn">
                <img src="/Content/layout/resources/images/hqe-pano1.jpg" alt="">
            </div>
            <div class="video_bn">
                <div class="ct_video">
                    <h3>Công ty ITC</h3>
                    <div id="video_banner" data-idVideo="sGiLLxZLll8"></div>
                </div>
            </div>
        </div>
        <div class="item_banner">
            <div class="img_bn">
                <img src="/Content/layout/resources/images/slide3.jpg" alt="">
            </div>
        </div>*@
    </div>
</div>
