﻿@model MainProject.Web.Areas.Admin.Models.UserGroupManage.UserGroupManageModel
@{
    ViewBag.Title = "Tạo nhóm tài khoản người dùng";
    var ContentBehaviorGroupObjects = (List<MainProject.Web.Areas.Admin.Models.UserGroupManage.ContentBehaviorGroupObject>)ViewBag.ContentBehaviorGroupObjects;    
    int index = 1;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Nhóm tài khoản
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Phân quyền nội dung</a></li>
        <li class="active">Nhóm tài khoản</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
                <!-- right column -->
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Thêm nhóm thành viên</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Create", "UserGroupAdmin", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <strong style="color: red">@Html.ValidationSummary(true)</strong>
              <div class="box-body">
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-success" type="submit">Thêm</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group-name">Tên nhóm
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(d => d.RoleName, new { @class="form-control col-md-7 col-xs-12"})
                        @Html.ValidationMessageFor(d=>d.RoleName)
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="message">Mô tả</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextAreaFor(d => d.RoleDescription, new { @class="form-control col-md-7 col-xs-12"})
                        @Html.ValidationMessageFor(d=>d.RoleDescription)
                  </div>
                </div>
                <div class="form-group">
                    <div class="box-body">
                        <div class="table-responsive">
                          <table class="table table-striped jambo_table bulk_action">
                          <thead>
                            <tr class="headings">
                                <th class="column-title">Quyền </th>
                                <th class="column-title">Tất cả </th>
                                <th class="column-title">Xem </th>
                                <th class="column-title">Thêm</th>
                                <th class="column-title">Sửa </th>
                                <th class="column-title">Xóa </th>
                                <th class="column-title">Chi tiết </th>
                            </tr>
                          </thead>

                          <tbody>
                              @foreach (var obj1 in ContentBehaviorGroupObjects)
                              {
                                <tr class="even pointer">
                                    <td class=" " colspan="7"><strong>@obj1.ContentGroup.GroupName</strong></td>
                                </tr> 
                                foreach (var obj2 in obj1.ContentBehaviorObjects)
                                {
                                    string bgclass = "";
                                    if (index % 2 == 0)
                                    {
                                        bgclass = "even";
                                    }
                                    else
                                    {
                                        bgclass = "odd";
                                    }
                                    index++;
                                    <tr class="@bgclass pointer">
                                        <td class=" ">@obj2.Content.Title</td> 
                                         <!-- In case: Create Errors -> reload already checked CheckAll buttons-->
                                        @if (Model.ViewContentIds!=null)
                                        {
                                            if (Model.ContentIds.Contains(obj2.Content.Id))
                                            {
                                                <td class=" "><input type="checkbox" value="@obj2.Content.Id" class="check-all" name="ContentIds" checked> </td>
                                            }
                                            else
                                            {
                                                <td class=" "><input type="checkbox" value="@obj2.Content.Id" class="check-all" name="ContentIds"> </td>
                                            }
                                        }
                                        else
                                        {
                                            <td class=" "><input type="checkbox" value="@obj2.Content.Id" class="check-all" name="ContentIds"> </td>
                                        }
                                        <!-- Checking available behaviors of content -->
                                        @if(obj2.ViewContentBehavior != null)
                                        {
                                            // In case: Create Errors -> reload already checked contentbehavior
                                            if (Model.ViewContentIds!=null)
                                            {
                                                if (Model.ViewContentIds.Contains(obj2.ViewContentBehavior.Id))
                                                {
                                                    <td class=" "><input type="checkbox" name="ViewContentIds" value="@obj2.ViewContentBehavior.Id" checked></td> 
                                                }
                                                else
                                                {
                                                    <td class=" "><input type="checkbox" name="ViewContentIds" value="@obj2.ViewContentBehavior.Id"></td> 
                                                }
                                            }
                                            else
                                            {
                                                <td class=" "><input type="checkbox" name="ViewContentIds" value="@obj2.ViewContentBehavior.Id"></td> 
                                            }
                                        }
                                        else
                                        {
                                            <td class=" "></td>
                                        }

                                        @if (obj2.CreateContentBehavior != null)
                                        {
                                            if (Model.CreateContentIds != null)
                                            {
                                                if (Model.CreateContentIds.Contains(obj2.CreateContentBehavior.Id))
                                                {
                                                    <td class=" "><input type="checkbox" name="CreateContentIds" value="@obj2.CreateContentBehavior.Id" checked></td> 
                                                }
                                                else
                                                {
                                                    <td class=" "><input type="checkbox" name="CreateContentIds" value="@obj2.CreateContentBehavior.Id"></td> 
                                                }
                                            }
                                            else
                                            {
                                                <td class=" "><input type="checkbox" name="CreateContentIds" value="@obj2.CreateContentBehavior.Id"></td> 
                                            }
                                        }
                                        else
                                        {
                                            <td class=" "></td>
                                        }

                                        @if (obj2.EditContentBehavior != null)
                                        {
                                            if (Model.EditContentIds != null)
                                            {
                                                if (Model.EditContentIds.Contains(obj2.EditContentBehavior.Id))
                                                {
                                                    <td class=" "><input type="checkbox" name="EditContentIds" value="@obj2.EditContentBehavior.Id" checked></td> 
                                                }else
                                                {
                                                    <td class=" "><input type="checkbox" name="EditContentIds" value="@obj2.EditContentBehavior.Id"></td> 
                                                }
                                            }
                                            else
                                            {
                                                <td class=" "><input type="checkbox" name="EditContentIds" value="@obj2.EditContentBehavior.Id"></td> 
                                            }
                                        }
                                        else
                                        {
                                            <td class=" "></td>
                                        }

                                        @if (obj2.DeleteContentBehavior != null)
                                        {
                                            if (Model.DeleteContentIds != null)
                                            {
                                                if (Model.DeleteContentIds.Contains(obj2.DeleteContentBehavior.Id))
                                                {
                                                    <td class=" "><input type="checkbox" name="DeleteContentIds" value="@obj2.DeleteContentBehavior.Id" checked></td> 
                                                }
                                                else
                                                {
                                                    <td class=" "><input type="checkbox" name="DeleteContentIds" value="@obj2.DeleteContentBehavior.Id"></td> 
                                                }
                                            }
                                            else
                                            {
                                                <td class=" "><input type="checkbox" name="DeleteContentIds" value="@obj2.DeleteContentBehavior.Id"></td> 
                                            }
                                        }
                                        else
                                        {
                                            <td class=" "></td>
                                        }

                                        @if (obj2.DetailContentBehavior != null)
                                        {
                                            if (Model.DetailContentIds != null)
                                            {
                                                if (Model.DetailContentIds.Contains(obj2.DetailContentBehavior.Id))
                                                {
                                                    <td class=" "><input type="checkbox" name="DetailContentIds" value="@obj2.DetailContentBehavior.Id" checked></td>
                                                }
                                                else
                                                {
                                                    <td class=" "><input type="checkbox" name="DetailContentIds" value="@obj2.DetailContentBehavior.Id"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td class=" "><input type="checkbox" name="DetailContentIds" value="@obj2.DetailContentBehavior.Id"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td class=" "></td>
                                        }
                                      
                                    </tr>
                                }
                            }
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
              <!-- /.box-body -->
            }
          </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div><!-- /.content-wrapper -->
